<section ng-controller="servicesCtrl" ng-show="grid.rows">
    <div class="entryBoxes">
        <div ng-repeat="service in grid.rows" class="entryBox">
            <div class="header">{{service['name']}}<span>[ {{service['port']}} ]</span></div>
            <div class="body grid">
                <div class="description"><b>External&nbsp;Key&nbsp;Required</b>:&nbsp;{{service['extKeyRequired']}}</div>

                <fieldset ng-repeat="(grp, val) in service.fixList" class="">
                    <legend>{{grp}}</legend>
                    <span ng-if="val.defaultApi"><label>Default Route:</label> {{val.defaultApi}}<br></span>

                <table cellspacing="0" cellpadding="0" border="0" class="serviceApis" style="margin-right:25px ">
                    <tbody>
                        <tr>
                            <th class="labelApi">Label</th>
                            <th class="routeApi">Route </th>
                        </tr>
                        <tr ng-repeat="myApi in val.apis1" ng-class-odd="'sApisOdd'" ng-class-even="'sApisEven'">
                            <td>{{myApi.l}}
                            </td>
                            <td><span>{{myApi.v}}</span>
                            </td>
                        </tr>
                        </tbody>
                </table>
                    <table ng-if="val.apis2.length>0" cellspacing="0" cellpadding="0" border="0" class="serviceApis">
                        <tbody>
                            <tr>
                                <th class="labelApi">Label</th>
                                <th class="routeApi">Route </th>
                            </tr>
                            <tr ng-repeat="myApi in val.apis2" ng-class-odd="'sApisOdd'" ng-class-even="'sApisEven'">
                                <td>{{myApi.l}}</td>
                                <td class=""><span>{{myApi.v}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</section>