<section ng-controller="servicesCtrl">
    <script type="text/ng-template" id="serviceInfoBox.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <div ng-bind-html="text"></div>
            <!--<pre ng-if="data"><code class="javascript">{{data}}</code></pre>-->
            <!--<progressbar ng-if="!data" class="progress-striped active" value="progress.value" type="info">{{progress.value}}%</progressbar>-->
        </div>
        <div class="modal-footer" ng-if="data">
            <button class="btn btn-primary" ng-click="deploy()">Deploy</button>
            <button class="btn btn-danger" ng-click="ok()">Close</button>
        </div>
    </script>
    <!--<input class="btn btn-primary" ng-click="addService()" value="Add New Service"/>&nbsp;-->
    <input class="btn btn-primary" ng-click="uploadService()" value="Create Custom Service"/><br /><br/>
    <div class="entryBoxes" ng-show="grid.rows">
        <div id="s_{{service._id}}" ng-repeat="service in grid.rows" class="entryBox">
            <div class="header"><a href="" ng-click="showHide(service)"><span class="icon icon-{{service.icon || 'minus'}}"></span></a>{{service['name']|uppercase}}<span>[ {{service['port']}} ]</span>
                <b>External&nbsp;Key&nbsp;Required</b>:<span>{{service['extKeyRequired']}}</span>
                <b>Request Timeout</b>:<span>{{service['requestTimeout']}}</span>
                <b>Request Timeout Renewal</b>:<span>{{service['requestTimeoutRenewal']}}</span>
                <b>Awareness</b>:<span>{{service['awareness'] || false}}</span>
            </div>
            <div class="entryAction">
                <a href="" ng-click="editService(service);" ng-if="access.update">
                    <span class="icon icon-pencil2" tooltip="Edit Service"></span>
                </a>
            </div>
            <div class="body grid">
                <fieldset ng-repeat="(grp, val) in service.fixList" class="">
                    <legend>{{grp}}</legend>
                    <span ng-if="val.defaultApi"><label>Default Route:</label> {{val.defaultApi}}<br></span>

                    <table cellspacing="0" cellpadding="0" border="0" class="serviceApis" style="margin-right:25px ">
                        <tbody>
                            <tr>
                                <th class="labelApi">Label</th>
                                <th class="routeApi">Route</th>
                            </tr>
                            <tr ng-repeat="myApi in val.apis1" ng-class-odd="'sApisOdd'" ng-class-even="'sApisEven'">
                                <td>{{myApi.l}}
                                </td>
                                <td><span>{{myApi.v}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table ng-if="val.apis2.length>0" cellspacing="0" cellpadding="0" border="0" class="serviceApis">
                        <tbody>
                            <tr>
                                <th class="labelApi">Label</th>
                                <th class="routeApi">Route</th>
                            </tr>
                            <tr ng-repeat="myApi in val.apis2" ng-class-odd="'sApisOdd'" ng-class-even="'sApisEven'">
                                <td>{{myApi.l}}</td>
                                <td class=""><span>{{myApi.v}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</section>