<section ng-controller="servicesCtrl" ng-show="grid.rows">
    <div class="entryBoxes entryBoxesGrid">
        <div ng-repeat="service in grid.rows" class="dbBox">
            <div class="head">
                <h4>{{service.name}}</h4>
                <span class="rightActions">
                    [&nbsp;{{service.port}}&nbsp;]
                </span>
            </div>
            <div class="info2">
                <b>External Key Required:</b>&nbsp;{{service.extKeyRequired}}<br /><br />
                <ul class="apisList">
                    <li ng-repeat="api in service.apis">
                        <b>Label</b>:{{api.l}}<br />
                        <b>Route</b>:{{api.v}}<br />
                        <b>Group</b>:{{api.group}}<br />
                        <span ng-if="api.groupMain"><b>Group Default</b>:{{api.groupMain}}<br /></span>
                        <br/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>