<div class="body listApis" ng-class="{openApis: currentApplication.aclFill[oneEnv.code][service.name].include===true && currentApplication.aclFill[oneEnv.code][service.name].collapse===false }">
	<div>
        <span>
            <input ng-disabled="service.forceRestricted" ng-click="applyRestriction(service, oneEnv.code)" type="checkbox" name="apisRestrictPermission_{{service.name}}" ng-model="currentApplication.aclFill[oneEnv.code][service.name].apisRestrictPermission" ng-checked="currentApplication.aclFill[oneEnv.code][service.name].apisRestrictPermission===true || service.forceRestricted" value="restricted"/>
        </span>
		<span><b>{{translation.restrictAccessSelectedApis[LANG]}}</b></span>
		<fieldset ng-repeat="(grp, val) in service.fixList">
			<legend>{{grp}}</legend>
			<span ng-show="currentApplication.aclFill[oneEnv.code][service.name].apisRestrictPermission">
				<a href="" ng-click="selectAll(service, oneEnv.code, grp)">Select all</a> |
				<a href="" ng-click="removeAll(service, oneEnv.code, grp)">Remove all</a>
			</span>
			<div ng-if="val.apisRest">
				<fieldset ng-repeat="(method, apisList) in val.apisRest">
					<legend class="perMethod">{{method}}</legend>

					<div class="clearfix apiListing-container">
						<div ng-repeat="myApi in apisList" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}">
							<div class="apiListing clearfix">
								<div class="apiLabel">
									<input id="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{method}}_{{$index}}" ng-click="checkForGroupDefault(service,grp,val,myApi, oneEnv.code)" ng-disabled="(val.defaultApi && myApi.groupMain!==true && (val.defaultIncluded===false))" type="checkbox" value="true" ng-model="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].include" ng-show="currentApplication.aclFill[oneEnv.code][service.name].apisRestrictPermission"/>
									<label for="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{method}}_{{$index}}" title="{{myApi.v}}">{{myApi.l}}</label>
								</div>
								<div class="apiAccess" ng-hide="(currentApplication.aclFill[oneEnv.code][service.name].apisRestrictPermission && (currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].include!==true))">
									<div class="f-left">
		                                <span style="padding-left: 0px">
		                                    <input ng-model="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType" value="clear" type="radio" id="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{method}}_{{$index}}_clear"/>
		                                    <em>{{translation.InheritFromService[LANG]}}</em>
		                                </span>
		                                <span>
		                                    <input ng-model="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType" value="public" type="radio"/> {{translation.public[LANG]}}
		                                </span>
		                                <span>
		                                    <input ng-model="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType" value="private" type="radio"/> {{translation.private[LANG]}}
		                                </span>
		                                <span>
		                                    <input ng-model="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType" value="groups" type="radio" ng-checked="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType==='groups'"/> {{translation.groups[LANG]}}
		                                </span>
									</div>
									<div class="grpsListingScroll" ng-class="{smallGrpsListingScroll: allGroups.length<3}"
									     ng-show="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType==='groups'">
										<ul class="grpsListing">
											<li ng-repeat="code in allGroups" ng-class-even="'evenLi'" ng-class-odd="'oddLi'">
												<input ng-model="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v].grpCodes[code]" ng-checked="currentApplication.aclFill[oneEnv.code][service.name][method].apis[myApi.v]['access'].indexOf(code)>-1" type="checkbox" value="{{code}}"/>
												<span>{{code}}</span>
											</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<div ng-if="!val.apisRest" class="clearfix apiListing-container">
				<div ng-repeat="myApi in val.apis| orderBy:'groupMain' " ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}">
					<div class="apiListing clearfix">
						<div class="apiLabel">
							<input id="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{$index}}" ng-click="checkForGroupDefault(service,grp,val,myApi, oneEnv.code)" ng-disabled="(val.defaultApi && myApi.groupMain!==true && (currentApplication.aclFill[oneEnv.code][service.name].apis[val.defaultApi].include!==true))" type="checkbox" value="true" ng-model="currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v].include" ng-show="currentApplication.aclFill[oneEnv.code][service.name].apisRestrictPermission"/>
							<label for="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{$index}}" title="{{myApi.v}}">{{myApi.l}}</label>
						</div>
						<div class="apiAccess" ng-hide="(currentApplication.aclFill[oneEnv.code][service.name].apisRestrictPermission && (currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v].include!==true))">
							<div class="f-left">
                                <span style="padding-left: 0px;">
                                    <input ng-model="currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType" value="clear" type="radio" id="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{$index}}_clear"/>
                                    <em>{{translation.InheritFromService[LANG]}}</em>
                                </span>
                                <span>
                                    <input ng-model="currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType" value="public" type="radio"/>
	                                {{translation.public[LANG]}}
                                </span>
                                <span>
                                    <input ng-model="currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType" value="private" type="radio"/>
	                                {{translation.private[LANG]}}
                                </span>
                                <span>
                                    <input ng-model="currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType" value="groups" type="radio"/>
	                                {{translation.groups[LANG]}}
                                </span>
							</div>
							<div class="grpsListingScroll" ng-class="{smallGrpsListingScroll: allGroups.length<3}" ng-show="currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType==='groups'">
								<ul class="grpsListing">
									<li ng-repeat="code in allGroups" ng-class-even="'evenLi'" ng-class-odd="'oddLi'">
										<input ng-model="currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v].grpCodes[code]" ng-checked="currentApplication.aclFill[oneEnv.code][service.name].apis[myApi.v]['access'].indexOf(code)>-1" type="checkbox" value="{{code}}"/>
										<span>{{code}}</span>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>