<section>
    <div class='form' ng-controller="tenantApplicationAcl as formCtrl">
        <form novalidate="" class="css-form ng-pristine" name="">
            <div class="header"><h3>{{translation.updateACLTenantApplication[LANG]}}</h3></div>
            <div class="body">
                <div ng-if="msg.type">
                    <alert type="{{msg.type}}">{{msg.msg}}</alert>
                    <br>
                </div>
                <tabset>
                <tab ng-repeat="oneEnv in environments_codes" heading="{{oneEnv.code}}"><br>
                <label>{{translation.productPackage[LANG]}}:</label> {{currentApplication.package}}<br /><br />
                <div id="application-ApiList" class="entryServiceBoxes">
                    <div ng-repeat="(sName, service) in currentApplication.servicesEnv[oneEnv.code]" class="service-container clearfix">
                        <div class="serviceNameHead clearfix">
                            <div ng-include="'modules/dashboard/multitenancy/directives/service-name.tmpl'"></div>
                        </div>
                        <div ng-include="'modules/dashboard/multitenancy/directives/api-permission.tmpl'"></div>
                    </div>
                </div>
                </tab>
                </tabset>
            </div>
            <div class="footer"><br />
                <input ng-confirm-click="{{translation.areUASureUWantClearAcl[LANG]}}" type="reset" class="btn btn-sm btn-danger" ng-click="clearAcl()" value="Empty ACL" />
                <input type="submit" class="btn btn-sm btn-primary" ng-click="saveACL()" value="Save ACL" />
            </div>
        </form>
    </div>
</section>