<div class="serviceName">
	<input type="checkbox" ng-model="currentApplication.aclFill[oneEnv.code][service.name].include" value="{{service.name}}" ng-click="selectService(service, oneEnv.code)"/>
	<b><a href="">{{service.name}}</a></b>
</div>
<div ng-show="currentApplication.aclFill[oneEnv.code][service.name].include" style="float: left;">
	<div style="float: left">
        <span style="padding-left: 15px;">
            <input ng-model="currentApplication.aclFill[oneEnv.code][service.name].accessType" value="public" type="radio"/> {{translation.public[LANG]}}
        </span>
        <span style="padding-left: 40px;">
            <input ng-model="currentApplication.aclFill[oneEnv.code][service.name].accessType" value="private" type="radio"/> {{translation.private[LANG]}}
        </span>
        <span style="padding-left: 40px;">
            <input type="radio" ng-model="currentApplication.aclFill[oneEnv.code][service.name].accessType" value="groups"/> {{translation.groups[LANG]}}
        </span>
	</div>
	<div class="grpsListingScroll" ng-class="{smallGrpsListingScroll: allGroups.length<3}" ng-show="currentApplication.aclFill[oneEnv.code][service.name].accessType=='groups' ">
		<ul class="grpsListing">
			<li ng-repeat="code in allGroups" ng-class-even="'evenLi'" ng-class-odd="'oddLi'">
				<input type="checkbox" value="{{code}}" ng-model="currentApplication.aclFill[oneEnv.code][service.name].grpCodes[code]" ng-checked="currentApplication.aclFill[oneEnv.code][service.name]['access'].indexOf(code)>-1"/>
				{{code}}
			</li>
		</ul>
	</div>
</div>
<div style="float:right;" ng-show="currentApplication.aclFill[oneEnv.code][service.name].include">
	<a href="" ng-click="minimize(service, oneEnv.code)" ng-show="currentApplication.aclFill[oneEnv.code][service.name].collapse===false">
		<span class="icon icon-minus" tooltip="{{translation.minimize[LANG]}}"></span>
	</a>
	<a href="" ng-click="expand(service, oneEnv.code)" ng-show="currentApplication.aclFill[oneEnv.code][service.name].collapse===true">
		<span class="icon icon-plus" tooltip="{{translation.expand[LANG]}}"></span>
	</a>
</div>