<div id="footer">
    <div class="separator"></div>
    <div class="content">
        <ul class="menu">
            <li><a target="_self" href="#">Home</a></li>
            <li class="sep">|</li>
            <li><a href="#" target="_blank"> Help</a></li>
            <li class="sep">|</li>
            <li><a target="_blank" href="#">Support</a></li>
            <li class="sep">|</li>
            <li><a href="#">Privacy</a></li>
            <li class="sep">|</li>
            <li><a href="#">Legal Disclaimer</a></li>
        </ul>
        <div class="copyright">Copyright &#169; SOAJS. All Rights Reserved. <b>[v1.0]</b></div>
    </div>
</div>