<div id="header">
    <div class="content">
        <div id="logo">LOGO</div>
        <div id="notifications">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <user-menu></user-menu>
    </div>
    <div class="separator"></div>
</div>
<main-menu></main-menu>
<tracker></tracker>
