<div id="userMenu">
	<div ng-controller="welcomeCtrl">
		<div ng-show="loggedIn">
			<ul>
				<li ng-repeat="link in userMenu.links"><a href="{{link.url}}"
					ng-click="userMenu.activateMenu(link)"
					ng-class="{active: link.url === userMenu.selectedMenu}">{{link.label}}</a>
				</li>
			</ul>

		</div>
		
		<div ng-show="guest">
			<ul>
				<li ng-repeat="link in guestMenu.links"><a href="{{link.url}}"
					ng-click="guestMenu.activateMenu(link)"
					ng-class="{active: link.url === guestMenu.selectedMenu}">{{link.label}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>