<div ng-if="access.tenant.oauth.users.list" class="clearfix">
    <label>{{translation.tenantoAuthUsers[LANG]}}</label>

    <a ng-if="access.tenant.oauth.users.add" class="btn btn-sm btn-primary" ng-click="addThisOauthUser()">{{translation.addoAuthUser[LANG]}}</a>
    <br/>

    <div class="grid oAuthUsers">
        <table ng-if="oAuthUsers.list.length > 0" cellspacing="0" cellpadding="0" border="0" width="100%" class="">
            <tbody>
                <tr>
                    <th colspan="2"></th>
                    <th>{{translation.userID[LANG]}}</th>
                    <th>{{translation.authorization[LANG]}}</th>
                </tr>
                <tr ng-repeat="user in oAuthUsers.list" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:extnlKey.selected}">

                    <td class="leftAction">
                        <a ng-if="access.tenant.oauth.users.update" href="" ng-click="editMyOauthUser(user)">
                            <span class="icon icon-pencil2" tooltip="{{translation.editoAuthUser[LANG]}}"> </span>
                        </a>
                    </td>
                    <td class="leftAction">
                        <a ng-if="access.tenant.oauth.users.delete" href="" ng-confirm-click="{{translation.areYouSureRemoveUser[LANG]}}" ng-click="removeTenantOauthUser(user);">
                            <span class="icon icon-cross" tooltip="{{translation.removeoAuthUser[LANG]}}"> </span>
                        </a>
                    </td>
                    <td>
                        {{user['userId']}}
                    </td>
                    <td>
                        {{tenant.oauth.authorization}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="oAuthUsers.list.length == 0">
            <alert type="warning">{{translation.noAauthUsersAdded[LANG]}}</alert>
        </div>
    </div>
</div>