<form id="tenantInfo" novalidate="" class="css-form" name="">
	<div class="body">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr class="form-group ng-scope">
					<td class="ng-scope">
						<label class="ng-binding">{{translation.name[LANG]}}</label>
						<input type="text" ng-required="true" tooltip="{{translation.formTentNameToolTip[LANG]}}." placeholder="{{translation.formTntNamePlaceHolder[LANG]}}" ng-model="tenant.name" name="name" class="form-control" required="required"/>
					</td>
				</tr>
				<tr class="form-group ng-scope">
					<td class="ng-scope">
						<label class="ng-binding">{{translation.description[LANG]}}</label>
						<textarea tooltip="{{translation.formDescriptionTenantToolTip[LANG]}}" placeholder="{{translation.formTentDescriptionPlaceHolder[LANG]}}" class="form-control" ng-model="tenant.description" rows="5" name="description" id="iddescription"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="footer"><br/>
		<input ng-if="access.tenant.update" type="submit" class="btn btn-sm btn-primary" ng-click="saveTenant()" value="{{translation.updateTenant[LANG]}}"/>
		<input ng-if="access.tenant.oauth.update && tenant.oauth.secret" type="submit" class="btn btn-sm btn-primary" ng-click="updateOAuth()" value="{{translation.updateOAuth[LANG]}}"/>
		<input ng-if="access.tenant.oauth.update && !tenant.oauth.secret" type="submit" class="btn btn-sm btn-primary" ng-click="updateOAuth()" value="{{translation.turnOnOAuth[LANG]}}"/>
		<input ng-if="access.tenant.oauth.update && tenant.oauth.secret" type="submit" class="btn btn-sm btn-danger" ng-click="turnOffOAuth()" value="{{translation.turnOffOAuth[LANG]}}"/>
	</div>
</form>