<div class="keysAccordion">
	<accordion close-others="true" ng-show="application.keys.length > 0">
		<accordion-group ng-repeat="key in application.keys">
			<accordion-heading tooltip="Display Key Information"><span class="icon icon-key"></span>{{key.key}}
				<a ng-if="access.tenant.appKeys.delete" href="" ng-click="removeAppKey(application, key.key, $event)" ng-style="{'float': 'right'}" tooltip="{{translation.removeApplicationKey[LANG]}}" ng-confirm-click="{{translation.areYouSureYouWantDeleteKey[LANG]}}">
					<span class="icon icon-cross" tooltip="Remove Key"></span>
				</a>
			</accordion-heading>
			<tabset>
				<tab heading="{{translation.keyEnvironmentConfiguration[LANG]}}" ng-if="access.tenant.appKeys.listConfig">
					<br/>

					<div class="entryBoxes entryBoxesGrid" id="keyConfig{{$index}}">
						<br/>

						<div ng-repeat="enCode in availableEnv">
							<div class="entryBox greyBox" ng-class="{ blueBox: key.config[enCode] }">
								<b>{{enCode}} {{translation.environment[LANG]}}</b>&nbsp;&nbsp;
								<a ng-if="access.tenant.appKeys.updateConfig" href="" ng-click="updateConfiguration(application['appId'], key.key, enCode, key.config[enCode]);">
									<span class="icon icon-pencil" tooltip="{{translation.editServiceConfiguration[LANG]}}"></span>
								</a>
								<a ng-if="access.tenant.appKeys.updateConfig" ng-show="key.config[enCode]" href="" ng-click="emptyConfiguration(application['appId'], key.key, enCode);">
									<span class="icon icon-bin" tooltip="{{translation.emptyServiceConfiguration[LANG]}}"></span>
								</a>
							</div>
						</div>
						<br/>
					</div>
				</tab>
				<tab heading="{{translation.externalKeys[LANG]}}" ng-if="access.tenant.externalKeys.list">
                    <span ng-if="access.tenant.externalKeys.add"><br/>
                        <button ng-click="addNewExtKey(application['appId'], key.key, application['package'])" class="btn btn-primary btn-sm">
	                        {{translation.addNewApplicationExternalKey[LANG]}}
                        </button>
                    </span>
					<br/>

					<div class="small-text" id="externalKeys{{$index}}">
						<ul style="display:none;">
							<li ng-repeat="extnlKey in key.extKeys">
								<span style="word-break: break-all;">{{extnlKey.extKey|trimmed100}}</span>
							</li>
						</ul>
						<nglist></nglist>
						<div class="grid externalKeysGrid" ng-show="key.extKeys.length>0">
							<table cellspacing="0" cellpadding="0" border="0" width="100%" class="">
								<tbody>
									<tr>
										<th colspan="2"></th>
										<th> {{translation.externalKey[LANG]}}</th>
										<th> {{translation.dashboardAccess[LANG]}}</th>
										<th> {{translation.environment[LANG]}}</th>
										<th class="text-align-center width100"> {{translation.status[LANG]}}</th>
										<th> {{translation.expiryDate[LANG]}}</th>
									</tr>
									<tr ng-repeat="extnlKey in key.extKeys" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:extnlKey.selected}">
										<td class="leftAction">
											<a ng-if="access.tenant.externalKeys.update" ng-click="editExtKey(application['appId'], extnlKey, key.key)" href="">
												<span class="icon icon-pencil2" tooltip="{{translation.editExternalKey[LANG]}}"></span>
											</a>
										</td>
										<td class="leftAction">
											<a ng-if="access.tenant.externalKeys.delete" ng-click="removeExtKey(application['appId'], extnlKey, key.key)" ng-confirm-click="{{translation.areYouSureWantRemoveExternalKey[LANG]}}" href="">
												<span class="icon icon-cross" tooltip="{{translation.removeExternalKey[LANG]}}"></span>
											</a>
										</td>
										<td> {{extnlKey.extKey}}</td>
										<td class="text-align-center" ng-if="extnlKey['dashboardAccess']">
											{{translation.yes[LANG]}}
										</td>
										<td class="text-align-center" ng-if="!extnlKey['dashboardAccess']">
											{{translation.no[LANG]}}
										</td>
										<td> {{extnlKey.env}}</td>
										<td ng-if="extnlKey.deprecated" class="text-align-center deprecated"><span class="icon icon-cross"></span>{{translation.deprecated[LANG]}}</td>
										<td ng-if="!extnlKey.deprecated" class="text-align-center valid"><span class="icon icon-checkmark"></span>{{translation.valid[LANG]}}</td>
										<td> {{extnlKey.expDate|date}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</tab>
			</tabset>
		</accordion-group>
	</accordion>
</div>
