<section ng-controller="settingsCtrl">
	<div class="">
		<div class="entryBox entryOneBox">
			<div class="header">
				{{tenant['name']}}<span>[ {{tenant['code']}} ]</span>
			</div>
			<div class="body">
				<div ng-include="'modules/dashboard/settings/directives/list-tenant-info.tmpl'"></div>
				<hr/>
				<br/>

				<div ng-if="tenant.oauth.secret && tenant.oauth.secret!=='' && tenant.oauthType==='miniurac'" ng-include="'modules/dashboard/settings/directives/list-oauth-users.tmpl'"></div>

				<div ng-if="access.tenant.application.list"><br/><br/>
					<label>{{translation.tenantApplications[LANG]}}</label>
					<br/>

					<ul class="blueListing">
						<li class="blueLi" ng-repeat="application in tenant.applications" class="row-list">
							<span ng-hide="tenant.applications.length === 1">
								<a ng-click="openKeys(application)" href="" ng-hide="application.showKeys">
									<span class="icon icon-plus" tooltip="{{translation.expandApplications[LANG]}}"></span>
								</a>
								<a ng-click="closeKeys(application)" href="" ng-show="application.showKeys">
									<span class="icon icon-minus" tooltip="{{translation.collapseApplications[LANG]}}"></span>
								</a>
							</span>

							<span class="icon icon-star-full" ng-if="application['dashboardAccess']"></span>[{{application['package']}}]
							&nbsp;
							<span title="TTL">( {{application['_TTL'] | TTL}} {{translation.hours[LANG]}} )</span>

							<div class="appKeys" id="appKeys{{application['appId']}}" ng-show="application.showKeys || tenant.applications.length === 1">
								<em>{{application['description']}}</em>

								<div ng-if="access.tenant.appKeys.list">
									<div style="clear:both; height:30px; padding-bottom:5px;"><b>{{translation.tenantApplicationKeys[LANG]}}</b>
										<a ng-if="access.tenant.appKeys.add" href="" class="btn btn-primary btn-sm btn-ssm" ng-click="addNewKey( application['appId'])" tooltip="{{translation.addNewApplicationKey[LANG]}}">
											{{translation.addkey[LANG]}}
										</a>
									</div>
									<div ng-include="'modules/dashboard/settings/directives/list-app-keys.tmpl'"></div>
								</div>
							</div>
						</li>
					</ul>
					<div ng-if="tenant.applications == 0">
						<alert type="warning">{{translation.noApplicationsAdded[LANG]}}</alert>
					</div>
					<hr/>
				</div>
			</div>
		</div>
	</div>
</section>