<div class="body listApis" ng-class="{'openApis': openApi(application, service.name, oneEnv.code) }">
	<div>
        <span>
            <input ng-disabled="application.aclFill[oneEnv.code][service.name].forceRestricted" ng-click="applyRestriction(application.aclFill[oneEnv.code], service)" type="checkbox" name="apisRestrictPermission_{{service.name}}" ng-model="application.aclFill[oneEnv.code][service.name].apisRestrictPermission" value="true"/>
	        &nbsp;<b>{{translation.restrictAccessSelectedApis[LANG]}}</b>
        </span>
		<fieldset ng-repeat="(grp, val) in service.fixList">
			<legend>{{grp}}</legend>
			<div ng-if="val.apisRest">
				<fieldset ng-repeat="(method, apisList) in val.apisRest">
					<legend class="perMethod">{{method}}</legend>
					<div class="apiListing-container clearfix">
						<div class="apiListing clearfix" ng-repeat="myApi in apisList" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}">
							<div class="apiLabel">
								<input id="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{method}}_{{$index}}" ng-click="checkForGroupDefault(application.aclFill[oneEnv.code],service,grp,val,myApi)" ng-disabled="(val.defaultApi && myApi.groupMain!==true && val.defaultIncluded===false)" type="checkbox" value="true" ng-model="application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].include" ng-show="application.aclFill[oneEnv.code][service.name].apisRestrictPermission"/>
								<label for="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{method}}_{{$index}}" title="{{myApi.v}}">{{myApi.l}}</label>
							</div>

						</div>
					</div>
				</fieldset>
			</div>
			<div ng-if="!val.apisRest" class="apiListing-container clearfix">
				<div class="apiListing clearfix" ng-repeat="myApi in val.apis| orderBy:'groupMain' " ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}">
					<div class="apiLabel">
						<input id="{{oneEnv.code}}_{{service.name}}_{{method}}_{{$index}}" ng-click="checkForGroupDefault(application.aclFill[oneEnv.code],service,grp,val,myApi)" ng-disabled="(val.defaultApi && myApi.groupMain!==true && (application.aclFill[oneEnv.code][service.name].apis[val.defaultApi].include!==true))" type="checkbox" value="true" ng-model="application.aclFill[oneEnv.code][service.name].apis[myApi.v].include" ng-show="application.aclFill[oneEnv.code][service.name].apisRestrictPermission"/>
						<label for="{{oneEnv.code}}_{{service.name}}_{{method}}_{{$index}}" title="{{myApi.v}}">{{myApi.l}}</label>
					</div>

				</div>
			</div>
		</fieldset>
	</div>
</div>