<div class="serviceName">
	<input type="checkbox" ng-model="application.aclFill[oneEnv.code][sName].include" value="{{application.package + '_' + sName}}"
	       ng-click="selectService(application, service, oneEnv.code)"/>
	<b> <a href="">{{sName}}</a></b>
</div>
<div ng-show="application.aclFill[oneEnv.code][sName].include" style="float: left;">
	<div style="float: left;">
        <span style="padding-left: 40px;">
            <input ng-model="application.aclFill[oneEnv.code][sName].accessType" value="private" type="radio"/>
	        {{translation.private[LANG]}}
        </span>
	</div>

</div>
</div>
<div style="float:right;" ng-show="application.aclFill[oneEnv.code][sName].include">
	<a href="" ng-click="minimize(application, service, oneEnv.code)" ng-show="application.aclFill[oneEnv.code][sName].collapse===false">
		<span class="icon icon-minus" tooltip="{{translation.minimize[LANG]}}"></span>
	</a>
	<a href="" ng-click="expand(application, service, oneEnv.code)" ng-show="application.aclFill[oneEnv.code][sName].collapse===true">
		<span class="icon icon-plus" tooltip="{{translation.expand[LANG]}}"></span>
	</a>
</div>