<section>
	<div class='form' ng-controller="changeSecurityCtrl as formCtrl">
		<div class="t-right">
			<a ng-click="changeEmail();" href="">{{translation.changEmail[LANG]}}</a> |
			<a ng-click="changePassword();" href="">{{translation.changePassword[LANG]}}</a>
		</div>
	</div>
	<br>
	<div class='form' ng-controller="myAccountCtrl as formCtrl">
		<ngform></ngform>
	</div>
</section>