<div id="wizardStep1" ng-show="steps.indexOf(true) === 0">
    <div ng-show="!nextStep" class="redFlag t-left">{{translation.youDoNotHaveClustersConfiguredPlease[LANG]}} <a class ="lowercase" href="#/environments">{{translation.environments[LANG]}}</a> {{translation.sectionConfigureAtLeastOneClusterProceedSection[LANG]}}</div>
    <div class="w100 c-both">
        <p>{{translation.followingWizardProvide4StepsThatAssist[LANG]}}</p>
    </div>
    <div class="w100 table">
        <div class="w90 table-cell">
            <div class="form-group">
                <label>{{translation.serviceName[LANG]}}:</label>
                <input ng-disabled="editMode" class="form-control" ng-model="config.name" type="text" tooltip="{{translation.enterNameServiceYouAreAboutCreate[LANG]}}"
                       placeholder="{{translation.myService[LANG]}}" ng-required="true"/>
            </div>
            <div>
                <label>{{translation.createNewDatabase[LANG]}}</label><br/>
                <input ng-model="config.genericService.config.extKeyRequired" type="radio" value="true" tooltip="{{translation.specifyIfServiceMultitenantNot[LANG]}}" data-ng-value="true" ng-click="renderServiceMultiTenant(true);"/>
                Yes<em>&nbsp;&nbsp;( {{translation.createsNewMultitenantDatabaseSameNameService[LANG]}} )</em><br/>
                <input ng-model="config.genericService.config.extKeyRequired" type="radio" value="false" tooltip="{{translation.specifyIfServiceMultitenantNot[LANG]}}" data-ng-value="false" ng-click="renderServiceMultiTenant(false);"/>
                No<em>&nbsp;&nbsp;( {{translation.specifyDatabaseUseEveryEnvironment[LANG]}} )</em><br/>
            </div>
            <div ng-show="config.genericService.config.extKeyRequired === false">
                <label>{{translation.selectDatabaseToUse[LANG]}}:</label>
                <tabset>
                    <tab heading="{{env.name}}" ng-repeat="env in envList">
                        <div class="entryBoxes entryBoxesGrid">
                            <div ng-repeat="(dbName, dbInfo) in env.databases track by dbName" class="dbBox">
                                <div class="head">
                                    <h4>{{dbName}}</h4>
                                        <span class="rightActions">
                                            <input type="radio" ng-model="config.dbtoUse[env.name]" value="{{dbName}}"/>
                                        </span>
                                </div>
                                <div class="info2">
                                    <b>{{translation.cluster[LANG]}}:</b>&nbsp;{{dbInfo['cluster']}}<br/>
                                    <b>{{translation.tenantSpecific[LANG]}}:</b>&nbsp;{{dbInfo['tenantSpecific']}}
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div ng-show="config.genericService.config.extKeyRequired === true">
                <label>{{translation.selectClusterToUse[LANG]}}:</label>
                <tabset>
                    <tab heading="{{env.name}}" ng-repeat="env in envList"><br/>
                        &nbsp;&nbsp;&nbsp;<b>{{translation.tenantSpecific[LANG]}}:</b>&nbsp;<input type="checkbox" data-ng-value="true" ng-model="config.clustertoUse[env.name].tenantSpecific"/>&nbsp;{{translation.yes[LANG]}}<br/>

                        <div class="entryBoxes entryBoxesGrid">
                            <div ng-repeat="(clusterName, clusterInfo) in env.clusters track by clusterName" class="dbBox">
                                <div class="head">
                                    <h4>{{clusterName}}</h4>
                                    <span class="rightActions">
                                        <input type="radio" ng-model="config.clustertoUse[env.name].cluster" value="{{clusterName}}"/>
                                    </span>
                                </div>
                                <div class="info">
                                    <div ng-bind-html="clusterInfo|object"></div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
        <div class="w10 table-cell">
            <a ng-show="nextStep" href="" ng-click="validateStep1()"><span class="npicons icon icon-circle-right"></span></a>
        </div>
    </div>
</div>