<div id="wizardStep4" ng-show="steps.indexOf(true) === 3">
    <script type="text/ng-template" id="APIForm.html">
        <div class="modal-body wizardForm">
            <ngform></ngform>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="done()">{{translation.done[LANG]}}</button>
            <button class="btn btn-danger" ng-click="cancel()">{{translation.cancel[LANG]}}</button>
        </div>
    </script>

    <div class="w100 table">
        <div class="table-cell w10">
            <a href="" ng-click="goBack()"><span class="npicons icon icon-circle-left"></span></a>
        </div>
        <div class="w90 table-cell">
            <input type="button" class="btn btn-sm btn-primary" value="{{translation.addNewAPI[LANG]}}" ng-click="addAPI()"/><br /><br />
            <em>{{translation.addManageAPIThatYourServiceDisposes[LANG]}}<br />{{translation.whileManagingAPIYouCanPickInputs[LANG]}}</em>
            <hr/>
            <div class="entryBoxes entryBoxesGrid" style="height:100px;">

                <div class="dbBox w20i" ng-repeat="(apiName, apiInfo) in config.soajsService.apis track by $index">
                    <div class="head">
                        <b><span class="icon icon-cog"></span>{{config.genericService.config.schema[apiName]._apiInfo.l}}</b>&nbsp;<span ng-show="config.genericService.config.schema[apiName]._apiInfo.groupMain" class="icon icon-star-full"></span>
                        <span class="rightActions">
                            <a href="" ng-click="editAPI(apiName, apiInfo);">
                                <span class="icon icon-pencil" tooltip="{{translation.updateAPI[LANG]}}"></span>
                            </a>
                            <a href="" ng-confirm-click="{{translation.areYouSureYouWantRemoveAPI[LANG]}}" ng-click="removeAPI(apiName);">
                                <span class="icon icon-cross" tooltip="{{translation.removeAPI[LANG]}}"></span>
                            </a>
                        </span>
                    </div>
                    <div class="info">
                        <b>{{translation.group[LANG]}}:</b>&nbsp;{{config.genericService.config.schema[apiName]._apiInfo.group}}<br/>
                        <b>{{translation.route[LANG]}}:</b>&nbsp;{{apiName}}<br/>
                        <b>{{translation.method[LANG]}}:</b><span class="lowercase">&nbsp;{{apiInfo.method}}</span><br/>
                        <b>{{translation.type[LANG]}}:</b><span class="lowercase">&nbsp;{{apiInfo.type}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>