<script type="text/ng-template" id="serviceInfoBox.html">
    <div class="modal-header">
        <h3 class="modal-title">{{data.name}}&nbsp;&nbsp;<em>v:{{data.v}}</em></h3>
    </div>
    <div class="modal-body">
        <table width="100%">
            <tr>
                <td><b>{{translation.createdBy[LANG]}}:</b>&nbsp;{{data.author}}</td>
            </tr>
            <tr>
                <td><b>{{translation.createdOn[LANG]}}:</b>&nbsp;{{data.ts|fulldate}}</td>
                <td><b>{{translation.lastModifiedOn[LANG]}}:</b>&nbsp;{{data.modified|fulldate}}</td>
            </tr>
        </table>
        <br/>
        <tabset>
            <tab heading="{{translation.generalConfiguration[LANG]}}">
                <div ng-include="'modules/dashboard/contentBuilder/directives/view-gs.tmpl'"></div>
            </tab>
            <tab heading="{{translation.serviceAPIsWorkflow[LANG]}}">
                <div ng-include="'modules/dashboard/contentBuilder/directives/view-ss.tmpl'"></div>
            </tab>
            <tab heading="{{translation.UIProperties[LANG]}}">
                <div ng-include="'modules/dashboard/contentBuilder/directives/view-sui.tmpl'"></div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>