<h4>{{translation.serviceInformation[LANG]}}:</h4>
<table width="100%">
    <tr class="ng-scope">
        <td width="22%"><b>{{translation.serviceName[LANG]}}:</b></td>
        <td width="22%">{{data.genericService.config.serviceName}}</td>
        <td width="28%"><b>{{translation.servicePort[LANG]}}:</b></td>
        <td width="28%">{{data.genericService.config.servicePort}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>{{translation.requestTimeout[LANG]}}:</b></td>
        <td>{{data.genericService.config.requestTimeout}}</td>
        <td><b>{{translation.requestTimeoutRenewal[LANG]}}:</b></td>
        <td>{{data.genericService.config.requestTimeoutRenewal}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>{{translation.extKeyRequired[LANG]}}:</b></td>
        <td>{{data.genericService.config.extKeyRequired}}</td>
        <td><b>Urac:</b></td>
        <td>{{data.genericService.config.urac}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>oAuth:</b></td>
        <td>{{data.genericService.config.oauth || false}}</td>
        <td><b>Urac Profile</b></td>
	    <td>{{data.genericService.config.urac_Profile}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>Urac ACL:</b></td>
	    <td>{{data.genericService.config.urac_ACL}}</td>
        <td><b>Provision ACL:</b></td>
	    <td>{{data.genericService.config.provision_ACL}}</td>
    </tr>
	<tr class="ng-scope">
		<td><b>Session:</b></td>
		<td>{{data.genericService.config.session}}</td>
	</tr>
    <tr class="ng-scope">
        <td><b>{{translation.defaultCollection[LANG]}}:</b></td>
        <td>{{data.soajsService.db.collection}}</td>
        <td><b>{{translation.multitenant[LANG]}}:</b></td>
        <td>{{data.soajsService.db.multitenant}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>{{translation.maximumUploadFileLimit[LANG]}}:</b></td>
        <td>{{(data.genericService.config.maxFileUpload > 500) ? (data.genericService.config.maxFileUpload /1024) +'MB' : data.genericService.config.maxFileUpload + 'KB'}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr><td><br/></td></tr>
    <tr class="ng-scope">
        <td valign="top" width="44%" colspan="2">
            <b>{{translation.errors[LANG]}}:</b><br/>
            <div ng-bind-html="data.genericService.config.errors"></div>
        </td>
        <td valign="top" class="view" colspan="2">
            <b>{{translation.configuration[LANG]}}:</b><br />
            <table width="100%">
                <tr ng-repeat="(envCode, envInfo) in data.soajsService.db.config track by envCode" ng-class-odd="'odd'">
                    <td valign="top"><b>{{envCode}}</b></td>
                    <td ng-bind-html="envInfo|object"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div class="w100 c-both inlineAPIBox" style="display: table">
    <div class="apiLabel">{{translation.inputs[LANG]}}:</div>
    <div class="entryBoxes entryBoxesGrid" style="height:100px;">
        <div class="dbBox" style="width:30% !important;" ng-repeat="(fieldName, fieldInfo) in data.genericService.config.schema.commonFields track by $index">
            <div class="head">
                <b>{{translation.providedBy[LANG]}} <span class="icon icon-user"></span></b>
            </div>
            <div class="info">
                <b>{{translation.label[LANG]}}:</b>&nbsp;{{fieldName}}<br/>
                <span ng-repeat="(prop, val) in fieldInfo track by prop"><b style="text-transform: capitalize">{{prop}}:</b>&nbsp;{{val}}<br /></span>
            </div>
        </div>
    </div>
</div>
<div class="w100 c-both inlineAPIBox" style="display: table" ng-if="data.files && data.files.length > 0">
    <div class="apiLabel">{{translation.files[LANG]}}:</div>
    <div class="entryBoxes entryBoxesGrid" style="height:100px;">
        <div class="dbBox" style="width:30% !important;" ng-repeat="fileInfo in data.files">
            <div class="head">
                <b>{{translation.providedBy[LANG]}} <span class="icon icon-user"></span></b>
            </div>
            <div class="info">
                <span><b>{{translation.label[LANG]}}:</b>&nbsp;{{fileInfo.label}}<br /></span>
                <span><b>{{translation.type[LANG]}}:</b>&nbsp;{{fileInfo.type}}<br /></span>
                <span><b>{{translation.limit[LANG]}}:</b>&nbsp;{{fileInfo.limit}}<br /></span>
            </div>
        </div>
    </div>
</div>