<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <alert type="danger" ng-if="error.message">{{error.message}}</alert>
    <div class="form">
        <form name="addEditDriver" id="addEditDriver" novalidate ng-submit="addEditDriver.$valid && onSubmit()">
            <div class="form-group">
                <div ng-if="mode !== 'edit'">
                    <label>{{translation.driverType[LANG]}}</label>
                    <select class="form-control" ng-required="true" ng-options="info.label for (driver, info) in outerScope.allowAddDriver" ng-model="driver.info"></select><br>
                </div>
                <div ng-if="driver.info.label === 'dockermachine - local'">
                    <label>{{translation.host[LANG]}}</label><br>
                    <input type="text" class="form-control" ng-required="true" ng-model="local.host"><br>
                    <label>{{translation.port[LANG]}}</label><br>
                    <input type="number" class="form-control" ng-required="true" ng-model="local.port"><br>
                    <label>{{translation.additionalConfiguration[LANG]}}</label>
                    <select ng-if="jsoneditor.options.availableModes && jsoneditor.options.availableModes.length > 0" class="form-control f-right" style="width: 15%; height: 30px; margin-top: 7px" ng-model="jsoneditor.options.mode">
                        <option ng-repeat="modeOption in jsoneditor.options.availableModes" value="{{modeOption.v}}" ng-selected="modeOptions === jsoneditor.options.mode">{{modeOption.l}}</option>
                    </select><br /><br />
                    <div ng-jsoneditor="jsoneditor.onLoad" ng-model="local.config" options="jsoneditor.options" ng-style="{'width': '100%', 'height': jsoneditor.height}"></div>
                    <br><br>
                </div>
                <div ng-if="driver.info.label === 'dockermachine - cloud'">
                    <label>{{translation.cloudProvider[LANG]}}</label><br>
                    <select class="form-control" ng-required="true" ng-options="oneCloud for oneCloud in outerScope.availableCloudProviders" ng-model="cloud.selectedCloud"></select><br>
                    <label>{{translation.host[LANG]}}</label><br>
                    <input type="text" class="form-control" ng-required="true" ng-model="cloud.host"><br>
                    <label>{{translation.port[LANG]}}</label><br>
                    <input type="number" class="form-control" ng-required="true" ng-model="cloud.port"><br>
                    <label>{{translation.additionalConfiguration[LANG]}}</label>
                    <select ng-if="jsoneditor.options.availableModes && jsoneditor.options.availableModes.length > 0" class="form-control f-right" style="width: 15%; height: 30px; margin-top: 7px" ng-model="jsoneditor.options.mode">
                        <option ng-repeat="modeOption in jsoneditor.options.availableModes" value="{{modeOption.v}}" ng-selected="modeOptions === jsoneditor.options.mode">{{modeOption.l}}</option>
                    </select><br /><br />
                    <div ng-jsoneditor="jsoneditor.onLoad" ng-model="cloud.config" options="jsoneditor.options" ng-style="{'width': '100%', 'height': jsoneditor.height}"></div>
                    <br><br>
                </div>
                <div ng-if="driver.info.label === 'docker - socket'">
                    <label>{{translation.socketPath[LANG]}}</label><br>
                    <input type="text" class="form-control" ng-required="true" ng-model="socket.socketPath"><br>
                </div>
                <div ng-if="driver.info.label === 'scheduler - kubernetes'">
                    <label>API Endpoint</label><br>
                    <input type="text" class="form-control" ng-required="true" ng-model="scheduler.endpoint"><br>
                    <label>namespace</label><br>
                    <input type="text" class="form-control" ng-required="true" ng-model="scheduler.namespace"><br>
                    <label>Username</label><br>
                    <input type="text" class="form-control" ng-required="false" ng-model="scheduler.username"><br>
                    <label>Password</label><br>
                    <input type="text" class="form-control" ng-required="false" ng-model="scheduler.password"><br>
                    <label>Token</label><br>
                    <input type="text" class="form-control" ng-required="false" ng-model="scheduler.token"><br>
                    <label>{{translation.additionalConfiguration[LANG]}}</label><br>
                    <textarea class="form-control" ng-required="false" ng-model="scheduler.config" rows="6"></textarea><br>
                </div>
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="{{translation.submit[LANG]}}"/>
                    <input type="button" class="btn btn-danger" value="{{translation.cancel[LANG]}}" ng-click="closeModal()"/>
                </div><br/>
            </div>
        </form>
    </div>
</div>
