<section ng-controller="analyticsCtrl">
    <div ng-if="analytics.activated">
        <tabset>
            <tab heading="Web">
                <br />
                <iframe src="http://dashboard.soajs.org:5601/app/kibana#/dashboard/soajs-dashboard?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-12h,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:agents,panelIndex:1,row:1,size_x:6,size_y:6,type:visualization),(col:1,id:bytes,panelIndex:2,row:7,size_x:12,size_y:3,type:visualization),(col:7,id:map,panelIndex:3,row:1,size_x:6,size_y:6,type:visualization),(col:7,id:response-codes,panelIndex:4,row:10,size_x:6,size_y:4,type:visualization),(col:1,id:timestamp,panelIndex:5,row:10,size_x:6,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'SOAJS%20Dashboard',uiState:())" height="1450px" width="100%"></iframe>
            </tab>
            <tab heading="Cluster">

            </tab>
        </tabset>
    </div>
    <div ng-if="!analytics.activated">
        <alert type="warning" ng-style="{'text-align': 'center'}">
            Analytics has not been activated yet
        </alert>
        <br />
        <button ng-style="{'margin-left': '44%'}" class="btn btn-primary" ng-click="activateAnalytics()">Activate Analytics</button>
    </div>
</section>
