<section ng-controller="environmentCtrl">
    <div class="form">
        <form novalidate class="css-form ng-pristine ng-valid ng-valid-required" id="envirForm" name="envirForm" ng-submit="envirForm.$valid && save()">
            <div class="header"><h3 class="ng-binding">{{newEntry? "Create" : "Edit"}} {{translation.environment[LANG]}}</h3></div>
            <div class="body">
                <a href="#/environments" class="w100 f-right t-right">{{translation.goBackEnvironments[LANG]}}</a>

                <div class="header-msg"></div>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr class="form-group">
                            <td class="">
                                <label>{{translation.code[LANG]}}</label>
                                <input type="text" ng-required="true" tooltip="{{translation.enterEnvironmentCodeMaximumCharacters[LANG]}}"
                                       placeholder="DEV..." ng-model="formEnvironment.code" class="form-control" ng-disabled="!newEntry"/>
                            </td>
                        </tr>
                        <tr class="form-group">
	                        <td class="">
		                        <label>{{translation.domain[LANG]}}</label>
		                        <input type="text" ng-required="true" tooltip="{{translation.enterEnvironmentDomain[LANG]}};"
		                               placeholder="{{translation.myDomainCom[LANG]}}" ng-model="formEnvironment.domain" class="form-control"/>
	                        </td>
                        </tr>
                        <tr class="form-group">
                            <td class="">
                                <span class="customInput f-left">
                                    <label>API Prefix</label>
                                    <input type="text" ng-required="false" tooltip="{{translation.enterAPIPrefix[LANG]}}" placeholder="api" ng-model="formEnvironment.apiPrefix" class="form-control"/>
                                </span>

                                <span class="customInput f-right">
                                    <label>Site Prefix</label>
                                    <input type="text" ng-required="false" tooltip="{{translation.enterSitePrefix[LANG]}}" placeholder="site" ng-model="formEnvironment.sitePrefix" class="form-control"/>
                                </span>
                                <label class="fieldMsg">{{translation.inCaseAPIOrSitePrefixNotSpecified[LANG]}}</label>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td class="">
                                <label>Description</label>
								<textarea tooltip="{{translation.enterDescriptionExplainingUsageEnvironment[LANG]}}"
                                          placeholder="{{translation.developmentEnvironmentUsedByDevelopers[LANG]}}" ng-model="formEnvironment.description" class="form-control">
								</textarea>
                            </td>
                        </tr>
	                    <tr>
		                    <td class="">
			                    <label>Sensitive</label>
			                    <input name="sensitive" style="margin-left: 50px" type="radio" ng-checked="formEnvironment.sensitive==true" ng-model="formEnvironment.sensitive" data-ng-value="true"/>
			                    {{translation.true[LANG]}}
			                    <input name="sensitive" style="margin-left: 5px" type="radio" ng-model="formEnvironment.sensitive" data-ng-value="false"/> {{translation.false[LANG]}}
		                    </td>
	                    </tr>
                        <tr class="form-group">
                            <td class="">
                                <hr/>
                                <h3>{{translation.serviceConfig[LANG]}}</h3>
                                <div class="grouped">
                                    <tabset>
                                        <tab heading="Controller">
                                            <div class="grouped">
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.maxPoolSize[LANG]}}</label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.controller.maxPoolSize" class="form-control"/>
                                                <em>{{translation.specifyControllersMaximumPoolSize[LANG]}} <a href="https://github.com/request/request" target="_blank">{{translation.request[LANG]}}</a></em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.authorization[LANG]}}</label>

                                                <input name="controller_authorization" type="radio" ng-checked="formEnvironment.services.controller.authorization==true" ng-model="formEnvironment.services.controller.authorization" data-ng-value="true"/>
                                                {{translation.true[LANG]}}
                                                <input name="controller_authorization" type="radio" ng-model="formEnvironment.services.controller.authorization" data-ng-value="false"/> {{translation.false[LANG]}}
                                                <br/>
                                                <em>{{translation.specifyControllerShouldPersistSessionUser[LANG]}}</em><br />
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.requestTimeout[LANG]}}</label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.controller.requestTimeout" class="form-control"/>
                                                <em>{{translation.specifyControllerMaximumTimeoutLimitInSeconds[LANG]}}</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.requestTimeoutRenewal[LANG]}}</label>
                                                <input type="number"  ng-required="true"
                                                       ng-model="formEnvironment.services.controller.requestTimeoutRenewal" class="form-control"/>
                                                <em>{{translation.specifyControllerTimeoutRenewalCount[LANG]}}</em>
                                            </div>
                                        </tab>
                                        <tab heading="Awareness">
                                            <div class="grouped">
                                                <label><span class="icon icon-arrow-right2"></span> Cache TTL </label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.config.awareness.cacheTTL" class="form-control"/>
                                                <em>Specify the amount of time in milliseconds between refreshing the cache containing service awareness information</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.healthCheckInterval[LANG]}} </label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.config.awareness.healthCheckInterval" class="form-control"/>
                                                <em>{{translation.specifyAmountTimeMillisecondsBetweenHealthCheck[LANG]}}</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.autoReloadRegistry[LANG]}} </label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.config.awareness.autoRelaodRegistry" class="form-control"/>
                                                <em>{{translation.specifyAmountTimeMillisecondsautoReloadRegistry[LANG]}}</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.maxLogCount[LANG]}} </label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.config.awareness.maxLogCount" class="form-control"/>
                                                <em>{{translation.specifyMaximumNumberDisplayAwarenessWarningLogs[LANG]}}</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.autoRegisterService[LANG]}} </label>
                                                <input ng-required="true" name="autoRegisterService" type="radio" ng-model="formEnvironment.services.config.awareness.autoRegisterService" data-ng-value="true"/> {{translation.true[LANG]}}
                                                <input ng-required="true" name="autoRegisterService" type="radio" ng-model="formEnvironment.services.config.awareness.autoRegisterService" data-ng-value="false"/> {{translation.false[LANG]}}
                                                <br /><em>{{translation.specifyIfServicesShouldAutoRegister[LANG]}}</em>
                                            </div>
                                        </tab>
                                        <tab ng-show="newEntry" heading="Key">
                                            <div ng-init="newEntry" class="grouped">
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.algorithm[LANG]}} </label>
                                                <input ng-disabled="!newEntry" type="text" ng-required="true"
                                                       ng-model="formEnvironment.services.config.key.algorithm" class="form-control"/><br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.password[LANG]}} </label>
                                                <input ng-disabled="!newEntry" type="text" ng-required="true"
                                                       ng-model="formEnvironment.services.config.key.password" class="form-control"/>
                                                <em>{{translation.specifyAlgorithmPasswordMinimumCharacters[LANG]}} <a href="https://github.com/Gozala/crypto" target="_blank">Crypto</a></em>
                                            </div>
                                        </tab>
                                        <tab heading="Logger"><br>
                                            <alert type="warning">
                                                <h5><u>{{translation.warning[LANG]}}:</u></h5>
                                                {{translation.changingLoggingConfigurationMayCauseImproperFunctionality[LANG]}}<br/>{{translation.adviceToKeepConfigurationAsIs[LANG]}}
                                            </alert>
                                            <div class="grouped clearfix" style="vertical-align: top">
                                                <div ng-if="formEnvironment.analytics">
                                                    <div id="loggerEditor" readonly="true" ui-ace="{maxLines: Infinity, useWrapMode : true, showGutter: true, mode: 'json', firstLineNumber: 1, onLoad: editorLoaded}" ng-model="jsonEditor.logger.data" style="height: 200px;"></div>
                                                </div>
                                                <div ng-if="!formEnvironment.analytics">
                                                    <div id="loggerEditor" ui-ace="{maxLines: Infinity, useWrapMode : true, showGutter: true, mode: 'json', firstLineNumber: 1, onLoad: editorLoaded}" ng-model="jsonEditor.logger.data" style="height: 200px;"></div>
                                                </div>
                                                <em style="margin-left:10px;">{{translation.specifyLoggerConfiguration[LANG]}} <a href="https://github.com/trentm/node-bunyan" target="_blank">Bunyan</a></em>
                                            </div>
                                        </tab>
                                        <tab heading="Cors">
                                            <div class="grouped">
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.enabled[LANG]}} </label>
                                                <input ng-required="true" name="cors.enabled" type="radio" ng-model="formEnvironment.services.config.cors.enabled" data-ng-value="true"/> {{translation.true[LANG]}}
                                                <input ng-required="true" name="cors.enabled" type="radio" ng-model="formEnvironment.services.config.cors.enabled" data-ng-value="false"/> {{translation.false[LANG]}}
                                                <br/><em>{{translation.specifyCORSShouldBeEnabled[LANG]}}</em><br />
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.origin[LANG]}} </label>
                                                <input type="text" ng-required="true"
                                                       ng-model="formEnvironment.services.config.cors.origin"
                                                       class="form-control"/>
                                                <em>{{translation.specifyOriginThatCORSShouldSupport[LANG]}}</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.credentials[LANG]}} </label>
                                                <input ng-required="true" name="cors.credentials" type="radio" ng-model="formEnvironment.services.config.cors.credentials" value="true"/> {{translation.true[LANG]}}
                                                <input ng-required="true" name="cors.credentials" type="radio" ng-model="formEnvironment.services.config.cors.credentials" value="false"/> {{translation.false[LANG]}}
                                                <br/><em>{{translation.specifyCORSShouldSupportCredentialsRequests[LANG]}}</em><br />
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.methods[LANG]}} </label>
                                                <input type="text" ng-required="true"
                                                       ng-model="formEnvironment.services.config.cors.methods"
                                                       class="form-control"/>
                                                <em>{{translation.enterMethodsThatCORSShouldSupport[LANG]}}</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.headers[LANG]}} </label>
                                                <input type="text" ng-required="true"
                                                       ng-model="formEnvironment.services.config.cors.headers"
                                                       class="form-control"/>
                                                <em>{{translation.enterHeaderValuesThatCORSShouldSupport[LANG]}} </em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.maxAge[LANG]}} </label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.config.cors.maxage"
                                                       class="form-control"/>
                                                <em>{{translation.specifyMaximumAgeValueMillisecondsCORSCashe[LANG]}}</em>
                                            </div>
                                        </tab>
                                        <tab heading="oAuth">
                                            <div class="grouped">
                                                <!--<label><span class="icon icon-arrow-right2"></span> {{translation.grants[LANG]}} </label>-->
                                                <!--<input type="text" ng-required="true" tooltip="{{translation.enterCommaSeparatedValues[LANG]}}" placeholder="{{translation.passwordRefreshGrants[LANG]}}"-->
                                                       <!--ng-model="formEnvironment.services.config.oauth.grants"-->
                                                       <!--class="form-control"/><br/>-->
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.debug[LANG]}} </label>

                                                <input ng-required="true" name="oauth.debug" type="radio" ng-model="formEnvironment.services.config.oauth.debug" data-ng-value="true"/> {{translation.true[LANG]}}
                                                <input ng-required="true" name="oauth.debug" type="radio" ng-model="formEnvironment.services.config.oauth.debug" data-ng-value="false"/> {{translation.false[LANG]}}
                                                <br/><em>{{translation.enterSupportedGrantTypesoAuthSpecifyIfoAuthDebugMode[LANG]}}</em><br />
	
	                                            <label><span class="icon icon-arrow-right2"></span> {{translation.accessTokenLifetime[LANG]}} </label>
	                                            <input type="number" ng-required="true" tooltip="" placeholder="3600" ng-model="formEnvironment.services.config.oauth.accessTokenLifetime" class="form-control"/><br/>
	                                            <em>{{translation.accessTokenLifetimeNote[LANG]}}</em><br />
	                                            
	                                            <label><span class="icon icon-arrow-right2"></span> {{translation.refreshTokenLifetime[LANG]}} </label>
	                                            <input type="number" ng-required="true" tooltip="" placeholder="1209600" ng-model="formEnvironment.services.config.oauth.refreshTokenLifetime" class="form-control"/><br/>
	                                            <em>{{translation.refreshTokenLifetimeNote[LANG]}}</em>
                                            </div>
                                        </tab>
                                        <tab heading="Ports">
                                            <div class="grouped">
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.controllerUpperCase[LANG]}} </label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.config.ports.controller"
                                                       class="form-control"/>
                                                <em>{{translation.provideTheControllerDefaultPort[LANG]}}</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.maintenanceInc[LANG]}} </label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.config.ports.maintenanceInc"
                                                       class="form-control"/>
                                                <em>{{translation.provideMaintenancePortRangeValueDefaultPort[LANG]}}</em>
                                                <br/>

                                                <label><span class="icon icon-arrow-right2"></span> {{translation.randomInc[LANG]}} </label>
                                                <input type="number" ng-required="true"
                                                       ng-model="formEnvironment.services.config.ports.randomInc"
                                                       class="form-control"/>
                                                <em>{{translation.whenNewServicesNoPortRegisteredRandomPortNumberAssigned[LANG]}}</em>
                                            </div>
                                        </tab>
                                        <tab heading="Cookie">
                                            <div class="grouped">
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.secret[LANG]}} </label>
                                                <input type="text" ng-required="true"
                                                       ng-model="formEnvironment.services.config.cookie.secret"
                                                       class="form-control"/>
                                                <em>{{translation.enterCookieSecretPhraseEncryptCookieValues[LANG]}}</em>
                                            </div>
                                        </tab>
                                        <tab heading="Session">
                                            <div class="grouped">
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.name[LANG]}} </label>
                                                <input type="text" ng-required="true"
                                                       ng-model="formEnvironment.services.config.session.name"
                                                       class="form-control"/>
                                                <em>{{translation.specifyNameForThisSessionMinimumCharacters[LANG]}}</em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.secret[LANG]}} </label>
                                                <input type="text" ng-required="true"
                                                       ng-model="formEnvironment.services.config.session.secret"
                                                       class="form-control"/>
                                                <em>{{translation.specifySecretPhraseUsedEncryptSessionValues[LANG]}}</em>
                                                <br/>

                                                <label><span class="icon icon-arrow-right2"></span> {{translation.proxy[LANG]}} </label>
                                                <select name="session.proxy" ng-model="formEnvironment.services.config.session.proxy">
                                                    <option value="undefined" ng-selected="formEnvironment.services.config.session.proxy === undefined">{{translation.useTrustProxySettingsFromExpress[LANG]}}</option>
                                                    <option value="true" ng-selected="formEnvironment.services.config.session.proxy === true"> {{translation.useXForwardedProtoHeaders[LANG]}}</option>
                                                    <option value="false" ng-selected="formEnvironment.services.config.session.proxy === false">{{translation.ignoreAllHeadersOnlyTSLSSlConnections[LANG]}}</option>
                                                </select><br/>
                                                <em>{{translation.pickTheProxyOptionFromListAbove[LANG]}} <a href="https://github.com/expressjs/session" target="_blank">{{translation.expressSession[LANG]}}</a>.</em><br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.rolling[LANG]}} </label>
                                                <input ng-required="true" name="session.rolling" type="radio" ng-model="formEnvironment.services.config.session.rolling" data-ng-value="true"/> {{translation.true[LANG]}}
                                                <input ng-required="true" name="session.rolling" type="radio" ng-model="formEnvironment.services.config.session.rolling" data-ng-value="false"/> {{translation.false[LANG]}}
                                                <br/><em>{{translation.chooseIfCookieShouldSetEveryResponseCookieExpiration[LANG]}}</em><br />
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.resave[LANG]}} </label>
                                                <input ng-required="true" name="cookie.resave" type="radio" ng-model="formEnvironment.services.config.session.resave" data-ng-value="true"/> {{translation.true[LANG]}}
                                                <input ng-required="true" name="cookie.resave" type="radio" ng-model="formEnvironment.services.config.session.resave" data-ng-value="false"/> {{translation.false[LANG]}}
                                                <br/><em>{{translation.chooseIfSessionShouldBeSavedBackSessionStore[LANG]}}</em><br />
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.saveUninitialized[LANG]}} </label>
                                                <input ng-required="true" name="cookie.saveUninitialized" type="radio" ng-model="formEnvironment.services.config.session.saveUninitialized" data-ng-value="true"/>
                                                True
                                                <input ng-required="true" name="cookie.saveUninitialized" type="radio" ng-model="formEnvironment.services.config.session.saveUninitialized" data-ng-value="false"/>
                                                False
                                                <br/><em>{{translation.chooseWhetherForceSessionUninitializedSavedStore[LANG]}} <a href="https://github.com/expressjs/session" target="_blank">{{translation.expressSession[LANG]}}</a></em>
                                                <br/>
                                                <label><span class="icon icon-arrow-right2"></span> {{translation.unset[LANG]}} </label>
                                                <input ng-required="true" name="session.unset" type="radio" ng-model="formEnvironment.services.config.session.unset" data-ng-value="false"/> {{translation.keep[LANG]}}
                                                <input ng-required="true" name="session.unset" type="radio" ng-model="formEnvironment.services.config.session.unset" data-ng-value="true"/> {{translation.destroy[LANG]}}
                                                <br/><em>{{translation.chooseSessionShouldDeletedWhenResponseEnds[LANG]}}</em><br />
                                                <p><span class="icon icon-arrow-right2"></span>{{translation.cookie[LANG]}}</p>
                                                <div class="grouped">

                                                    <label><span class="icon icon-arrow-right"></span>{{translation.path[LANG]}} </label>
                                                    <input type="text" ng-required="true"
                                                           ng-model="formEnvironment.services.config.session.cookie.path"
                                                           class="form-control"/>
                                                    <em>{{translation.specifyPathWhereCookieShouldBeCreated[LANG]}}</em>
                                                    <br/>
                                                    <label><span class="icon icon-arrow-right"></span> {{translation.httpOnly[LANG]}} </label>
                                                    <input ng-required="true" name="cookie.httpOnly" type="radio" ng-model="formEnvironment.services.config.session.cookie.httpOnly" data-ng-value="true"/> {{translation.true[LANG]}}
                                                    <input ng-required="true" name="cookie.httpOnly" type="radio" ng-model="formEnvironment.services.config.session.cookie.httpOnly" data-ng-value="false"/> {{translation.false[LANG]}}
                                                    <br/><em>{{translation.chooseIfCookiesShouldBeUsedHTTPMode[LANG]}}</em><br />
                                                    <label><span class="icon icon-arrow-right"></span> {{translation.secure[LANG]}} </label>

                                                    <input ng-required="true" name="cookie.secure" type="radio" ng-model="formEnvironment.services.config.session.cookie.secure" data-ng-value="true"/> {{translation.true[LANG]}}
                                                    <input ng-required="true" name="cookie.secure" type="radio" ng-model="formEnvironment.services.config.session.cookie.secure" data-ng-value="false"/> {{translation.false[LANG]}}
                                                    <br/><em>{{translation.chooseIfCookiesShouldEncrypted[LANG]}}</em><br />
                                                    <label><span class="icon icon-arrow-right"></span> {{translation.maxAge[LANG]}} </label>
                                                    <input type="number"
                                                           ng-model="formEnvironment.services.config.session.cookie.maxAge"
                                                           class="form-control"/>
                                                    <em>{{translation.specifyLifetimeCookieMilliseconds[LANG]}}</em>
                                                    <br/>
                                                </div>
                                            </div>
                                        </tab>
                                    </tabset>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer"><br/>
                <input type="submit" class="btn btn-sm btn-primary" value="{{(newEntry) ? translation.add[LANG] : translation.edit[LANG]}} {{translation.environment[LANG]}}"/>
            </div>
            <div ng-show="!newEntry" ng-init="!newEntry">
                <h4>{{translation.tenantKeySecurity[LANG]}}</h4>
                <alert type="warning">
                    <h5><u>{{translation.warning[LANG]}}:</u></h5>
                    {{translation.changingTenantKeySecurityEncryptionConfigurationDisablesTenantKeys[LANG]}}<br/>{{translation.ifYouChooseProceed[LANG]}}
                    <ol>
                        <li>{{translation.newDashboardKeyGeneratedReplaceKey[LANG]}}</li>
                        <li>{{translation.youNeedToGoTo[LANG]}} <a href="#/multi-tenancy">{{translation.multiTenancy[LANG]}}</a> {{translation.andGenerateNewKeysTenants[LANG]}}</li>
                    </ol>
                </alert>
                <em>{{translation.specifyAlgorithmUsePasswordMinimumCharactersEncryptTenantKeys[LANG]}} <a href="https://github.com/Gozala/crypto" target="_blank">Crypto</a>.</em><br/>

                <div ng-show="(waitMessage && waitMessage.message !== '')">
                    <br/>
                    <alert type="{{waitMessage.type}}" close="waitMessage.close()">{{waitMessage.message}}</alert>
                </div>

                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr class="form-group">
                        <td class="form-select">
                            <label>Algorithm</label>
                            <input type="text" ng-required="true" ng-model="formEnvironment.services.config.key.algorithm" class="form-control"/>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td class="form-select">
                            <label>Password</label>
                            <input type="text" ng-required="true" ng-model="formEnvironment.services.config.key.password" class="form-control"/>
                        </td>
                    </tr>
                </table><br/>
                <input type="button" ng-confirm-click="{{translation.areYouSureYouWantChangeSecurityKeyConfiguration[LANG]}}" ng-click="UpdateTenantSecurity();" value="{{translation.updateTenantSecurity[LANG]}}" class="btn btn-primary f-right"/><br/>
                <hr/>
            </div>
        </form>
    </div>
</section>
