<script type="text/ng-template" id="oldResources.tmpl">
	<div class="form">
		<div class="modal-header">
			<h3 class="modal-title">Old Resources Schemas Detected</h3>
		</div>
		<div class="modal-body">
			<alert type="danger">
				<h3 style="margin-top:5px;">Warning</h3>
				<hr>
				Some of the Resources have not been upgraded yet in this environment, they still use a configuration from previous SOAJS version(s).<br />
				This prevents you from managing the databases section. Please upgrade these resources to the latest version <a href="" ng-click="upgradeResources()">[ Upgrade ]</a>
			</alert>
		</div>
	</div>
</script>

<section ng-controller="databaseCtrl">
	<accordion close-others="false">
		<accordion-group is-open="false">
			<accordion-heading>Global Prefix</accordion-heading>
			<div ng-if="access.dbs.updatePrefix">
				<form name="databasePrefixForm" class="css-form" novalidate>
					<table width="30%">
						<tr>
							<td><b>Prefix</b></td>
							<td>
								<input type="text" name="prefix" ng-model="dbs.config.prefix" class="form-control" placeholder="soajs_" tooltip="set or remove the database prefix value then click update."/>
							</td>
							<td valign="bottom" align="left">
								<input type="submit" class="btn btn-sm btn-primary f-left" value="Update" style="top:-2px;" ng-click="updateDbPrefix(envCode, dbs.config.prefix)"/>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</accordion-group>
		<accordion-group is-open="false" >
			<accordion-heading>Session</accordion-heading>
			<div ng-if="(!dbs.session && !dbs.config.session) && access.dbs.add" >
				<a ng-click="addDatabase(envCode,true)" class="btn btn-sm btn-primary">{{translation.addSessionDatabase[LANG]}}</a><br/><br/>
			</div>
			<ul class="blueListing yellowListing" ng-if="dbs.config.session">
				<li class="blueLi">
					<div class="c-both w-100">
						<h4>Warning!</h4>
						<p>Your session configuration is Old; Please update the session to use the new schema convention.</p>
						<hr>
					</div>
					<div class="c-both w-100">
						<h4 class="f-left">{{dbs.config.session['name']}}</h4>
						<span class="rightActions">
			                <a ng-if="access.dbs.delete" href="" ng-confirm-click="{{translation.areYouSureYouWantRemoveSelectedDatabase[LANG]}}" ng-click="removeDatabase(envCode, 'session');">
			                    <span class="icon icon-cross" tooltip="{{translation.removeDatabase[LANG]}}"></span>
			                </a>&nbsp;

			                <a ng-if="access.dbs.update" href="" ng-click="editDatabase(envCode, 'session', dbs.config.session)">
			                    <span class="icon icon-pencil2" tooltip="{{translation.editDatabase[LANG]}}"></span>
			                </a>
			            </span>
					</div>
					<div class="c-both w-100">
						<span ng-show="dbs.config.session['prefix']"><b>Prefix:</b>&nbsp;{{dbs.config.session['prefix']}}<br/></span>
						<b>Cluster:</b>&nbsp;{{dbs.config.session['cluster']}}<br/>
						<b>Collection:</b>&nbsp;{{dbs.config.session['collection']}}<br/>
						<b>Expires After:</b>&nbsp;{{dbs.config.session['expireAfter']|TTL}} ({{translation.hours[LANG]}})<br/>
						<b>stringify:</b>&nbsp;{{dbs.config.session['stringify']}}<br/>
						<b>Store:</b>&nbsp;<span ng-bind-html="dbs.config.session['store']|object"></span>
					</div>
				</li>
			</ul>
			<ul class="blueListing" ng-if="dbs.session">
				<li class="blueLi">
					<div class="c-both w-100">
						<h4 class="f-left">{{dbs.session['name']}}</h4>
						<span class="rightActions">
	                <a ng-if="access.dbs.delete" href="" ng-confirm-click="{{translation.areYouSureYouWantRemoveSelectedDatabase[LANG]}}" ng-click="removeDatabase(envCode, 'session');">
	                    <span class="icon icon-cross" tooltip="{{translation.removeDatabase[LANG]}}"></span>
	                </a>&nbsp;

	                <a ng-if="access.dbs.update" href="" ng-click="editDatabase(envCode, 'session', dbs.session)">
	                    <span class="icon icon-pencil2" tooltip="{{translation.editDatabase[LANG]}}"></span>
	                </a>
	            </span>
					</div>
					<div class="c-both w-100">
						<span ng-show="dbs.session['prefix']"><b>Prefix:</b>&nbsp;{{dbs.session['prefix']}}<br/></span>
						<b>Cluster:</b>&nbsp;{{dbs.session['cluster']}}<br/>
						<b>Collection:</b>&nbsp;{{dbs.session['collection']}}<br/>
						<b>Expires After:</b>&nbsp;{{dbs.session['expireAfter']|TTL}} ({{translation.hours[LANG]}})<br/>
						<b>stringify:</b>&nbsp;{{dbs.session['stringify']}}<br/>
						<b>Store:</b>&nbsp;<span ng-bind-html="dbs.session['store']|object"></span>
					</div>
				</li>
			</ul>
		</accordion-group>
		<accordion-group is-open="true">
			<accordion-heading>Databases</accordion-heading>

			<a ng-if="access.dbs.add" href="" ng-click="addDatabase(envCode,false)" class="btn btn-sm btn-primary">{{translation.addNewDatabase[LANG]}}</a><br/><br/>
			<div class="entryBoxes entryBoxesGrid">
				<div ng-repeat="(dbName, dbInfo) in dbs.databases track by dbName" class="dbBox">
					<div class="head">
						<h4>{{dbName}}</h4>
						<span class="rightActions">
	                <a ng-if="access.dbs.update" href="" ng-click="editDatabase(envCode, dbName, dbInfo);">
	                    <span class="icon icon-pencil" tooltip="{{translation.editDatabase[LANG]}}"></span>
	                </a>
	                <a ng-if="access.dbs.delete" href="" ng-confirm-click="{{translation.areYouSureYouWantRemoveSelectedDatabase[LANG]}}" ng-click="removeDatabase(envCode, dbName);">
	                    <span class="icon icon-cross" tooltip="{{translation.removeDatabase[LANG]}}"></span>
	                </a>
	            </span>
					</div>
					<div class="info2">
						<b>Cluster:</b>&nbsp;{{dbInfo['cluster']}}<br/>
						<b>Tenant Specific:</b>&nbsp;{{dbInfo['tenantSpecific']}}
						<span ng-if="dbInfo['prefix']">
							<br/><b>Custom Prefix:</b>&nbsp;{{dbInfo['prefix']}}
						</span>
						<span ng-if="!dbInfo['prefix']">
							<span ng-if="dbs.config && dbs.config.prefix">
								<br/><b>Global Prefix:</b>&nbsp;{{dbs.config.prefix}}
							</span>
						</span>
					</div>
				</div>
			</div>
		</accordion-group>
	</accordion>
</section>
