<section ng-controller="deployReposCtrl">
    <div ng-if="accounts && accounts.length === 0">
        <alert type="warning">{{translation.noGitAccountsAdded[LANG]}}</alert>
    </div>
    <div ng-if="accounts.length > 0">
        <div class="entryBoxes entryBoxesGrid">
            <div ng-if="access.git.listAccounts" id="a_{{account._id}}" ng-repeat="account in accounts" class="entryBox customEntryBox">
                <div class="header opened">
                    <span class="icon icon-github" ng-if="account.provider === 'github'"></span>
                    <span class="icon" ng-if="account.provider === 'bitbucket'"><i class="fa fa-lg fa-bitbucket"></i></span>
                    <span class="icon" ng-if="account.provider === 'bitbucket_enterprise'"><i class="fa fa-lg fa-bitbucket"></i></span>
                    {{account.label|uppercase}}&nbsp;&nbsp;[{{account.owner}}]
                </div>
                <div class="body" ng-if="account.loading">
                    <div id="loadingNotification">
                        <img class="loadingImageLarge" ng-src="{{imagePath}}" width="32px" height="32px"><br>
                        <h5 class="alignCenter">{{translation.gettingReposPleaseWait[LANG]}}</h5>
                    </div>
                </div>
                <div class="body" ng-if="!account.loading">
	                <div class="inner" ng-class="{'hidden': account.hide}">
                        <label>Active Repositories</label>
                        <span ng-if="account.loadingMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="loadingImageSmall" ng-src="{{imagePath}}" width="16px" height="16px">&nbsp;<b>{{account.loadingMsg}}</b></span>
		                <span style="float: right; padding-right: 1%" class="icon icon-search">&nbsp;
		                <input ng-model="searchKeyword" />&nbsp;
		                <a href="" ng-if="access.git.listAccountRepos" ng-click="listRepos(account, 'getRepos');">
                            <span class="icon icon-loop2" tooltip="{{translation.syncRepo[LANG]}}"></span>
                        </a>
	                </span>
		                <div ng-if="account.repos && account.repos.length === 0">
			                <alert type="warning">{{translation.noReposFound[LANG]}}</alert>
		                </div>
                        <div class="entryBoxes">
                            <div ng-repeat="repo in account.repos| filter: searchKeyword" class="entryBox pl0" ng-style="{'width': '99%'}">
                                <div class="header opened">
                                    {{repo.name}}
                                </div>
                                <div class="body">
                                    <accordion close-others="true" ng-if="repo.servicesList && repo.servicesList.length > 0">
            							<accordion-group is-open="false" ng-repeat="service in repo.servicesList" class="blueAccordion" ng-class="{greenAccordion: service.deployed}">
            								<accordion-heading>
                                                <span class="icon icon-cloud"></span>{{service.name}} [{{service.type}}]
                                                <div style="float: right;" ng-if="service.deployed">
                                                    <span ng-if="service.versions.length > 0" style="margin-right: 30px;"><span class="icon icon-power-cord"></span>{{service.deployedVersionsCounter}} out of {{service.versions.length}} version(s) are plugged</span>
                                                    <span style="float: right; color: green;" ng-if="service.deployed"><span class="icon icon-checkmark"></span>Deployed</span>
                                                </div>
                                            </accordion-heading>
                                            <div class="entryBoxes entryBoxesGrid" ng-if="service.versions.length > 0">
                                                <div class="entryBox pl0" style="width: 32%" ng-repeat="version in service.versions" ng-class="{greenBox: version.deployed}">
                                                    <div class="header opened" ng-class="{greenBoxHeader: version.deployed}">
                                                        Version {{version.v}}
                                                        <span style="float: right; color: green;" ng-if="version.deployed"><span class="icon icon-checkmark"></span>Deployed</span>
                                                    </div>
                                                    <div class="body serviceVersionBox">
                                                        <a href="" class="btn btn-sm btn-default" ng-class="{disabled: (version.deployed || !version.deploySettings)}" style="float: right;"><span class="icon icon-power-cord"></span>First Time Deploy</a>
                                                        <a href="" class="btn btn-sm btn-default" ng-click="deployService(repo, service, version, account)" ng-if="!version.deploySettings" style="float: right;"><span class="icon icon-cog"></span>Configure Deployment</a>
                                                        <a href="" class="btn btn-sm btn-default" ng-click="deployService(repo, service, version, account)" ng-if="version.deploySettings" style="float: right;"><span class="icon icon-cog"></span>Reconfigure Deployment</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="entryBoxes entryBoxesGrid noVersionsBox" ng-if="service.versions.length === 0">
                                                <a href="" class="btn btn-m btn-default" ng-click="deployService(repo, service, 'Default', account)" ng-if="!service.deploySettings"><span class="icon icon-cog"></span>Configure Deployment</a>
                                                <a href="" class="btn btn-m btn-default" ng-if="service.deploySettings" ng-click="deployService(repo, service, 'Default', account)"><span class="icon icon-cog"></span>Reconfigure Deployment</a>
                                                <a href="" class="btn btn-m btn-default" ng-class="{disabled: (service.deployed || !service.deploySettings)}"><span class="icon icon-power-cord"></span>First Time Deploy</a>
                                            </div>
            							</accordion-group>
            						</accordion>
                                    <div class="entryBoxes entryBoxesGrid noVersionsBox" ng-if="!repo.servicesList || repo.servicesList.length === 0">
                                        <a href="" class="btn btn-m btn-default" ng-if="!service.deploySettings" ng-click="deployService(repo, service, 'Default', account)"><span class="icon icon-cog"></span>Configure Deployment</a>
                                        <a href="" class="btn btn-m btn-default" ng-if="service.deploySettings" ng-click="deployService(repo, service, 'Default', account)"><span class="icon icon-cog"></span>Reconfigure Deployment</a>
                                        <a href="" class="btn btn-m btn-default" ng-class="{disabled: (service.deployed || !service.deploySettings)}"><span class="icon icon-power-cord"></span>First Time Deploy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
	                </div>

                    <div class="entryAction">
	                    <a href="" ng-click="showHide(account)">
		                    <span class="icon icon-{{account.icon || 'plus'}}"></span>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="deployService.tmpl">
	<div class="modal-body">
		<div ng-show="alerts.length >0">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">
				{{alert.msg}}
			</alert>
			<br>
		</div>
			<div class="configCd entryBoxes entryBoxesGrid">
					<div class="header opened">
						{{oneSrv}}
					</div>
					<div class="body">
						<div class="entryAction" ng-show="maxEntries > 1">
							<a href="" ng-click="cdShowHide(oneSrv, cdData.name)">
								<span class="icon icon-{{cdData.icon || 'plus'}}"></span>
							</a>
						</div>
							<div ng-include="'modules/dashboard/environments/directives/cd.tmpl'"></div>
					</div>
			<div class="modal-footer" ng-show="maxEntries > 0">
				<input class="btn btn-sm btn-danger f-right" ng-show="deployed" ng-click="saveRecipe('rebuild')" value="Save & Rebuild" type="submit">
				<input class="btn btn-sm btn-primary f-right" ng-show="!deployed" ng-click="saveRecipe('deploy')" value="First Time Deploy" type="submit">
				<input class="btn btn-sm btn-success f-right" ng-click="saveRecipe()" value="Save" type="submit">
			</div>
		</div>
	<div class="modal-footer">
		<button ng-show="activateRepo || noRepoCiConfig" class="btn btn-danger" ng-click="cancel()">Close</button>
	</div>
</script>

