<section ng-controller="deployReposCtrl">
    <div ng-if="accounts && accounts.length === 0">
        <alert type="warning">{{translation.noGitAccountsAdded[LANG]}}</alert>
    </div>
    <div ng-if="accounts.length > 0">
        <div class="entryBoxes entryBoxesGrid">
            <button ng-if="access.git.listAccounts" class="btn btn-primary" style="float: right;" ng-click="listGitAccounts()"><span class="icon icon-loop2"></span>Refresh</button>
            <div ng-if="access.git.listAccounts" id="a_{{account._id}}" ng-repeat="account in accounts" class="entryBox customEntryBox">
                <div class="header opened">
                    <span class="icon icon-github" ng-if="account.provider === 'github'"></span>
                    <span class="icon" ng-if="account.provider === 'bitbucket'"><i class="fa fa-lg fa-bitbucket"></i></span>
                    <span class="icon" ng-if="account.provider === 'bitbucket_enterprise'"><i class="fa fa-lg fa-bitbucket"></i></span>
                    {{account.label|uppercase}}&nbsp;&nbsp;[{{account.owner}}]
                </div>
                <div class="body" ng-if="account.loading">
                    <div id="loadingNotification">
                        <img class="loadingImageLarge" ng-src="{{imagePath}}" width="32px" height="32px"><br>
                        <h5 class="alignCenter">{{translation.gettingReposPleaseWait[LANG]}}</h5>
                    </div>
                </div>
                <div class="body" ng-if="!account.loading">
	                <div class="inner" ng-class="{'hidden': account.hide}">
                        <label>Active Repositories</label>
                        <span ng-if="account.loadingMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="loadingImageSmall" ng-src="{{imagePath}}" width="16px" height="16px">&nbsp;<b>{{account.loadingMsg}}</b></span>
		                <span style="float: right; padding-right: 1%" class="icon icon-search">&nbsp;
		                <input ng-model="searchKeyword" />&nbsp;
	                </span>
		                <div ng-if="account.repos && account.repos.length === 0">
			                <alert type="warning">{{translation.noReposFound[LANG]}}</alert>
		                </div>
                        <div class="entryBoxes">
                            <div ng-repeat="repo in account.repos| filter: searchKeyword" class="entryBox pl0" ng-style="{'width': '99%'}">
                                <div class="header opened">
                                    {{repo.name}}
                                </div>
                                <div class="body">
                                    <accordion close-others="true" ng-if="repo.servicesList && repo.servicesList.length > 0">
            							<accordion-group is-open="false" ng-repeat="service in repo.servicesList" class="blueAccordion" ng-class="{greenAccordion: service.deployed}">
            								<accordion-heading>
                                                <span class="icon icon-cloud"></span>{{service.name}} [{{service.type}}]
                                                <div style="float: right;" ng-if="service.deployed && service.type !== 'daemon'">
                                                    <span ng-if="service.versions.length > 0" style="margin-right: 30px;"><span class="icon icon-power-cord"></span>{{service.deployedVersionsCounter}} out of {{service.versions.length}} version(s) are plugged</span>
                                                    <span style="float: right; color: green;" ng-if="service.deployed"><span class="icon icon-checkmark"></span>Deployed</span>
                                                </div>
                                            </accordion-heading>
                                            <div class="entryBoxes entryBoxesGrid" ng-if="service.versions.length > 0">
                                                <div class="entryBox pl0" style="width: 32%" ng-repeat="version in service.versions" ng-class="{greenBox: version.deployed, fullWidth: version.grpConf}">
                                                    <div class="header opened" ng-class="{greenBoxHeader: version.deployed}">
                                                        Version {{version.v}}
	                                                    <div style="float: right;">
		                                                    <span ng-if="version.grpConf.length > 0 && service.type === 'daemon' && service.deployed" style="margin-right: 30px;"><span class="icon icon-power-cord"></span>{{service.deployedConfigCounter[version.v] || 0}} out of {{version.grpConf.length}} group(s) are plugged</span>
		                                                    <span style="float: right; color: green;" ng-if="version.deployed"><span ng-if="service.type !== 'daemon'"><span class="icon icon-checkmark"></span>Deployed</span></span>
	                                                    </div>
                                                    </div>
                                                    <div class="body serviceVersionBox" ng-if="service.type !== 'daemon'">
                                                        <a href="" class="btn btn-sm btn-default responsive-width" ng-class="{disabled: (version.deployed || !version.deploySettings || !access.hacloud.services.add)}"  ng-click="doDeploy(version.deploySettings.options)"><span class="icon icon-power-cord"></span>First Time Deploy</a>
                                                        <a href="" class="btn btn-sm btn-default responsive-width" ng-click="deployService(repo, service, version, account)" ng-class="{disabled: (!access.cd || !access.hacloud.services.add)}" ng-if="!version.deploySettings" ><span class="icon icon-cog"></span>Configure Deployment</a>
                                                        <a href="" class="btn btn-sm btn-default responsive-width" ng-click="deployService(repo, service, version, account)" ng-if="version.deploySettings" ><span class="icon icon-cog"></span>Reconfigure Deployment</a>
                                                    </div>
	                                                <div ng-if="version.grpConf && version.grpConf.length === 0 && service.type === 'daemon'">
		                                                <alert type="warning" style="border-radius: 0 0 8px 8px">No Daemon Group Configuration found please click <a href="#/daemons">here</a> to create one.</alert>
	                                                </div>
	                                                <div class="entryBox pl0" style="width: 32%"  ng-if="version.grpConf && service.type === 'daemon'" ng-repeat="oneGroupConf in version.grpConf" ng-class="{greenBox: version[oneGroupConf].deployed}">
		                                                <div class="header opened" ng-class="{greenBoxHeader: version[oneGroupConf.daemonConfigGroup].deployed}">
			                                                Group {{oneGroupConf.daemonConfigGroup}}
			                                                <span style="float: right; color: green;" ng-if="version[oneGroupConf.daemonConfigGroup].deployed"><span class="icon icon-checkmark"></span>Deployed</span>
		                                                </div>
		                                                <div class="body serviceVersionBox">
			                                                <a href="" class="btn btn-sm btn-default responsive-width" ng-class="{disabled: (version[oneGroupConf.daemonConfigGroup].deployed || !version.deploySettings[oneGroupConf.daemonConfigGroup] || !access.hacloud.services.add)}"  ng-click="doDeploy(version.deploySettings[oneGroupConf.daemonConfigGroup].options)"><span class="icon icon-power-cord"></span>First Time Deploy</a>
			                                                <a href="" class="btn btn-sm btn-default responsive-width" ng-click="deployService(repo, service, version, account, oneGroupConf.daemonConfigGroup)" ng-class="{disabled: (!access.cd || !access.hacloud.services.add)}" ng-if="!version.deploySettings[oneGroupConf.daemonConfigGroup]" ><span class="icon icon-cog"></span>Configure Deployment</a>
			                                                <a href="" class="btn btn-sm btn-default responsive-width" ng-click="deployService(repo, service, version, account, oneGroupConf.daemonConfigGroup)" ng-if="version.deploySettings[oneGroupConf.daemonConfigGroup]" ><span class="icon icon-cog"></span>Reconfigure Deployment</a>
		                                                </div>
	                                                </div>
                                                </div>
                                            </div>
								            <div class="entryBox pl0" style="width: 32%"  ng-class="{greenBox: service.deployed}" ng-if="service.versions.length === 0">
									            <div class="header opened" ng-class="{greenBoxHeader: service.deployed}">
										           Default
										            <span style="float: right; color: green;" ng-if="service.deployed"><span class="icon icon-checkmark"></span>Deployed</span>
									            </div>
									            <div class="body serviceVersionBox">
										            <a href="" class="btn btn-sm btn-default responsive-width" ng-class="{disabled: (service.deployed || !service.deploySettings || !access.hacloud.services.add)}"  ng-click="doDeploy(service.deploySettings.options)"><span class="icon icon-power-cord"></span>First Time Deploy</a>
										            <a href="" class="btn btn-sm btn-default responsive-width" ng-click="deployService(repo, service, 'Default', account)" ng-class="{disabled: (!access.cd || !access.hacloud.services.add)}" ng-if="!service.deploySettings" ><span class="icon icon-cog"></span>Configure Deployment</a>
										            <a href="" class="btn btn-sm btn-default responsive-width" ng-if="service.deploySettings"  ng-click="deployService(repo, service, 'Default', account)"><span class="icon icon-cog"></span>Reconfigure Deployment</a>
									            </div>
								            </div>
            							</accordion-group>
            						</accordion>
	                                <div class="entryBox pl0" style="width: 32%"  ng-class="{greenBox: repo.deployed}" ng-if="!repo.servicesList || repo.servicesList.length === 0">
		                                <div class="header opened" ng-class="{greenBoxHeader: repo.deployed}">
			                                Default
			                                <span style="float: right; color: green;" ng-if="repo.deployed"><span class="icon icon-checkmark"></span>Deployed</span>
		                                </div>
		                                <div class="body serviceVersionBox">
			                                <a href="" class="btn btn-sm btn-default responsive-width" ng-class="{disabled: (repo.deployed || !repo.deploySettings || !access.hacloud.services.add)}" ng-click="doDeploy(repo.deploySettings.options)"><span class="icon icon-power-cord"></span>First Time Deploy</a>
			                                <a href="" class="btn btn-sm btn-default responsive-width" ng-class="{disabled: (!access.cd || !access.hacloud.services.add)}" ng-if="!repo.deploySettings" ng-click="deployService(repo, service, 'Default', account)"><span class="icon icon-cog"></span>Configure Deployment</a>
			                                <a href="" class="btn btn-sm btn-default responsive-width" ng-if="repo.deploySettings" ng-click="deployService(repo, service, 'Default', account)"><span class="icon icon-cog"></span>Reconfigure Deployment</a>
		                                </div>
	                                </div>
                                </div>
                            </div>
                        </div>
	                </div>
                    <div class="entryAction">
	                    <a href="" ng-click="showHide(account)">
		                    <span class="icon icon-{{account.icon || 'plus'}}"></span>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="deployService.tmpl">
	<div class="modal-body">
		<div class="form">
			<div ng-show="alerts.length >0">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">
					{{alert.msg}}
				</alert>
				<br>
			</div>
			<form name="deployRepo" id="deployRepo">
				<div class="form-group">
					<div class="configCd entryBoxes entryBoxesGrid">
						<div class="modal-header cdFormHeader">
							<h3 class="modal-title capitalize">Configure {{oneSrv}} Deployment</h3>
						</div>
						<div class="body">
							<div class="entryAction" ng-show="maxEntries > 1">
								<a href="" ng-click="cdShowHide(oneSrv, cdData.name)">
									<span class="icon icon-{{cdData.icon || 'plus'}}"></span>
								</a>
							</div>
							<div ng-include="'modules/dashboard/environments/directives/cd.tmpl'"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	<div class="modal-footer">
		<button ng-show="maxEntries > 0 && controllerScope.access.cd" ng-disabled = "deployRepo.$invalid" class="btn btn-success" ng-click="saveRecipe()">Save</button>
		<button ng-show="maxEntries > 0 && controllerScope.access.hacloud.services.add" ng-disabled = "deployRepo.$invalid" ng-if="!deployed" class="btn btn-primary" ng-click="saveRecipe('deploy')">First Time Deploy</button>
		<button ng-show="maxEntries > 0 && controllerScope.access.hacloud.services.redeploy" ng-disabled = "deployRepo.$invalid" ng-if="deployed" class="btn btn-info" ng-click="saveRecipe('rebuild')">Rebuild Service</button>
		<button class="btn btn-danger" ng-click="cancel()">Close</button>
	</div>
	</div>
</script>

<script type="text/ng-template" id="oldCatalogRecipes.tmpl">
	<div class="form">
		<div class="modal-header">
			<h3 class="modal-title">Old Catalog Schemas Detected</h3>
		</div>
		<div class="modal-body">
			<alert type="danger">
				<h3 style="margin-top:5px;">Warning</h3>
				<hr>
				Some catalog recipes have not been upgraded yet, they still use a schema compatible with previous SOAJS version(s).<br />
				This prevents you from configuring or deploying any repository. Please upgrade these recipes to the latest version <a href="" ng-click="upgradeRecipes()">[ Upgrade ]</a>
			</alert>
		</div>
	</div>
</script>