<section ng-controller="hostsCtrl">
	<script type="text/ng-template" id="serviceInfoBox.html">
	    <div class="modal-header">
	        <h3 class="modal-title">{{title}}</h3>
	    </div>
	    <div class="modal-body"><pre><code class="javascript">{{data}}</code></pre></div>
	    <div class="modal-footer">
	        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
	    </div>
	</script>

	<script type="text/ng-template" id="logBox.html">
		<div class="modal-header">
		    <h3 class="modal-title">{{title}}</h3>
		</div>
		<div class="modal-body"><pre><code class="sh">{{data}}</code></pre></div>
		<div class="modal-footer">
		    <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
		</div>
	</script>

	<div style="padding: 10px 0px 25px 5px;" ng-show="(waitMessage && waitMessage.message !== '')">
	    <alert type="{{waitMessage.type}}" close="waitMessage.close()">{{waitMessage.message}}</alert>
	</div>
	<br/>
	<div>
	    <div ng-show="!hosts.controller">

		    <alert type="warning" ng-if="deployer.type ==='manual'">
			    {{translation.thisEnvironmentConfiguredDeployed[LANG]}} <b>{{translation.manually[LANG]}}</b>. {{translation.allServicesRunningEnvironmentHaveStartedStoppedAdministrator[LANG]}}
		    </alert>

	        <div ng-if="deployer.type !=='manual'" id="non-deployed-{{envCode}}" style="padding: 10px 0px 25px 5px;">
	            <alert type="warning">{{translation.thisEnvironmentHasNotBeenDeployedYet[LANG]}}</alert>
	            <input type="button" value="{{translation.deployEnvironment[LANG]}}" class="btn btn-primary" ng-click="deployEnvironment(envCode)" style="float:none; top:0; display:block; margin:20px auto 0;"/>
	        </div>
	    </div>
	    <div ng-show="hosts.controller">
	        <input ng-if="deployer.type !== 'manual'" type="button" value="{{translation.addNewHosts[LANG]}}" ng-click="createHost(envCode, hosts);" class="btn btn-primary" style="float:left !important;"/>
	        <a href="" ng-click="listHosts(envCode)" class="btn btn-primary f-right">
	            <span class="icon icon-undo" tooltip="Refresh List"></span>{{translation.refresh[LANG]}}
	        </a>
	    </div>
	    <br/><br/>
	    <div class="entryBoxes entryBoxesGrid" ng-init=""  style="padding-left: 5px;" ng-show="hosts.controller">
	        <div ng-repeat="(serviceName, serviceInfo) in hosts">
	            <div ng-if="serviceName === 'controller'" class="serviceBox controllerEnvelop">
	                <div style="width: 100%;" class="head {{serviceInfo.color}}">
	                    <span class="icon" ng-class="serviceInfo.healthy===true? 'icon-smile2': 'icon-sad2'"></span>&nbsp;{{serviceName}}
	                </div>
	                <div class="service-ips clearfix">
	                    <div ng-repeat="oneIp in serviceInfo.ips" style="float:left; margin:0 1px;">
	                        <table border="1" cellpadding="2" cellspacing="1" class="OneIpTable hostsGrid">
	                            <thead>
	                                <tr>
	                                    <th colspan="2" class="host-ip">{{translation.hostname[LANG]}}&nbsp;<b>v.{{oneIp.version}}</b></th>
	                                    <th class="host-ip">IP:{{translation.port[LANG]}}</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <td><span class="icon {{oneIp.color}}" ng-class="oneIp.heartbeat === true? 'icon-smile' : 'icon-sad'"></span></td>
	                                    <td><span class="{{oneIp.color}}">{{oneIp.hostname}}</span></td>
	                                    <td><span class="{{oneIp.color}}">{{oneIp.ip}}:{{serviceInfo.port}}</span></td>
	                                </tr>
	                                <tr>
	                                    <td colspan="4">
	                                        <a href="" ng-click="executeHeartbeatTest(envCode, oneIp)" title="{{translation.executeHeartbeatOperation[LANG]}}">
	                                            <span class="icon icon-heart"></span>&nbsp;
	                                        </a>

	                                        <a href="" ng-show="oneIp.heartbeat" ng-click="executeAwarenessTest(envCode, oneIp)" title="{{translation.executeAwarenessOperation[LANG]}}">
	                                            <span class="icon icon-connection"></span>&nbsp;
	                                        </a>

	                                        <a href="" ng-show="oneIp.heartbeat" ng-click="reloadRegistry(envCode, oneIp)" title="{{translation.reloadRegistryOperation[LANG]}}">
	                                            <span class="icon icon-undo"></span>&nbsp;
	                                        </a>

	                                        <a href="" ng-show="oneIp.cid" ng-confirm-click="{{translation.areYouSureYouWantRemoveHost[LANG]}}" ng-click="removeHost(envCode, serviceName, oneIp)">
	                                            <span class="icon icon-cross" title="{{translation.removeHostIP[LANG]}}"></span>&nbsp;
	                                        </a>

	                                        <a href="" ng-show="oneIp.heartbeat && oneIp.cid" ng-click="hostLogs(envCode, serviceName, oneIp, serviceInfo)">
	                                            <span class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>&nbsp;
	                                        </a>
	                                    </td>
	                                </tr>
	                            </tbody>
	                        </table>
	                        <br/>
	                    </div>
	                </div>
	            </div>
	        </div>
			<div ng-repeat="(groupName, groupContent) in groups">
				<fieldset ng-style="{'border-color': '#337ab7', 'border-width': '2px'}">
					<legend><a href="" class="icon" ng-class="{'icon-minus': groupContent.showContent, 'icon-plus': !groupContent.showContent}" ng-click="showHideGroupContent(groupName)"></a>{{groupName}}</legend>
					<div ng-repeat="service in groupContent.services" ng-if="groupContent.showContent">
						<div ng-if="hosts[service].ips" class="serviceBox">
							<div style="padding: 10px 0px 25px 5px;" ng-show="(hosts[service].waitMessage && hosts[service].waitMessage.message!=='')">
								<alert type="{{hosts[service].waitMessage.type}}" close="hosts[service].waitMessage.close(hosts[service])" >{{hosts[service].waitMessage.message}}</alert>
							</div>
							<div style="width: 100%;" class="head {{hosts[service].color}}">
								<span class="icon" ng-if="hosts[service].type === 'service'" ng-class="hosts[service].healthy===true? 'icon-smile2': 'icon-sad2'"></span>
								<span class="icon icon-evil2" ng-if="hosts[service].type === 'daemon'"></span>
								&nbsp;{{hosts[service].name}}&nbsp;port:&nbsp;{{hosts[service].port}}
							</div>
							<div class="service-ips">
								<div ng-repeat="(version, ips) in hosts[service].ips">
									<div ng-repeat="oneIp in ips" class="" style="padding:3px 0 0 0;">
										<table border="0" width="100%" cellpadding="2" cellspacing="1" valign="middle">
											<tr>
												<td width="30%" valign="middle">
													<table width="100%" border="1" cellpadding="2" cellspacing="1" class="hostsGrid">
														<thead>
														<tr>
															<th class="actions">{{translation.actions[LANG]}}</th>
															<th class="host-ip">{{translation.hostname[LANG]}}&nbsp;<b>v.{{version}}</b></th>
														</tr>
														</thead>
														<tr>
															<td valign="top" width="26%">
																<a href="" ng-click="executeHeartbeatTest(envCode, oneIp)" title="{{translation.executeHeartbeatOperation[LANG]}}">
																	<span class="icon icon-heart"></span>&nbsp;
																</a>
																<a href="" ng-show="oneIp.healthy" ng-click="reloadRegistry(envCode, oneIp)" title="{{translation.reloadRegistryOperation[LANG]}}">
																	<span class="icon icon-undo"></span>&nbsp;
																</a>

																<a href="" ng-show="oneIp.healthy" ng-click="loadProvisioning(envCode, oneIp)" title="{{translation.loadProvisionOperation[LANG]}}">
																	<span class="icon icon-download3"></span>&nbsp;
																</a>

																<a href="" ng-show="oneIp.healthy && serviceInfo.type === 'daemon'" ng-click="loadDaemonStats(envCode, oneIp)" title="{{translation.loadDaemonStatisticsOperation[LANG]}}">
																	<span class="icon icon-stats-dots"></span>&nbsp;
																</a>

																<a href="" ng-show="oneIp.cid" ng-confirm-click="{{translation.areYouSureYouWantRemoveHost[LANG]}}" ng-click="removeHost(envCode, service, oneIp)">
																	<span class="icon icon-cross" title="{{translation.removeHostIP[LANG]}}"></span>&nbsp;
																</a>

																<a href="" ng-show="oneIp.healthy && oneIp.cid" ng-click="hostLogs(envCode, hosts[service].name, oneIp, hosts[service])">
																	<span class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>&nbsp;
																</a>
																<!--<a href="" ng-show="oneIp.healthy && oneIp.cid" ng-click="infoHost(envCode, serviceName, oneIp, serviceInfo)">-->
																<!--<span class="icon icon-info" title="Get Service Info"></span>&nbsp;-->
																<!--</a>-->
															</td>
															<!--<td valign="top"><span class="{{oneIp.color}}">{{oneIp.hostname}}<br /><b>IP:</b>&nbsp;{{oneIp.ip}}<br /><b>Version:</b>&nbsp;{{version}}</span></td>-->
															<td valign="top"><span class="{{oneIp.color}}">{{oneIp.hostname}}<br />{{oneIp.ip}}</span></td>
														</tr>
													</table>
												</td>
												<td width="70%">
													<table width="99%" border="1" cellpadding="2" cellspacing="1" class="hostsGrid" style="margin:0 auto;">
														<thead>
														<tr>
															<th width="15%" colspan="2">{{translation.controllerUpperCase[LANG]}}</th>
															<th width="15%">{{translation.status[LANG]}}</th>
															<th class="lastCheck">{{translation.lastCheck[LANG]}}</th>
															<th class="downSince">{{translation.downSince[LANG]}}</th>
															<th class="downCount">{{translation.downCount[LANG]}}</th>
														</tr>
														</thead>
														<tr ng-repeat="oneController in oneIp.controllers" ng-class="{'first': $first, 'last': $last}" ng-class-odd="'odd'" ng-class-even="'even'">
															<td><span class="{{oneController.color}}">v.{{oneController.version}}</span></td>
															<td><span class="{{oneController.color}}">{{oneController.ip}}</span></td>
															<td><span class="{{oneController.color}}">{{oneController.color === 'green' ? translation.healthy[LANG] : translation.notHealthy[LANG]}}</span></td>
															<td><span>{{oneIp.lastCheck}}</span></td>
															<td><span>{{oneIp.downSince}}</span></td>
															<td><span>{{oneIp.downCount}}</span></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div><br>
					</div>
					<div class="entryBoxes entryBoxesGrid" ng-if="!groupContent.showContent">
						<div class="entryBox blueBox" ng-repeat="service in groupContent.services" ng-style="{'width': '20%', 'text-align': 'center'}">
							<!--<b>{{service}}</b>&nbsp;&nbsp;-->
							<div style="width: 100%;" class="head {{hosts[service].color}}">
								<span class="icon" ng-if="hosts[service].type === 'service'" ng-class="hosts[service].healthy===true? 'icon-smile2': 'icon-sad2'"></span>
								<span class="icon icon-evil2" ng-if="hosts[service].type === 'daemon'"></span>
								&nbsp;{{hosts[service].name}}&nbsp;port:&nbsp;{{hosts[service].port}}
							</div>
						</div>
					</div>
				</fieldset>
			</div>
	    </div>
	</div>
</section>

<script type="text/ng-template" id="createHost.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<div class="form">
			<alert type="danger" ng-if="currentScope.message.danger">{{currentScope.message.danger}}</alert>
			<form name="deploy" id="deploy" novalidate ng-submit="deploy.$valid && onSubmit()">
				<div class="form-group">
					<label>Service Name</label>
					<select class="form-control" ng-required="true" ng-options="service as service.name for service in currentScope.services" ng-model="currentScope.service" ng-change="selectService(currentScope.service)"></select>
					<br>
					<div ng-if="currentScope.groupConfigs">
						<label>Daemon Group Configuration</label>
						<select class="form-control" ng-required="true" ng-options="group as group.name for group in currentScope.groupConfigs" ng-model="currentScope.groupConfig"></select>
						<br>
					</div>
					<div ng-if="currentScope.loadingBranches || currentScope.branches">
						<label>Branch</label><img class="loadingImage" ng-src="./modules/DASHBOARD/environments/directives/loading.gif" ng-if="currentScope.loadingBranches">
						<select class="form-control" ng-required="true" ng-options="branch as branch.name for branch in currentScope.branches" ng-model="currentScope.branch" ng-change="selectBranch(currentScope.branch)"></select>
						<br>
					</div>
					<div ng-if="currentScope.conflict">
						<label ng-style="{'color': 'red'}">Warning</label><br>
						<label>This service has one or more running instances with different commits</label><br>
						<label>It is recommended that you maintain homogeneity and deploy using an existing commit</label><br>
						<div class="grid externalKeysGrid">
							<table cellspacing="0" cellpadding="0" border="0" width="100%" class="">
								<tbody>
									<tr>
										<th colspan="1"></th>
										<th>Commit</th>
										<th>Branch</th>
										<th>Hostname(s)</th>
									</tr>
									<tr ng-repeat="(commit, data) in currentScope.conflictCommits" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last}">
										<td>
											<input type="radio" ng-if="!currentScope.confirmBranch" value="{{commit}}" ng-model="currentScope.commit">
										</td>
										<td>{{commit}}</td><!--7-->
										<td>{{data.branch}}</td>
										<td>
											<span ng-repeat="instance in data.instances">{{instance.ip}} v.{{instance.version}}<br></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<label><input type="checkbox" value="true" ng-model="currentScope.confirmBranch" ng-click="confirmBranchSelection()">&nbsp;&nbsp;I understand the risk and would like to use a new commit to deploy</label><br>
						<br>
					</div>
					<label>Host(s) Number</label>
					<input type="number" class="form-control" ng-model="currentScope.number" ng-required="true" placeholder="1"/>
					<br>
					<label>Environment Variables</label>
					<textarea class="form-control" rows="5" ng-model="currentScope.envVariables" ng-required="false"></textarea>
					<br>
					<label>Default Environment Variables</label>
					<div ng-bind-html="currentScope.defaultEnvVariables"></div>
					<br>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onSubmit()">Submit</button>
		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
</script>