<section ng-controller="hostsCtrl">
	<div style="padding: 10px 0px 25px 5px;" ng-show="(waitMessage && waitMessage.message !== '')">
		<alert type="{{waitMessage.type}}" close="waitMessage.close()">{{waitMessage.message}}</alert>
	</div>
	<br/>
	<div>
		<tabset>
			<tab heading="{{translation.activeHosts[LANG]}}">
				<br>
				<div ng-show="!hosts.controller && nginxHosts.length === 0">
					<alert type="warning" ng-if="deployer.type ==='manual'">
						{{translation.thisEnvironmentConfiguredDeployed[LANG]}} <b>{{translation.manually[LANG]}}</b>.
						{{translation.allServicesRunningEnvironmentHaveStartedStoppedAdministrator[LANG]}}
					</alert>
				</div>
				<div ng-show="hosts.controller || nginxHosts.length > 0">
					<a href="" ng-click="listHosts(envCode)" class="btn btn-primary f-right">
						<span class="icon icon-undo" tooltip="Refresh List"></span>{{translation.refresh[LANG]}}
					</a>
				</div>
				<br/><br/>

				<div class="entryBoxes entryBoxesGrid" ng-init="" style="padding-left: 5px;" ng-show="hosts.controller || nginxHosts.length > 0">
					<fieldset class="groupFieldset" ng-if="hosts.controller">
						<legend>
							<a href="" class="icon" ng-class="{'icon-minus': showCtrlHosts, 'icon-plus': !showCtrlHosts}" ng-click="showHideContent('controller')"></a>SOAJS
							Controllers
						</legend>
						<div ng-repeat="(serviceName, serviceInfo) in hosts">
							<div ng-if="serviceName === 'controller'" class="serviceBox controllerEnvelop" ng-show="showCtrlHosts">
								<div style="width: 100%;" class="head {{serviceInfo.color}}">
									<span class="icon" ng-class="serviceInfo.healthy===true? 'icon-smile2': 'icon-sad2'"></span>&nbsp;{{serviceName}}&nbsp;{{translation.port[LANG]}}:&nbsp;{{serviceInfo.port}}
								</div>
								<div class="service-ips clearfix">
									<div ng-repeat="oneIp in serviceInfo.ips" style="float:left; margin:0 1px; width: 49.5%;">
										<table width="100%" border="1" cellpadding="2" cellspacing="1" class="hostsGrid" valign="middle">
											<tbody>
												<tr>
													<th class="actions">
														{{translation.actions[LANG]}}
													</th>
													<td width="60%" valign="top" rowspan="2" class="{{oneIp.color}}">
														<span><b>{{translation.hostname[LANG]}}:</b>&nbsp;{{oneIp.hostname}}<br/></span>
														<span><b>{{translation.version[LANG]}}:</b>&nbsp;{{oneIp.version}} <br/></span>
														<span><b>IP:</b>&nbsp;{{oneIp.ip}}</span>
													</td>
												</tr>
												<tr>
													<td valign="top" width="10%">
														<a href="" ng-click="executeHeartbeatTest(envCode, oneIp)" title="{{translation.executeHeartbeatOperation[LANG]}}">
															<span class="icon icon-heart"></span>&nbsp;
														</a>

														<a href="" ng-show="oneIp.heartbeat" ng-click="executeAwarenessTest(envCode, oneIp)" title="{{translation.executeAwarenessOperation[LANG]}}">
															<span class="icon icon-connection"></span>&nbsp;
														</a>

														<a href="" ng-show="oneIp.heartbeat" ng-click="reloadRegistry(envCode, oneIp)" title="{{translation.reloadRegistryOperation[LANG]}}">
															<span class="icon icon-undo"></span>&nbsp;
														</a>
														
														<a href="" ng-show="oneIp.heartbeat" ng-click="loadProvisioning(envCode, oneIp)" title="{{translation.loadProvisionOperation[LANG]}}">
															<span class="icon icon-download3"></span>&nbsp;
														</a>
													</td>
												</tr>
											</tbody>
										</table>
										<br/>
									</div>
								</div>
							</div>
						</div>
						<div class="entryBoxes entryBoxesGrid" ng-show="!showCtrlHosts">
							<div ng-repeat="(serviceName, serviceInfo) in hosts">
								<div ng-if="serviceName === 'controller'" class="entryBox blueBox" ng-repeat="oneIp in serviceInfo.ips" ng-style="{'width': '20%', 'text-align': 'center'}">
									<div style="width: 100%;" class="head {{oneIp.color}}">
										<span class="icon" ng-class="serviceInfo.healthy===true? 'icon-smile2': 'icon-sad2'"></span>
										&nbsp;{{oneIp.name}}&nbsp;{{translation.port[LANG]}}:&nbsp;{{oneIp.port}}
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<div ng-repeat="(groupName, groupContent) in groups">
						<fieldset class="groupFieldset">
							<legend>
								<a href="" class="icon" ng-class="{'icon-minus': groupContent.showContent, 'icon-plus': !groupContent.showContent}" ng-click="showHideGroupContent(groupName)"></a>{{groupName}}
							</legend>
							<div ng-repeat="service in groupContent.services" ng-if="groupContent.showContent">
								<div ng-if="hosts[service].ips" class="serviceBox">
									<div style="padding: 10px 0px 25px 5px;" ng-show="(hosts[service].waitMessage && hosts[service].waitMessage.message!=='')">
										<alert type="{{hosts[service].waitMessage.type}}" close="hosts[service].waitMessage.close(hosts[service])">
											{{hosts[service].waitMessage.message}}
										</alert>
									</div>
									<div style="width: 100%;" class="head {{hosts[service].color}}">
										<span class="icon" ng-if="hosts[service].type === 'service'" ng-class="hosts[service].healthy===true? 'icon-smile2': 'icon-sad2'"></span>
										<span class="icon icon-evil2" ng-if="hosts[service].type === 'daemon'"></span>
										&nbsp;{{hosts[service].name}}&nbsp;{{translation.port[LANG]}}:&nbsp;{{hosts[service].port}}
									</div>
									<div class="service-ips">
										<div ng-repeat="(version, ips) in hosts[service].ips">
											<div ng-repeat="oneIp in ips" class="" style="padding:3px 0 0 0;">
												<table border="0" width="100%" cellpadding="2" cellspacing="1" valign="middle">
													<tr>
														<td width="30%" valign="middle">
															<table width="100%" border="1" cellpadding="2" cellspacing="1" class="hostsGrid">
																<tbody>
																	<tr>
																		<th class="actions">
																			{{translation.actions[LANG]}}
																		</th>
																		<td valign="top" rowspan="2" class="{{oneIp.color}}">
																			<span><b>{{translation.hostname[LANG]}}:</b>&nbsp;{{oneIp.hostname}}<br/></span>
																			<span><b>{{translation.version[LANG]}}:</b>&nbsp;{{version}} <br/></span>
																			<span ng-if="oneIp.grpConfName"><b>{{translation.group[LANG]}}:</b>&nbsp;{{oneIp.grpConfName}} <br/></span>
																			<span><b>IP:</b>&nbsp;{{oneIp.ip}}</span>
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" width="26%">
																			<a href="" ng-click="executeHeartbeatTest(envCode, oneIp)" title="{{translation.executeHeartbeatOperation[LANG]}}">
																				<span class="icon icon-heart"></span>&nbsp;
																			</a>
																			<a href="" ng-show="oneIp.healthy" ng-click="reloadRegistry(envCode, oneIp)" title="{{translation.reloadRegistryOperation[LANG]}}">
																				<span class="icon icon-undo"></span>&nbsp;
																			</a>

																			<a href="" ng-show="oneIp.healthy && hosts[service].name === 'oauth'" ng-click="loadProvisioning(envCode, oneIp)" title="{{translation.loadProvisionOperation[LANG]}}">
																				<span class="icon icon-download3"></span>&nbsp;
																			</a>

																			<a href="" ng-show="oneIp.healthy && hosts[service].type === 'daemon'" ng-click="loadDaemonStats(envCode, oneIp)" title="{{translation.loadDaemonStatisticsOperation[LANG]}}">
																				<span class="icon icon-stats-dots"></span>&nbsp;
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="70%">
															<table width="99%" border="1" cellpadding="2" cellspacing="1" class="hostsGrid" style="margin:0 auto;">
																<thead>
																	<tr>
																		<th width="15%" colspan="2">
																			{{translation.controllerUpperCase[LANG]}}
																		</th>
																		<th width="15%">{{translation.status[LANG]}}
																		</th>
																		<th class="lastCheck">
																			{{translation.lastCheck[LANG]}}
																		</th>
																		<th class="downSince">
																			{{translation.downSince[LANG]}}
																		</th>
																		<th class="downCount">
																			{{translation.downCount[LANG]}}
																		</th>
																	</tr>
																</thead>
																<tr ng-repeat="oneController in oneIp.controllers" ng-class="{'first': $first, 'last': $last}" ng-class-odd="'odd'" ng-class-even="'even'">
																	<td><span class="{{oneController.color}}">v.{{oneController.version}}</span>
																	</td>
																	<td><span class="{{oneController.color}}">{{oneController.ip}}</span>
																	</td>
																	<td><span class="{{oneController.color}}" id="1">
																		{{oneController.color === 'green' ? translation.healthy[LANG] : translation.notHealthy[LANG]}}</span>
																	</td>
																	<td><span>{{oneIp.lastCheck}}</span></td>
																	<td><span>{{oneIp.downSince}}</span></td>
																	<td><span>{{oneIp.downCount}}</span></td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="entryBoxes entryBoxesGrid" ng-if="!groupContent.showContent">
								<div class="entryBox blueBox" ng-repeat="service in groupContent.services" ng-style="{'width': '20%', 'text-align': 'center'}">
									<div style="width: 100%;" class="head {{hosts[service].color}}">
										<span class="icon" ng-if="hosts[service].type === 'service'" ng-class="hosts[service].healthy===true? 'icon-smile2': 'icon-sad2'"></span>
										<span class="icon icon-evil2" ng-if="hosts[service].type === 'daemon'"></span>
										&nbsp;{{hosts[service].name}}&nbsp;{{translation.port[LANG]}}:&nbsp;{{hosts[service].port}}
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</section>
