    <section ng-controller="platformsCtrl">
        <!--<alert type="warning" ng-if="deployer.type ==='manual'">-->
            <!--This Environment is Configured to be deployed <b>Manually</b>. All Services running in this environment have to be started and stopped by the administrator.-->
        <!--</alert>-->
        <!--<alert class="blueAlert" ng-if="deployer.type !== 'manual'">-->
            <!--This Environment is Configured to use <b>{{deployer.type}}</b> Deployment.-->
        <!--</alert>-->
        <select class="form-control f-left selectCustom" ng-model="deployer.type">
            <option value="manual">Manual</option>
            <option value="container">Container</option>
        </select>&nbsp;
        <a href="" class="btn btn-primary" ng-click="changeDeployerType()" ng-if="deployer.type !== originalDeployerType">Change</a>
        <div ng-if="allowAddDriver['local'] || allowAddDriver['cloud'] || allowAddDriver['socket']">
            <a href="" class="btn btn-primary" ng-click="addDriver()">Add Driver</a>
            <br><br>
        </div>
        <div class="entryBoxes">
            <div ng-repeat="driver in platforms" class="entryBox mb20">
                <div class="header">
                    {{driver.label}}&nbsp;&nbsp;&nbsp;<span ng-if="driver.uiType !== 'socket'"><b>[ Host: {{driver.host}} | Port: {{driver.port}} ]</b></span>
                    <span ng-if="uiSelected === driver.label" class="text-green">Selected</span>
                    <span class="rightActions">
                        <a ng-if="access.platforms.clear" href="" ng-confirm-click="Are you sure you want to clear this driver's configuration?" ng-click="clearDriverConfig(driver.label);">
                            <span class="icon icon-cross" tooltip="Delete Driver"></span>
                        </a>
                        <a ng-if="access.platforms.update" href="" ng-click="editDriver(driver);">
                            <span class="icon icon-pencil" tooltip="Edit Driver"></span>
                        </a>
                        <a href="" ng-click="uploadCerts(driver.label)">
                            <span class="icon icon-attachment" tooltip="Upload/Choose Certificates"></span>
                        </a>
                        <a href="" ng-click="selectDriver(driver.label)" ng-if="allowSelect">
                            <span class="icon icon-checkbox-checked" tooltip="Select Driver"></span>
                        </a>
                    </span>
                </div>
                <div class="body" ng-if="driver.uiType !== 'socket'">
                    <label>Certificates:&nbsp;</label><br>
                    <div class="entryBoxes entryBoxesGrid">
                        <div class="entryBox blueBox greyBoxCustom" ng-repeat="cert in driver.certificates">
                            <b>{{cert.filename}}</b>
                            <a href="" ng-click="removeCert(cert._id, driver.label)">
                                <span class="icon icon-bin pull-right" tooltip="Remove Certificate"></span>
                            </a>
                        </div>
                    </div>
                    <alert type="warning" ng-if="!driver.certificates || driver.certificates.length === 0">No certificates uploaded yet!</alert>
                </div>
                <div class="body" ng-if="driver.uiType === 'socket'">
                    <label>Socket Path:&nbsp;</label>{{driver.socketPath}}<br>
                </div>
            </div>
        </div>
    </section>

    <script type="text/ng-template" id="uploadCertsInfo.html">
        <div class="modal-body">
            <div ng-bind-html="text"></div>
        </div>
        <div class="modal-footer" ng-if="data">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="uploadCerts.tmpl">
        <div ng-include="'modules/DASHBOARD/environments/directives/uploadCerts.tmpl'"></div>
    </script>

    <script type="text/ng-template" id="addEditDriver.tmpl">
        <div ng-include="'modules/DASHBOARD/environments/directives/addEditDriver.tmpl'"></div>
    </script>