<script type="text/ng-template" id="deployNewService.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<div class="form">
			<alert type="danger" ng-if="currentScope.message.danger">{{currentScope.message.danger}}</alert>
			<form name="deploy" id="deploy" ng-submit="deploy.$valid && onSubmit()">
				<div class="form-group">
					<label>{{translation.serviceName[LANG]}}</label>
					<select class="form-control" ng-required="true" ng-options="service as service.name group by service.UIGroup for service in currentScope.services" ng-model="currentScope.service" ng-change="selectService(currentScope.service)"></select>
					<br>

					<div ng-if="currentScope.groupConfigs">
						<label>{{translation.daemonGroupConfig[LANG]}}</label>
						<select class="form-control" ng-required="true" ng-options="group as group.daemonConfigGroup for group in currentScope.groupConfigs" ng-model="currentScope.groupConfig"></select>
						<br>
					</div>
					<div ng-if="(currentScope.loadingBranches || currentScope.branches) && currentScope.service.type !== 'nginx'">
						<label>{{translation.branch[LANG]}}</label><img class="loadingImage" ng-src={{imagePath}} ng-if="currentScope.loadingBranches">
						<select class="form-control" ng-required="true" ng-options="branch as branch.name for branch in currentScope.branches" ng-model="currentScope.branch" ng-change="selectBranch(currentScope.branch)"></select>
						<br>
					</div>
					<div ng-if="currentScope.service.type === 'nginx'">
						<label>Exposed Port</label>
						<input type="number" class="form-control" ng-required="false" ng-model="currentScope.exposedPort" />
						<br />
					</div>
					<div ng-if="currentScope.conflict">
						<label ng-style="{'color': 'red'}">{{translation.warning[LANG]}}</label><br>
						<label>{{translation.serviceHasRunningInstancesDifferentCommits[LANG]}}</label><br>
						<label>{{translation.recommendedToMaintainHomogeneity[LANG]}}</label><br>

						<div class="grid externalKeysGrid">
							<table cellspacing="0" cellpadding="0" border="0" width="100%" class="">
								<tbody>
									<tr>
										<th colspan="1"></th>
										<th>{{translation.commit[LANG]}}</th>
										<th>{{translation.branch[LANG]}}</th>
										<th>{{translation.hostnames[LANG]}}</th>
									</tr>
									<tr ng-repeat="(commit, data) in currentScope.conflictCommits" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last}">
										<td>
											<input type="radio" ng-if="!currentScope.confirmBranch" value="{{commit}}" ng-model="currentScope.commit">
										</td>
										<td>{{commit}}</td>
										<td>{{data.branch}}</td>
										<td>
											<span ng-repeat="instance in data.instances">{{instance.ip}} v.{{instance.version}}<br></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<label><input type="checkbox" value="true" ng-model="currentScope.confirmBranch" ng-click="confirmBranchSelection()">&nbsp;&nbsp;{{translation.understandTheRiskToDeploy[LANG]}}</label><br>
						<br>
					</div>
					<div ng-if="currentScope.service.type !== 'nginx'">
						<label>Replica Count</label>
						<input type="number" class="form-control" ng-model="currentScope.replicaCount" ng-required="true" />
						<br>
					</div>
					<div ng-if="currentScope.service.type !== 'nginx'">
						<label><input type="checkbox" ng-model="currentScope.useLocalSOAJS" ng-value-true="true" ng-value-false="false" />&nbsp;Enable SOAJS accelerated deployment</label>
						<br><br>
					</div>
					<div ng-if="currentScope.service.type !== 'nginx'">
						<label>{{translation.envVariables[LANG]}}</label>
						<textarea class="form-control" rows="5" ng-model="currentScope.envVariables" ng-required="false"></textarea>
						<br>
						<label>{{translation.defaultEnvVariables[LANG]}}</label>

						<div ng-bind-html="currentScope.defaultEnvVariables"></div>
						<br>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onSubmit()">Deploy</button>
		<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
	</div>
</script>
<section ng-controller="hacloudCtrl">
    <tabset>
        <tab heading="Nodes">
            <br />
            <button class="btn btn-primary" ng-click="addNode()">Add New Node</button>
            <br /><br />
            <div class="entryBoxes">
                <div ng-repeat="node in nodes.list" class="entryBox mb20">
                    <div class="header">
                        {{node.name}}
                        <span class="rightActions">
                            <a href="" ng-confirm-click="Are you sure you want to remove this node?" ng-click="removeNode(node.id)">
                                <span class="icon icon-cross" tooltip="Remove Node"></span>
                            </a>
                            <a ng-if="node.role === 'manager'" href="" ng-click="updateNode(node, 'role', 'worker')">
                                <span class="icon icon-arrow-down2" tooltip="Demote To Worker"></span>
                            </a>
                            <a ng-if="node.role === 'worker'" href="" ng-click="updateNode(node, 'role', 'manager')">
                                <span class="icon icon-arrow-up2" tooltip="Promote To Manager"></span>
                            </a>
                            <a ng-if="node.availability === 'drained'" href="" ng-click="updateNode(node, 'availability', 'active')">
                                <span class="icon icon-switch" tooltip="Activate"></span>
                            </a>
                            <a ng-if="node.availability === 'active'" href="" ng-click="updateNode(node, 'availability', 'drained')">
                                <span class="icon icon-power-cord" tooltip="Drain"></span>
                            </a>
                        </span>
                    </div>
                    <div class="body">
                        <div class="grid">
                            <table cellspacing="0" cellpadding="0" border="1" width="100%" class="customTable">
                                <thead>
                                    <tr class="header">
                                        <td>IP Address</td>
                                        <td>Docker Port</td>
                                        <td>Role</td>
                                        <td>Availability</td>
                                        <td>Memory Resources</td>
                                        <td>CPU Count</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{node.ip}}</td>
                                        <td>{{node.dockerPort}}</td>
                                        <td>{{node.role}}</td>
                                        <td>{{node.availability}}</td>
                                        <td>{{node.resources.memory / 1024 / 1024 / 1024}} GB</td>
                                        <td>{{node.resources.cpuCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Services">
            <br />
            <div ng-if="!hosts.controller">
                <alert type="warning" ng-style="{'text-align': 'center'}">
                    This environment has not been deployed yet!
                </alert>
                <br />
                <button ng-style="{'margin-left': '44%'}" class="btn btn-primary" ng-click="deployNewEnv()">Deploy Environment</button>
            </div>
            <div ng-if="hosts.controller">
                <button class="btn btn-primary" ng-click="deployNewService()">Deploy New Service</button>
                <button class="btn btn-primary f-right" ng-click="listServices()"><span class="icon icon-loop2"></span>&nbsp;Refresh</button>
                <br /><br />
                <fieldset class="groupFieldset" ng-if="hosts.controller">
                    <legend>
                        <a href="" class="icon" ng-class="{'icon-minus': showCtrlHosts, 'icon-plus': !showCtrlHosts}" ng-click="showHideContent('controller')"></a>
                        SOAJS Controllers
                    </legend>
                    <div ng-repeat="(serviceName, serviceInfo) in hosts">
                        <div ng-if="serviceName === 'controller'" ng-show="showCtrlHosts">
                            <div class="entryBoxes">
                                <div class="entryBox mb20">
                                    <div class="header">
                                        <span class="serviceLabelBox">{{serviceName|uppercase}} - v.{{oneIp.version}} | Port: {{serviceInfo.port}}</span>
                                        <div class="dropdown serviceOpsDropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="serviceOpsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Service Operations
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="serviceOpsDropdown">
                                                <li>&nbsp;Deployment</li>
                                                <li><a href="" ng-click="scaleService()"><span class="icon icon-enlarge"></span>&nbsp;Scale Service</a></li>
                                                <li><a href="" ng-click="deleteService()"><span class="icon icon-cross"></span>&nbsp;Delete Service</a></li>
                                                <li>&nbsp;Maintenance</li>
                                                <li><a href="" ng-click="reloadServiceRegistry('controller', serviceInfo.ips)"><span class="icon icon-undo"></span>&nbsp;Reload Registry</a></li>
                                                <li><a href="" ng-click="awarenessStat('controller', serviceInfo.ips)"><span class="icon icon-connection"></span>&nbsp;Awareness Stat</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="grid">
                                            <table cellspacing="0" cellpadding="0" border="1" width="100%" class="customTable">
                                                <thead>
                                                    <tr class="header">
                                                        <td class="maintenanceHeader">Maintenance</td>
                                                        <td class="hostnameHeader">Hostname</td>
                                                        <td class="statusHeader">Status</td>
                                                        <td class="ipHeader">IP Address</td>
                                                        <td>Code</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="container in serviceInfo.ips">
                                                        <td>
                                                            <a href="" ng-click="executeHeartbeatTest(envCode, container)" title="{{translation.executeHeartbeatOperation[LANG]}}">
                                                                <span class="icon icon-heart"></span>&nbsp;
                                                            </a>

                                                            <a href="" ng-show="container.cid" ng-click="hostLogs(envCode, hosts[service].name, container, hosts[service])">
                                                                <span class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>&nbsp;
                                                            </a>
                                                        </td>
                                                        <td>{{container.hostname}}</td>
                                                        <td>
                                                            <span style="color: green" ng-if="container.heartbeat"><b>Healthy</b></span>
                                                            <span style="color: red" ng-if="!container.heartbeat"><b>Unreachable</b></span>
                                                        </td>
                                                        <td>{{container.ip}}</td>
                                                        <td>{{container.code}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div ng-repeat="(groupName, groupContent) in groups">
                    <fieldset class="groupFieldset">
                        <legend>
                            <a href="" class="icon" ng-class="{'icon-minus': groupContent.showContent, 'icon-plus': !groupContent.showContent}" ng-click="showHideGroupContent(groupName)"></a>{{groupName}}
                        </legend>
                        <div class="entryBoxes">
                            <div class="entryBox mb20" ng-repeat="service in groupContent.services" ng-if="groupContent.showContent">
                                <div class="header">
                                    <span class="serviceLabelBox">{{hosts[service].name|uppercase}} - v.{{hosts[service].version}} | Port: {{hosts[service].port}}</span>
                                    <div class="dropdown serviceOpsDropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="serviceOpsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Service Operations
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="serviceOpsDropdown">
                                            <li>&nbsp;Deployment</li>
                                            <li><a href="" ng-click="scaleService()"><span class="icon icon-enlarge"></span>&nbsp;Scale Service</a></li>
                                            <li><a href="" ng-click="deleteService()"><span class="icon icon-cross"></span>&nbsp;Delete Service</a></li>
                                            <li>&nbsp;Maintenance</li>
                                            <li><a href="" ng-click="reloadServiceRegistry('service', hosts[service])"><span class="icon icon-undo"></span>&nbsp;Reload Registry</a></li>
                                            <li><a href="" ng-click="loadServiceProvision('service', hosts[service])"><span class="icon icon-download3"></span>&nbsp;Load Provision</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="grid">
                                        <table cellspacing="0" cellpadding="0" border="1" width="100%" class="customTable">
                                            <thead>
                                                <tr class="header">
                                                    <td class="maintenanceHeader">Maintenance</td>
                                                    <td class="hostnameHeader">Hostname</td>
                                                    <td class="statusHeader">Status</td>
                                                    <td class="ipHeader">IP Address</td>
                                                    <td>Controller Awareness</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="container in hosts[service].ips[1]">
                                                    <td>
                                                        <a href="" ng-click="executeHeartbeatTest(envCode, container)" title="{{translation.executeHeartbeatOperation[LANG]}}">
                                                            <span class="icon icon-heart"></span>&nbsp;
                                                        </a>

                                                        <a href="" ng-show="container.healthy && hosts[service].type === 'daemon'" ng-click="loadDaemonStats(envCode, container)" title="{{translation.loadDaemonStatisticsOperation[LANG]}}">
                                                            <span class="icon icon-stats-dots"></span>&nbsp;
                                                        </a>

                                                        <a href="" ng-show="container.cid" ng-click="hostLogs(envCode, hosts[service].name, container, hosts[service])">
                                                            <span class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>&nbsp;
                                                        </a>
                                                    </td>
                                                    <td>{{container.hostname}}</td>
                                                    <td>
                                                        <span style="color: green" ng-if="container.healthy"><b>Healthy</b></span>
                                                        <span style="color: red" ng-if="!container.healthy"><b>Unreachable</b></span>
                                                    </td>
                                                    <td>{{container.ip}}</td>
                                                    <td>
                                                        <span ng-repeat="ctrl in container.controllers" class="ctrlBox" ng-class="{'ctrlBoxHealthy': ctrl.heartbeat, 'ctrlBoxUnhealthy': !ctrl.heartbeat}">{{ctrl.code}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </tab>
    </tabset>
</section>
