<section ng-controller="platformsCtrl">
    <fieldset>
        <legend>
            Deployment Settings
        </legend>
        <div ng-if="access.platforms.deployer.changeDeployerType">
            <label class="f-left pt6">Deployment Type:&nbsp;&nbsp;</label>
            <select class="form-control f-left selectCustom" ng-model="deployer.type">
                <option value="manual">{{translation.manual[LANG]}}</option>
                <option value="container">{{translation.container[LANG]}}</option>
            </select>
            <a href="" style="margin-left:10px" class="btn btn-primary" ng-click="changeDeployerType()" ng-if="access.platforms.deployer.changeDeployerType && deployer.type !== originalDeployerType">{{translation.change[LANG]}}</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            Platforms & Certificates
        </legend>
        <fieldset ng-repeat="(platform, drivers) in platforms" ng-if="access.platforms.list">
            <legend>
                <img ng-if="platform === 'docker'" ng-src="{{dockerImagePath}}" height="32px" width="140px" alt="Docker Logo"/>
                <img ng-if="platform === 'kubernetes'" ng-src="{{kubernetesImagePath}}" height="40px" width="155px" alt="Kubernetes Logo"/>
            </legend>
            <div class="entryBoxes entryBoxesGrid">
                <div ng-repeat="(driver, config) in drivers" class="entryBox mb20 driverEntryBox">
                    <div class="header">
                        {{driver|uppercase}}
                        <span ng-if="deployer.selected === platform + '.' + driver && allowSelect" ng-style="{'color': 'green'}"><span class="icon icon-checkmark"></span>Active</span>
                        <span class="rightActions">
                            <a href="" ng-if="access.platforms.certs.upload && platform !== 'kubernetes' && !config.socketPath && deployer.selected === platform + '.' + driver && allowSelect" ng-click="uploadCerts(platform, driver)">
                                <span class="icon icon-attachment" tooltip="{{translation.uploadCertificates[LANG]}}"></span>
                            </a>
                            <a href="" ng-if="access.platforms.drivers.changeSelected && allowSelect" ng-click="selectDriver(platform, driver)">
                                <span class="icon icon-checkbox-checked" tooltip="{{translation.selectDriver[LANG]}}"></span>
                            </a>
                            <a href="" ng-if="platform === 'kubernetes'" ng-click="updateNamespaceConfig(driver)">
                                <span class="icon icon-cog" tooltip="Update Namespace Configuration"></span>
                            </a>
                        </span>
                    </div>
                    <div class="body">
                        <div ng-if="platform === 'docker'">
                            <div ng-if="config.socketPath">
                                <label class="customLabel">Socket Path:&nbsp;</label>{{config.socketPath}}<br />
                                <label class="customLabel">Certificates:</label><br />
                                <alert type="success">This driver does not require certificates</alert>
                            </div>
                            <div ng-if="!config.socketPath">
                                <br />
                                <label class="customLabel">Certificates:</label><br />
                                <div class="staticDiv">
                                    <div ng-style="{'padding-top': '10px'}" ng-if="config.certs.length > 0">
                                        <div class="entryBox blueBox greyBoxCustom" ng-repeat="cert in config.certs">
                                            <b>{{cert.filename}} [{{cert.certType}}]</b>
                                            <a href="" ng-if="access.platforms.certs.delete" ng-click="removeCert(cert._id, platform, driver)">
                                                <span class="icon icon-bin pull-right" tooltip="{{translation.removeCertificate[LANG]}}"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <alert type="warning" ng-if="!config.certs || config.certs.length === 0">{{translation.noCertificatesUploadedYet[LANG]}}</alert>
                                </div>
                            </div>
                        </div>
                        <div ng-if="platform === 'kubernetes'">
                            <table ng-style="{'width': '100%'}">
                                <tr>
                                    <td valign="top">
                                        <b>Namespace Configuration</b>
                                    </td>
                                    <td>
                                        <b>Default:</b> {{config.namespace.default}}<br />
                                        <b>Type:</b> {{(config.namespace.perService ? 'Per Service' : 'Global')}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </fieldset>
</section>

<script type="text/ng-template" id="uploadCertsInfo.html">
    <div class="modal-body">
        <div ng-bind-html="text"></div>
    </div>
    <div class="modal-footer" ng-if="data">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="uploadCerts.tmpl">
    <div ng-include="'modules/dashboard/environments/directives/uploadCerts.tmpl'"></div>
</script>

<script type="text/ng-template" id="updateNamespaceConfig.tmpl">
    <div ng-include="'modules/dashboard/environments/directives/updateNamespaceConfig.tmpl'"></div>
</script>
