<section ng-controller="hostsCtrl">
	<script type="text/ng-template" id="serviceInfoBox.html">
	    <div class="modal-header">
	        <h3 class="modal-title">{{title}}</h3>
	    </div>
	    <div class="modal-body"><pre><code class="javascript">{{data}}</code></pre></div>
	    <div class="modal-footer">
	        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
	    </div>
	</script>

	<script type="text/ng-template" id="logBox.html">
		<div class="modal-header">
		    <h3 class="modal-title">{{title}}</h3>
		</div>
		<div class="modal-body"><pre><code class="sh">{{data}}</code></pre></div>
		<div class="modal-footer">
		    <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
		</div>
	</script>

	<div style="padding: 10px 0px 25px 5px;" ng-show="(waitMessage && waitMessage.message !== '')">
	    <alert type="{{waitMessage.type}}" close="waitMessage.close()">{{waitMessage.message}}</alert>
	</div>
	<br/>
	<div>
	    <div ng-show="!hosts.controller">

		    <alert type="warning" ng-if="deployer.type ==='manual'">
			    {{translation.thisEnvironmentConfiguredDeployed[LANG]}} <b>{{translation.manually[LANG]}}</b>. {{translation.allServicesRunningEnvironmentHaveStartedStoppedAdministrator[LANG]}}
		    </alert>

	        <div ng-if="deployer.type !=='manual'" id="non-deployed-{{envCode}}" style="padding: 10px 0px 25px 5px;">
	            <alert type="warning">{{translation.thisEnvironmentHasNotBeenDeployedYet[LANG]}}</alert>
	            <input type="button" value="{{translation.deployEnvironment[LANG]}}" class="btn btn-primary" ng-click="deployEnvironment(envCode)" style="float:none; top:0; display:block; margin:20px auto 0;"/>
	        </div>
	    </div>
	    <div ng-show="hosts.controller">
	        <input ng-if="deployer.type !== 'manual'" type="button" value="{{translation.addNewHosts[LANG]}}" ng-click="createHost(envCode, hosts);" class="btn btn-primary" style="float:left !important;"/>
	        <a href="" ng-click="listHosts(envCode)" class="btn btn-primary f-right">
	            <span class="icon icon-undo" tooltip="Refresh List"></span>{{translation.refresh[LANG]}}
	        </a>
	    </div>
	    <br/><br/>
	    <div class="entryBoxes entryBoxesGrid" ng-init=""  style="padding-left: 5px;" ng-show="hosts.controller">
	        <div ng-repeat="(serviceName, serviceInfo) in hosts">
	            <div ng-if="serviceName === 'controller'" class="serviceBox controllerEnvelop">
	                <div style="width: 100%;" class="head {{serviceInfo.color}}">
	                    <span class="icon" ng-class="serviceInfo.healthy===true? 'icon-smile2': 'icon-sad2'"></span>&nbsp;{{serviceName}}
	                </div>
	                <div class="service-ips clearfix">
	                    <div ng-repeat="oneIp in serviceInfo.ips" style="float:left; margin:0 1px;">
	                        <table border="1" cellpadding="2" cellspacing="1" class="OneIpTable hostsGrid">
	                            <thead>
	                                <tr>
	                                    <th colspan="2" class="host-ip">{{translation.hostname[LANG]}}&nbsp;<b>v.{{oneIp.version}}</b></th>
	                                    <th class="host-ip">IP:{{translation.port[LANG]}}</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <td><span class="icon {{oneIp.color}}" ng-class="oneIp.heartbeat === true? 'icon-smile' : 'icon-sad'"></span></td>
	                                    <td><span class="{{oneIp.color}}">{{oneIp.hostname}}</span></td>
	                                    <td><span class="{{oneIp.color}}">{{oneIp.ip}}:{{serviceInfo.port}}</span></td>
	                                </tr>
	                                <tr>
	                                    <td colspan="4">
	                                        <a href="" ng-click="executeHeartbeatTest(envCode, oneIp)" title="{{translation.executeHeartbeatOperation[LANG]}}">
	                                            <span class="icon icon-heart"></span>&nbsp;
	                                        </a>

	                                        <a href="" ng-show="oneIp.heartbeat" ng-click="executeAwarenessTest(envCode, oneIp)" title="{{translation.executeAwarenessOperation[LANG]}}">
	                                            <span class="icon icon-connection"></span>&nbsp;
	                                        </a>

	                                        <a href="" ng-show="oneIp.heartbeat" ng-click="reloadRegistry(envCode, oneIp)" title="{{translation.reloadRegistryOperation[LANG]}}">
	                                            <span class="icon icon-undo"></span>&nbsp;
	                                        </a>

	                                        <a href="" ng-show="oneIp.cid" ng-confirm-click="{{translation.areYouSureYouWantRemoveHost[LANG]}}" ng-click="removeHost(envCode, serviceName, oneIp)">
	                                            <span class="icon icon-cross" title="{{translation.removeHostIP[LANG]}}"></span>&nbsp;
	                                        </a>

	                                        <a href="" ng-show="oneIp.heartbeat && oneIp.cid" ng-click="hostLogs(envCode, serviceName, oneIp, serviceInfo)">
	                                            <span class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>&nbsp;
	                                        </a>
	                                    </td>
	                                </tr>
	                            </tbody>
	                        </table>
	                        <br/>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div ng-repeat="(serviceName, serviceInfo) in hosts">
	            <div ng-if="serviceName !== 'controller' && serviceInfo.ips" class="serviceBox">
	                <div style="padding: 10px 0px 25px 5px;" ng-show="(serviceInfo.waitMessage && serviceInfo.waitMessage.message!=='')">
	                    <alert type="{{serviceInfo.waitMessage.type}}" close="serviceInfo.waitMessage.close(serviceInfo)" >{{serviceInfo.waitMessage.message}}</alert>
	                </div>
	                <div style="width: 100%;" class="head {{serviceInfo.color}}">
						<span class="icon" ng-if="serviceInfo.type === 'service'" ng-class="serviceInfo.healthy===true? 'icon-smile2': 'icon-sad2'"></span>
						<span class="icon icon-evil2" ng-if="serviceInfo.type === 'daemon'"></span>
						&nbsp;{{serviceName}}&nbsp;port:&nbsp;{{serviceInfo.port}}
	                </div>
	                <div class="service-ips">
		                <div ng-repeat="(version, ips) in serviceInfo.ips">
			                <div ng-repeat="oneIp in ips" class="" style="padding:3px 0 0 0;">
				                <table border="0" width="100%" cellpadding="2" cellspacing="1" valign="middle">
					                <tr>
						                <td width="30%" valign="middle">
							                <table width="100%" border="1" cellpadding="2" cellspacing="1" class="hostsGrid">
								                <thead>
									                <tr>
										                <th class="actions">{{translation.actions[LANG]}}</th>
										                <th class="host-ip">{{translation.hostname[LANG]}}&nbsp;<b>v.{{version}}</b></th>
									                </tr>
								                </thead>
								                <tr>
									                <td valign="top" width="26%">
										                <a href="" ng-click="executeHeartbeatTest(envCode, oneIp)" title="{{translation.executeHeartbeatOperation[LANG]}}">
											                <span class="icon icon-heart"></span>&nbsp;
										                </a>
										                <a href="" ng-show="oneIp.healthy" ng-click="reloadRegistry(envCode, oneIp)" title="{{translation.reloadRegistryOperation[LANG]}}">
											                <span class="icon icon-undo"></span>&nbsp;
										                </a>

										                <a href="" ng-show="oneIp.healthy" ng-click="loadProvisioning(envCode, oneIp)" title="{{translation.loadProvisionOperation[LANG]}}">
											                <span class="icon icon-download3"></span>&nbsp;
										                </a>

										                <a href="" ng-show="oneIp.healthy && serviceInfo.type === 'daemon'" ng-click="loadDaemonStats(envCode, oneIp)" title="{{translation.loadDaemonStatisticsOperation[LANG]}}">
											                <span class="icon icon-stats-dots"></span>&nbsp;
										                </a>

										                <a href="" ng-show="oneIp.cid" ng-confirm-click="{{translation.areYouSureYouWantRemoveHost[LANG]}}" ng-click="removeHost(envCode, serviceName, oneIp)">
											                <span class="icon icon-cross" title="{{translation.removeHostIP[LANG]}}"></span>&nbsp;
										                </a>

										                <a href="" ng-show="oneIp.healthy && oneIp.cid" ng-click="hostLogs(envCode, serviceName, oneIp, serviceInfo)">
											                <span class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>&nbsp;
										                </a>
										                <!--<a href="" ng-show="oneIp.healthy && oneIp.cid" ng-click="infoHost(envCode, serviceName, oneIp, serviceInfo)">-->
										                <!--<span class="icon icon-info" title="Get Service Info"></span>&nbsp;-->
										                <!--</a>-->
									                </td>
									                <!--<td valign="top"><span class="{{oneIp.color}}">{{oneIp.hostname}}<br /><b>IP:</b>&nbsp;{{oneIp.ip}}<br /><b>Version:</b>&nbsp;{{version}}</span></td>-->
									                <td valign="top"><span class="{{oneIp.color}}">{{oneIp.hostname}}<br />{{oneIp.ip}}</span></td>
								                </tr>
							                </table>
						                </td>
						                <td width="70%">
							                <table width="99%" border="1" cellpadding="2" cellspacing="1" class="hostsGrid" style="margin:0 auto;">
								                <thead>
									                <tr>
										                <th width="15%" colspan="2">{{translation.controllerUpperCase[LANG]}}</th>
										                <th width="15%">{{translation.status[LANG]}}</th>
										                <th class="lastCheck">{{translation.lastCheck[LANG]}}</th>
										                <th class="downSince">{{translation.downSince[LANG]}}</th>
										                <th class="downCount">{{translation.downCount[LANG]}}</th>
									                </tr>
								                </thead>
								                <tr ng-repeat="oneController in oneIp.controllers" ng-class="{'first': $first, 'last': $last}" ng-class-odd="'odd'" ng-class-even="'even'">
									                <td><span class="{{oneController.color}}">v.{{oneController.version}}</span></td>
									                <td><span class="{{oneController.color}}">{{oneController.ip}}</span></td>
									                <td><span class="{{oneController.color}}">{{oneController.color === 'green' ? translation.healthy[LANG] : translation.notHealthy[LANG]}}</span></td>
									                <td><span>{{oneIp.lastCheck}}</span></td>
									                <td><span>{{oneIp.downSince}}</span></td>
									                <td><span>{{oneIp.downCount}}</span></td>
								                </tr>
							                </table>
						                </td>
					                </tr>
				                </table>
				                <br/>
			                </div>
		                </div>
	                </div>

	            </div>
	            <br/>
	        </div>
	    </div>
	</div>
</section>