<script type="text/ng-template" id="deployNewService.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<div class="form">
			<alert type="danger" ng-if="currentScope.message.danger">{{currentScope.message.danger}}</alert>
			<form name="deploy" id="deploy" ng-submit="deploy.$valid && onSubmit()">
				<div class="form-group">
					<fieldset>
						<legend>Deployment Options</legend>
						<div>
							<label>Deployment Name</label>
							<input type="text" class="form-control" ng-model="currentScope.name" ng-required="false"/>
							<label class="fieldMsg">Optional: Choose a name for the new deployment. Environment code will be appended to the chosen name example: dev-myResource.</label>
							<br /><br />
						</div>
						<div>
							<label>Deployment Mode</label>
							<select class="form-control" ng-required="true" ng-options="mode for mode in currentScope.deploymentModes" ng-model="currentScope.mode"></select>
							<label class="fieldMsg">Global/Daemonset mode deploys one replica of the service on each
								node.</label>
							<label class="fieldMsg">Replicated/Deployment mode deploys the specified number of replicas
								based on the availability of resources.</label>
							<br /><br />
						</div>
						<div ng-if="currentScope.mode == 'replicated' || currentScope.mode == 'deployment'">
							<label>Replica Count</label>
							<input type="number" class="form-control" ng-model="currentScope.number" ng-required="true"/>
							<br>
						</div>
						<div>
							<label>Memory Limit Per Instance (in MBytes)</label>
							<input type="number" class="form-control" ng-model="currentScope.memoryLimit" ng-required="true"/>
							<br/>
						</div>
						<div>
							<label>Catalog
								Recipe</label><img class="loadingImage" ng-src={{imagePath}} ng-if="currentScope.loadingRecipes">
							<select class="form-control" ng-required="true" ng-options="recipe._id as recipe.name group by recipe.type for recipe in myRecipes" ng-model="currentScope.recipe" ng-change="injectCatalogEntries()"></select>
							<br>
						</div>
						<div ng-include="'modules/dashboard/environments/directives/list-cloud-catalogInputs.tmpl'"></div>
					</fieldset>
					<fieldset ng-if="currentScope.allowGitOverride">
						<legend>Service Options</legend>
						<div>
							<label>{{translation.serviceName[LANG]}}</label>
							<select class="form-control" ng-required="true" ng-options="service as service.name group by service.UIGroup for service in currentScope.services" ng-model="currentScope.service" ng-change="selectService(currentScope.service)"></select>
							<br>
						</div>
						<div>
							<label>{{translation.serviceVersion[LANG]}}</label>
							<select class="form-control" ng-required="true" ng-options="version as version for version in currentScope.versions" ng-model="currentScope.version"></select>
							<br>
						</div>
						<div ng-if="currentScope.groupConfigs">
							<label>{{translation.daemonGroupConfig[LANG]}}</label>
							<select class="form-control" ng-required="true" ng-options="group as group.daemonConfigGroup for group in currentScope.groupConfigs" ng-model="currentScope.groupConfig"></select>
							<br>
						</div>
						<div ng-if="(currentScope.loadingBranches || currentScope.branches) && currentScope.service.type !== 'nginx'">
							<label>{{translation.branch[LANG]}}</label><img class="loadingImage" ng-src={{imagePath}} ng-if="currentScope.loadingBranches">
							<select class="form-control" ng-required="true" ng-options="branch as branch.name for branch in currentScope.branches" ng-model="currentScope.branch" ng-change="selectBranch(currentScope.branch)"></select>
							<br>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onSubmit()">Deploy</button>
		<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="scaleService.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body text-align-center">
		<alert type="danger" ng-if="message.danger">{{message.danger}}</alert>
		<div class="form">
			<label>This service is currently running as a replica of {{currentScale}} instance(s)</label>
			<br/>
			<label>How many instances should this service be scaled to?</label>
			<input type="number" class="form-control centeredInput" required="true" ng-model="newScale"/>
			<br/>
			<alert type="info" class="text-align-center">
				Scaling a service is a process that might take some time to complete.
			</alert>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onSubmit()">Scale</button>
		<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="infoService.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body text-align-center">
		<div readonly="true" ui-ace="{useWrapMode : true, showGutter: true, mode: 'json', firstLineNumber: 1, onLoad: fillAceWithInfo}"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="logBox.html">
	<div class="modal-header">
		<table width="100%">
			<tr>
				<td width="80%">
					<h3 class="modal-title">{{title}}</h3>
				</td>
				<td width="20%" align="center">
					<span><text-size-slider min="10" max="36" unit="px" value="12" idt="code"></text-size-slider></span>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-body">
		<pre id="code" class="preBox" scroll-glue><code style="white-space: pre !important;" class="sh" ng-bind-html="data"></code></pre>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
	</div>
</script>

<script type="text/ng-template" id="metrics.html">
	<div class="modal-header">
		<table width="100%">
			<tr>
				<td width="80%">
					<h3 class="modal-title">{{title}}</h3>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-body">
		<iframe ng-src="{{url | toTrustedSrc}}" height="800" width="100%"></iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
	</div>
</script>

<section ng-controller="hacloudCtrl">
	<tabset>
		<tab heading="Nodes" ng-if="access.hacloud.nodes.list">
			<br/>
			<div ng-if="localDeployment">
				<alert type="info">
					Node management is not supported in local deployment mode
				</alert>
				<br/>
			</div>
			<div ng-if="!localDeployment">
				<div ng-if="envCode === 'DASHBOARD'">
					<button class="btn btn-primary" ng-if="access.hacloud.nodes.add && envPlatform !== 'kubernetes'" ng-click="addNode()">
						Add New Node
					</button>
					<br/><br/>
				</div>
				<div ng-if="envCode !== 'DASHBOARD'">
					<alert type="info">
						Node management is only allowed in the DASHBOARD environment
					</alert>
					<br/>
				</div>
			</div>
			<div class="entryBoxes">
				<div ng-repeat="node in nodes.list" class="entryBox mb20">
					<div class="header">
						{{node.hostname}}
						<span class="rightActions" ng-if="envCode === 'DASHBOARD' && !localDeployment">
                            <a href="" ng-if="access.hacloud.nodes.remove" ng-confirm-click="Are you sure you want to remove this node?" ng-click="removeNode(node.id)">
                                <span class="icon icon-cross" tooltip="Remove Node"></span>
                            </a>
							<div ng-if="envPlatform === 'docker'">
								<a ng-if="node.role === 'manager' && access.hacloud.nodes.update" href="" ng-click="updateNode(node, 'role', 'worker')">
	                                <span class="icon icon-arrow-down2" tooltip="Demote To Worker"></span>
	                            </a>
	                            <a ng-if="node.role === 'worker' && access.hacloud.nodes.update" href="" ng-click="updateNode(node, 'role', 'manager')">
	                                <span class="icon icon-arrow-up2" tooltip="Promote To Manager"></span>
	                            </a>
							</div>
                            <a ng-if="node.availability === 'drain' && access.hacloud.nodes.update" href="" ng-click="updateNode(node, 'availability', 'active')">
                                <span class="icon icon-switch" tooltip="Activate"></span>
                            </a>
                            <a ng-if="node.availability === 'active' && access.hacloud.nodes.update" href="" ng-click="updateNode(node, 'availability', 'drain')">
                                <span class="icon icon-power-cord" tooltip="Drain"></span>
                            </a>
                        </span>
					</div>
					<div class="body">
						<div class="grid">
							<table cellspacing="0" cellpadding="0" border="1" width="100%" class="customTable">
								<thead>
									<tr class="header">
										<td>IP Address</td>
										<td>Role</td>
										<td>Availability</td>
										<td>Memory Resources</td>
										<td>CPU Count</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{node.ip}}</td>
										<td>{{node.spec.role}}</td>
										<td>{{node.spec.availability}}</td>
										<td>{{node.resources.memory | bytesToGbytes}} GB</td>
										<td>{{node.resources.cpus}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Services" ng-if="access.hacloud.services.list">
			<br/>
			<div ng-if="!hosts">
				<alert type="warning" ng-style="{'text-align': 'center'}">This environment has not been deployed yet!
				</alert>
				<br/>
				<button ng-style="{'margin-left': '44%'}" ng-if="access.hacloud.services.add" class="btn btn-primary" ng-click="deployNewEnv()">
					Deploy Environment
				</button>
			</div>
			<div ng-if="envPlatform === 'kubernetes' && namespaces.length > 0">
				<select class="form-control namespaceSelect" ng-options="namespace.id as namespace.name for namespace in namespaces" ng-model="namespaceConfig.namespace"></select>
				<br />
			</div>
			<div class="c-both w100 table" ng-if="envDeployed">
				<button class="btn btn-primary f-left" ng-if="access.hacloud.services.add" ng-click="deployNewService()">Deploy Resource</button>
				<span class="col-sm-2" ng-show="showActivateAnalytics" ng-if="access.analytics.activate"><button class="btn btn-success" ng-click="activateAnalytics()">Activate Analytics</button></span>
				<span class="col-sm-2" ng-show="showAnalytics" ng-if="access.analytics.deactivate"><button class="btn btn-danger" ng-click="deactivateAnalytics()">Deactivate Analytics</button></span>
				<div class="dropdown refreshDropDown f-right">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="icon icon-loop2"></span>&nbsp;{{selectedInterval.l}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="refreshDropdown">
						<li ng-repeat="oneInterval in refreshIntervals">
							<a href="" ng-click="changeInterval(oneInterval)">{{oneInterval.l}}</a></li>
					</ul>
				</div>
				<br /><br />
			</div>
			<tabset ng-if="hosts">
				<tab ng-repeat="(groupName, list) in hosts track by $index" heading="{{list.label}}" ng-show="((groupName !== 'soajs' && list.list.length > 0)||(groupName === 'soajs'))" ng-click="changeSectionType(groupName)">
					<br/><br/>
					<div ng-if="['soajs'].indexOf(groupName) === -1">
						<fieldset class="groupFieldset" ng-repeat="service in list.list | filter:namespaceConfig.namespace:true">
							<legend>
								<a href="" class="icon" ng-class="{'icon-minus': service.expanded, 'icon-plus': !service.expanded}" ng-click="showHideContent(service)"></a>
								{{service.name}}
							</legend>
							<div class="entryBoxes" ng-show="service.expanded">
								<div class="entryBox mb20">
									<div class="header table">
										<span class="serviceLabelBox">{{service.labels['soajs.service.name'] || service.name}}</span>

										<span class="red" ng-show="service.imageUpdate || service.catalogUpdate">
											<span class="icon icon-notification"></span>&nbsp;New Updates Available
										</span>
										<span class="red" ng-show="service.codeUpdate">
											<span class="icon icon-notification"></span>&nbsp;New Updates Available, Check the Ledger
										</span>

										<span ng-show="service.failures > 0" class="btn btn-sm btn-danger f-right" ng-click="showHideFailures(service);">Failures: {{service.failures}}</span>
										<div class="dropdown serviceOpsDropdown">
											<a href="" ng-if="service.labels['soajs.service.name'] === 'nginx' && showAnalytics" ng-click="metrics('', service.labels['soajs.service.name'],'service','Filebeat',service.labels['soajs.service.mode'])"><span class="icon icon-pie-chart" title="{{translation.getServiceAnalytics[LANG]}}"></span></a>
											<button class="btn btn-default dropdown-toggle" type="button" id="nginxOpsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												Service Operations
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" aria-labelledby="serviceOpsDropdown">
												<li><a href="" ng-click="inspectService(service)"><span class="icon icon-info"></span>&nbsp;Inspect Service</a></li>
												<li ng-if="['elk','db'].indexOf(groupName) === -1"><a href="" ng-if="access.hacloud.services.scale" ng-click="scaleService(service, groupName)"><span class="icon icon-enlarge"></span>&nbsp;Scale Service</a></li>
												<li><a href="" ng-if="access.hacloud.services.redeploy" ng-click="redeployService(service)" ng-confirm-click="Are you sure you want to restart this service?"><span class="icon icon-undo"></span>&nbsp;Restart Service</a></li>
												<li><a href="" ng-if="access.hacloud.services.redeploy" ng-click="rebuildService(service, 'ui')" ng-confirm-click="Are you sure you want to redeploy this service?"><span class="icon icon-loop2"></span>&nbsp;Redeploy Service</a></li>
												<li><a href="" ng-if="access.hacloud.services.delete && !(envCode.toLowerCase() === 'dashboard' && groupName === 'nginx')" ng-click="deleteService(service, groupName)" ng-confirm-click="Are you sure you want to delete this service?"><span class="icon icon-cross"></span>&nbsp;Delete Service</a></li>
												<li ng-if="['elk','db'].indexOf(groupName) === -1 && showAnalytics && envPlatform === 'docker'"> <a href="" ng-click="metrics('', service.name,'other','metricbeat',service.labels['soajs.service.mode'])"><span class="icon icon-stats-bars"></span>&nbsp;Get Service Metrics</a></li>
											</ul>
										</div>
									</div>
									<div class="body">
										<div class="grid">
											<table cellspacing="0" cellpadding="0" border="1" width="100%" class="customTable">
												<thead>
													<tr class="header">
														<td class="maintenanceHeader">Container Operation</td>
														<td class="hostnameHeader">Container Name</td>
														<td class="Started">Started On</td>
														<td class="statusHeader">Status</td>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="instance in service.tasks" ng-hide="instance.hideIt && !service.hideIt">
														<td>
															<a href="" ng-if="access.hacloud.services.logs">
																<span ng-click="hostLogs(instance)" class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>
															</a>
															<a href="" ng-if="(showAnalytics || (analyticsIsDeployed && !service.labels['soajs.env.code']))&& envPlatform === 'docker'">
																<span ng-click="metrics(instance,service.labels['soajs.service.repo.name'],'task','metricbeat',service.labels['soajs.service.mode'])" class="icon icon-stats-bars" title="{{translation.getContainerMetrics[LANG]}}"></span>
															</a>
														</td>
														<td>{{instance.name}}</td>
														<td>{{instance.status.ts}}</td>
														<td>
															<span ng-class="{'green': instance.status.state ==='running', 'red': instance.status.state !=='running'}"><b>{{instance.status.state}}</b></span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div ng-if="groupName === 'soajs'">
						<div ng-if="!list.groups">
							<div ng-show="hosts['nginx'].list.length === 0">
								<alert type="warning" ng-style="{'text-align': 'center'}">This environment has not been
									deployed yet!
								</alert>
								<br/>
								<button ng-style="{'margin-left': '44%'}" ng-if="access.hacloud.services.add" class="btn btn-primary" ng-click="deployNewEnv()">
									Deploy Environment
								</button>
							</div>
						</div>
						<fieldset class="groupFieldset" ng-repeat="(name, group) in list.groups">
							<legend>
								<a href="" class="icon" ng-class="{'icon-minus': group.expanded, 'icon-plus': !group.expanded}" ng-click="showHideContent(group)"></a>
								{{name}}
							</legend>
							<div class="entryBoxes" ng-show="group.expanded">
								<div style="padding: 10px 0px 25px 5px;" ng-show="(waitMessage && waitMessage.message !== '')">
									<alert type="{{waitMessage.type}}" close="waitMessage.close()">
										{{waitMessage.message}}
									</alert>
								</div>
								<fieldset ng-repeat="service in group.list | filter:namespaceConfig.namespace:true">
									<div class="entryBox mb20 {{service.color}}">
										<div class="header table">
											<span class="serviceLabelBox">
												{{service.labels['soajs.service.name']}} /
												<span style="margin-left: 0;" ng-if="service.labels['soajs.service.type'] === 'daemon' && service.daemonGroup">Group: {{service.daemonGroup}} /</span>
												Version: {{service.labels['soajs.service.version']}}
											</span>

											<span class="red" ng-show="service.imageUpdate || service.catalogUpdate">
												<span class="icon icon-notification"></span>&nbsp;New Updates Available
											</span>

											<span class="red" ng-show="service.codeUpdate">
												<span class="icon icon-notification"></span>&nbsp;New Updates Available, Check the Ledger
											</span>

											<span ng-show="service.failures > 0" class="btn btn-sm btn-danger f-right" ng-click="showHideFailures(service);">Failures: {{service.failures}}</span>
											<div class="dropdown serviceOpsDropdown">
												<button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
													Service Operations
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" aria-labelledby="serviceOpsDropdown">
													<li><a href="" ng-click="inspectService(service)"><span class="icon icon-info"></span>&nbsp;Inspect</a></li>
													<li><a href="" ng-if="access.hacloud.services.operation" ng-click="executeHeartbeatTest(service)"><span class="icon icon-heart"></span> Heart Beat</a></li>
													<li><a href="" ng-if="access.hacloud.services.operation" ng-show="service.labels['soajs.service.type'] === 'daemon'" ng-click="loadDaemonStats(service)"><span class="icon icon-stats-dots"></span>&nbsp;{{translation.loadDaemonStatisticsOperation[LANG]}}</a></li>
													<li><a href="" ng-if="access.hacloud.services.operation" ng-show="service.labels['soajs.service.type'] === 'daemon'" ng-click="loadDaemonGroupConfig(service)"><span class="icon icon-equalizer"></span>&nbsp;{{translation.loadDaemonGroupConfig[LANG]}}</a></li>
													<li><a href="" ng-if="access.hacloud.services.operation" ng-if="service.labels['soajs.service.name'] === 'controller'" ng-click="executeAwarenessTest(service)"><span class="icon icon-connection"></span>&nbsp;Awareness Stat</a></li>
													<li><a href="" ng-if="access.hacloud.services.operation" ng-if="['controller','oauth'].indexOf(service.labels['soajs.service.name']) !== -1" ng-click="loadServiceProvision(service)"><span class="icon icon-download3"></span>&nbsp;Load Provision</a></li>
													<li><a href="" ng-if="access.hacloud.services.operation" ng-click="reloadServiceRegistry(service)"><span class="icon icon-undo"></span>&nbsp;Reload Registry</a></li>
													<li><a href="" ng-if="access.hacloud.services.scale && service.labels['soajs.service.mode'] !== 'global' && service.labels['soajs.service.mode'] !== 'daemonset'" ng-click="scaleService(service, groupName)"><span class="icon icon-enlarge"></span>&nbsp;Scale Service</a></li>
													<li><a href="" ng-if="access.hacloud.services.redeploy" ng-click="redeployService(service)"><span class="icon icon-undo" ng-confirm-click="Are you sure you want to restart this service?"></span>&nbsp;Restart Service</a></li>
													<li><a href="" ng-if="access.hacloud.services.redeploy" ng-click="rebuildService(service, '')"><span class="icon icon-loop2" ng-confirm-click="Are you sure you want to redeploy this service?"></span>&nbsp;Redeploy Service</a></li>
													<li><a href="" ng-if="access.hacloud.services.delete  && envCode.toLowerCase() !== 'dashboard'" ng-click="deleteService(service, groupName)" ng-confirm-click="Are you sure you want to delete this service?"><span class="icon icon-cross"></span>&nbsp;Delete Service</a></li>
													<li ng-if="showAnalytics && envPlatform === 'docker'"><a href="" ng-click="metrics('', service.name,'service','metricbeat',service.labels['soajs.service.mode'])"><span class="icon icon-stats-bars"></span>&nbsp;Get Service Metrics</a></li><li>
												</ul>
											</div>
										</div>
										<div class="body">
											<div class="grid">
												<table cellspacing="0" cellpadding="0" border="1" width="100%" class="customTable">
													<thead>
														<tr class="header">
															<td class="logsHeader">Logs</td>
															<td class="maintenanceHeader">Container Name</td>
															<td class="maintenanceHeader">Started On</td>
															<td class="maintenanceHeader">Last Check On</td>
															<td class="statusHeader2" ng-if="service.labels['soajs.service.name'] === 'controller'">
																Status
															</td>
															<td class="statusHeader" ng-if="service.labels['soajs.service.name'] !== 'controller'">
																Status
															</td>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="instance in service.tasks" ng-hide="instance.hideIt && !service.hideIt">
															<td>
																<a href="" ng-if="access.hacloud.services.logs">
																	<span ng-click="hostLogs(instance)" class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>
																</a>
																<a href="" ng-if="showAnalytics && envPlatform === 'docker'">
																	<span ng-click="metrics(instance, service.labels['soajs.service.repo.name'],'task','metricbeat',service.labels['soajs.service.mode'])" class="icon icon-stats-bars" title="{{translation.getContainerLogs[LANG]}}"></span>
																</a>
															</td>
															<td>{{instance.name}}</td>
															<td>{{instance.status.ts}}</td>
															<td ng-show="instance.status.lastTs">
																{{instance.status.lastTs|fulldate}}
															</td>
															<td ng-show="!instance.status.lastTs">N/A</td>
															<td>
																<span ng-show="instance.status.state === 'Unreachable'" tooltip-class="ctrl-tooltip" tooltip-placement="left" tooltip-html="instance.status.error" class="red"><b>{{instance.status.state}}</b></span>
																<span ng-show="instance.status.state !== 'Unreachable'" ng-class="{'green': instance.status.state ==='running', 'red': instance.status.state !=='running'}"><b>{{instance.status.state}}</b></span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</fieldset>
					</div>
				</tab>
			</tabset>
		</tab>
	</tabset>
</section>
