<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <tabset>
        <tab heading="{{translation.upload[LANG]}}">
            <br>
            <div class="form">
                <alert type="warning"><b><u>Note:</u></b><br />If you are using Kubernetes, please make sure to rename the certificates before you upload them to the following convention:<br />
                    <ul>
                        <li>ca.[crt | pem] &raquo; ca.crt</li>
                        <li>apiserver.[crt | pem] &raquo; cert.crt</li>
                        <li>apiserver-key.[crt | pem] &raquo; key.key</li>
                    </ul>
                </alert><br />
                <form name="upload" id="upload" novalidate ng-submit="onSubmit()">
                    <input type="file" file-model-multi="formData.certificates" multiple="multiple">
                    <div ng-if="formData.certificates && formData.certificates.length > 0">
                        <label>{{translation.selectedFile[LANG]}}</label>
                        <ul>
                            <li ng-repeat="(file, object) in formData.certificates">{{object.name}}</li>
                        </ul>
                    </div>
                    <label class="fieldMsg">{{translation.multipleSelectionFilesPermitted[LANG]}}</label>
                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit" value="Upload">{{translation.upload[LANG]}}</button>
                        <button class="btn btn-danger" type="button" value="Cancel" ng-click="closeModal()">{{translation.cancel[LANG]}}</button>
                    </div><br/><br/><br/>
                </form>
            </div>
        </tab>
        <tab heading="Choose Existing" ng-click="getAvailableCerts()" ng-if="certsToDisplay.length > 0">
            <div class="form">
                <form name="chooseExisting" id="chooseExisting" novalidate ng-submit="chooseCerts()">
                    <label>{{translation.availableCertificates[LANG]}} </label>
                    <ul>
                        <li ng-repeat="cert in certsToDisplay" ng-if="certsToDisplay.length > 0">
                            <input type="checkbox" name="selectedCerts" ng-model="certs.selected[cert._id]">&nbsp;&nbsp;{{cert.name}} {{cert.env}}
                        </li>
                    </ul>
                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit" value="Select">{{translation.select[LANG]}}</button>
                        <button class="btn btn-danger" type="button" value="Cancel" ng-click="closeModal()">{{translation.cancel[LANG]}}</button>
                    </div><br/><br/><br/>
                </form>
            </div>
        </tab>
    </tabset>
</div>
