<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <tabset>
        <tab heading="{{translation.upload[LANG]}}">
            <br>
            <div class="form">
                <form name="upload" id="upload" novalidate ng-submit="onSubmit()">
                    <div ng-repeat="certType in certs.types">
                        <label>{{certType|uppercase}}:
                            <input type="file" ng-if="availableCertTypes.indexOf(certType) === -1" file-model="formData.certificates[certType]">
                            <span ng-if="availableCertTypes.indexOf(certType) !== -1" ng-style="{'color': 'green'}">Available</span>
                        </label>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit" value="Upload">{{translation.upload[LANG]}}</button>
                        <button class="btn btn-danger" type="button" value="Cancel" ng-click="closeModal()">{{translation.cancel[LANG]}}</button>
                    </div><br/><br/><br/>
                </form>
            </div>
        </tab>
        <tab heading="Choose Existing" ng-if="certsToDisplay.length > 0 && availableCertTypes.length < 3">
            <div class="form">
                <form name="chooseExisting" id="chooseExisting" novalidate ng-submit="chooseCerts()">
                    <label>{{translation.availableCertificates[LANG]}} </label>
                    <ul>
                        <li ng-repeat="cert in certsToDisplay" ng-if="certsToDisplay.length > 0">
                            <span ng-if="availableCertTypes.indexOf(cert.certType) === -1">
                                <input type="checkbox" name="selectedCerts" ng-model="certs.selected[cert._id]">&nbsp;&nbsp;
                                {{cert.name}} of type [{{cert.certType}}] used in: <span ng-repeat="cenv in cert.env">{{cenv}}<span ng-if="!$last">, </span></span>
                            </span>
                        </li>
                    </ul>
                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit" value="Select">{{translation.select[LANG]}}</button>
                        <button class="btn btn-danger" type="button" value="Cancel" ng-click="closeModal()">{{translation.cancel[LANG]}}</button>
                    </div><br/><br/><br/>
                </form>
            </div>
        </tab>
    </tabset>
</div>
