<section ng-controller="ciAppCtrl">
	<div ng-if="!ciData.list || ciData.list.length === 0">
		<ngform></ngform>
	</div>
    <div ng-if="ciData.list && ciData.list.length > 0">
	    <tabset>
		    <tab heading="Configuration Recipe">
			    <br />
				<ngform></ngform>
		    </tab>
		    <tab heading="Repositories List">
			    <br />
			    <div class="entryBoxes">
				    <div ng-repeat="oneRepo in ciData.list" class="c-both w100 table entryBox" id="{{oneRepo.id}}" ng-class="{greenRecipeBox: (oneRepo.build && oneRepo.build.state === 'passed'), redRecipeBox: (oneRepo.build && oneRepo.build.state !== 'passed')}">
					    <div class="header table w100 c-both">
						    <div class="f-left w50">
							    <label>{{oneRepo.name}}</label>
						    </div>
						    <div class="f-right w50">
							    <label>Build:</label> {{oneRepo.build.number}} / <label>ID:</label> {{oneRepo.build.id}}
						    </div>
					    </div>
					    <div class="body" ng-show="{{oneRepo.description && oneRepo.description !== ''}}">
						    <p>{{oneRepo.description}}</p>
					    </div>
					    <div class="footer" ng-show="{{oneRepo.build && oneRepo.build.duration}}">
						    <em class="f-right mr-10"><b>Dates:</b> {{oneRepo.build.started}} - {{oneRepo.build.finished}} / {{oneRepo.build.duration}}</em>
					    </div>
				    </div>
			    </div>
		    </tab>
	    </tabset>
    </div>
</section>
