<section ng-controller="ciAppCtrl">
	<div ng-if="!ciData.list || ciData.list.length === 0">
		<ngform></ngform>
	</div>
    <div ng-if="ciData.list && ciData.list.length > 0">
	    <tabset>
		    <tab heading="Configuration Recipe">
			    <br />
				<ngform></ngform>
		    </tab>
		    <tab heading="Repositories List">
			    <br />
			    <div ng-repeat="oneRepo in ciData.list">
				    <pre>{{oneRepo}}</pre>
			    </div>
		    </tab>
	    </tabset>
    </div>
</section>
