<div class="body listApis" ng-class="{'openApis': openApi(application, service.name, oneEnv.code) }">
	<div>
        <span>
            <input ng-disabled="application.aclFill[oneEnv.code][service.name].forceRestricted" ng-click="applyRestriction(application.aclFill[oneEnv.code], service)" type="checkbox" name="apisRestrictPermission_{{service.name}}" ng-model="application.aclFill[oneEnv.code][service.name].apisRestrictPermission" value="true"/>
	        &nbsp;<b>{{translation.restrictAccessSelectedApis[LANG]}}</b>
        </span>
		<fieldset ng-repeat="(grp, val) in service.fixList">
			<legend>{{grp}}</legend>
			<div ng-if="val.apisRest">
				<fieldset ng-repeat="(method, apisList) in val.apisRest">
					<legend class="perMethod">{{method}}</legend>
					<div class="apiListing-container clearfix">
						<div class="apiListing clearfix" ng-repeat="myApi in apisList" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}">
							<div class="apiLabel">
								<input ng-click="checkForGroupDefault(application.aclFill[oneEnv.code],service,grp,val,myApi)" ng-disabled="(val.defaultApi && myApi.groupMain!==true && val.defaultIncluded===false)" type="checkbox" value="true" ng-model="application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].include" ng-show="application.aclFill[oneEnv.code][service.name].apisRestrictPermission"/>
								<span title="{{myApi.v}}">{{myApi.l}}</span>
							</div>
							<div class="apiAccess" ng-hide="(application.aclFill[oneEnv.code][service.name].apisRestrictPermission && (application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].include!==true))">
								<div style="float:left">
                            <span style="padding-left: 0px;">
                                <input ng-model="application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType" value="clear" type="radio"/>
                                <em>{{translation.InheritFromService[LANG]}}</em>
                            </span>
                            <span>
                                <input ng-model="application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType" value="public" type="radio"/> {{translation.public[LANG]}}
                            </span>
                            <span>
                                <input ng-model="application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType" value="private" type="radio"/> {{translation.private[LANG]}}
                            </span>
                            <span>
                                <input ng-model="application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType" value="groups" type="radio"/> {{translation.groups[LANG]}}
                            </span>
								</div>
								<div class="grpsListingScroll" ng-class="{smallGrpsListingScroll: allGroups.length<3}" ng-show="application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].accessType==='groups'">
									<ul class="grpsListing">
										<li ng-repeat="code in allGroups" ng-class-even="'evenLi'" ng-class-odd="'oddLi'">
											<input ng-model="application.aclFill[oneEnv.code][service.name][method].apis[myApi.v].grpCodes[code]" type="checkbox"/>
											<span>{{code}}</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<div ng-if="!val.apisRest" class="apiListing-container clearfix">
				<div class="apiListing clearfix" ng-repeat="myApi in val.apis| orderBy:'groupMain' " ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}">
					<div class="apiLabel">
						<input ng-click="checkForGroupDefault(application.aclFill[oneEnv.code],service,grp,val,myApi)" ng-disabled="(val.defaultApi && myApi.groupMain!==true && (application.aclFill[oneEnv.code][service.name].apis[val.defaultApi].include!==true))" type="checkbox" value="true" ng-model="application.aclFill[oneEnv.code][service.name].apis[myApi.v].include" ng-show="application.aclFill[oneEnv.code][service.name].apisRestrictPermission"/>
						<span title="{{myApi.v}}">{{myApi.l}}</span>
					</div>
					<div class="apiAccess" ng-hide="(application.aclFill[oneEnv.code][service.name].apisRestrictPermission && (application.aclFill[oneEnv.code][service.name].apis[myApi.v].include!==true))">
						<div class="f-left">
                            <span style="padding-left: 0px;">
                                <input ng-model="application.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType" value="clear" type="radio" name="{{application.package}}_{{service.name}}_{{grp}}_{{$index}}_accessType"/>
                                <em>{{translation.InheritFromService[LANG]}}</em>
                            </span>
                            <span>
                                <input ng-model="application.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType" value="public" type="radio"/> {{translation.public[LANG]}}
                            </span>
                            <span>
                                <input ng-model="application.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType" value="private" type="radio"/> {{translation.private[LANG]}}
                            </span>
                            <span>
                                <input ng-model="application.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType" value="groups" type="radio" ng-checked="application.aclFill[service.name].apis[myApi.v].accessType==='groups'"/>
	                            {{translation.groups[LANG]}}
                            </span>
						</div>
						<div class="grpsListingScroll" ng-class="{smallGrpsListingScroll: allGroups.length<3}" ng-show="application.aclFill[oneEnv.code][service.name].apis[myApi.v].accessType==='groups'">
							<ul class="grpsListing">
								<li ng-repeat="code in allGroups" ng-class-even="'evenLi'" ng-class-odd="'oddLi'">
									<input ng-model="application.aclFill[oneEnv.code][service.name].apis[myApi.v].grpCodes[code]" type="checkbox"/>
									<span>{{code}} </span>
								</li>
							</ul>
							<span ng-repeat="code in allGroups"></span>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>