<div ng-controller="uracMembersDevCtrl">
	<section ng-if="access.listTenants" style="min-height: 42px;">
		<div class="f-right">
			<span>
				<a href="#/urac-management">{{translation.backToList[LANG]}}</a>
			</span>
		</div>
	</section>
	<tabset id="membersSection">
		<tab heading="{{translation.members[LANG]}}">
			<section ng-controller="tenantMembersDevCtrl" class="membersCtrl">
				<div class="clearfix">
					<div class="f-right">
						<a class="btn btn-primary" ng-click="members.listMembers()" href="">
							{{translation.refreshListing[LANG]}}
						</a>
					</div>
				</div>
				<span ng-if="members.access.adminUser.addUser">
                    <a href="" ng-click="members.addMember()" class="btn btn-primary">{{translation.addNewMember[LANG]}}</a>
	                <br/><br/>
                </span>
				<nglist></nglist>
			</section>
		</tab>
		<tab ng-show="access.adminGroup.list" heading="{{translation.groups[LANG]}}">
			<section ng-controller="tenantGroupsDevCtrl as gridCtrl">
				<div class="clearfix">
					<div class="f-right">
						<a class="btn btn-primary" ng-click="groups.listGroups()" href="">
							{{translation.refreshListing[LANG]}}
						</a>
					</div>
				</div>
				<span ng-if="groups.access.adminGroup.add">
                    <a href="" ng-click="groups.addGroup()" class="btn btn-primary">{{translation.addNewGroup[LANG]}}</a><br/><br/>
                </span>
				<nglist></nglist>
			</section>
		</tab>
</div>