<section ng-controller="dahsboardCtrl">
	<h2>Welcome to SOAJS</h2>
	<hr>
	<div class="clearfix">
		<p>
			SOAJS is an enterprise-grade open source Application Platform as a Service (aPaaS) built completely using JavaScript.<br />
			SOAJS is equipped with this UI Dashboard that provides you with full blown ready-made wizards that assist you in orchestrating your SOA cloud of micro-services.<br />
			The UI is made up of 4 Pillars that each provides a list of modules that interact with the micro-services deployed in different environments and help you configure you cloud and/or operate on the content of the product you have running.
		</p>
	</div>
	<br>
	<div class="clearfix">
		<ul class="slider">
			<li class="l1 develop p1">
				<b><img ng-src="modules/dashboard/home/images/cog.png" />Develop</b>
				<hr>
				<p><em>Integrate, Install and build services & daemons.</em></p>
				<ol>
					<li>Provides information about installed services, daemons and static HTML content.</li>
					<li>Ability to create daemon groups with different flavors and control daemons behavior.</li>
					<li>Interface to integrate Github & Bitbucket Accounts and install custom made services, daemons and HTML content.</li>
					<li>Rich wizard to build Generic Content Management Services instead of writing code.</li>
				</ol>
			</li>
			<li class="l1 manage p2">
				<b><img ng-src="modules/dashboard/home/images/recycle.png" />Manage</b>
				<hr>
				<p><em>Decide who has access to what and where.</em></p>
				<ol>
					<li>Create producs and packages that contain different access level recipes to multiple services/daemons in different environments.</li>
					<li>Turns on multitenancy, secure your services and make them behave differently based on the tenant invoking their APIs.</li>
					<li>Manage your Organization Charts.</li>
					<li>Configure and Update the Settings of your SOA Cloud.</li>
				</ol>
			</li>
			<li class="l1 deploy p3">
				<b><img ng-src="modules/dashboard/home/images/rocket.png" />Deploy</b>
				<hr>
				<p><em>Click, Click, Click and you are done.</em></p>
				<ol>
					<li>Use the wizards to Create custom environments and configure them each with a different security protocol.</li>
					<li>Create and manage clusters to different types of databases.</li>
					<li>Create and manage standalone or multi-tenant databases.</li>
					<li>Go High Available and deploy your environments, your services & daemons with just a few clicks.</li>
					<li>Monitor and Troubleshoot deployed environments, services & daemons all through clicks of a button.</li>
				</ol>
			</li>
			<li class="l1 operate p4">
				<b><img ng-src="modules/dashboard/home/images/chart.png" />Operate</b>
				<hr>
				<p><em>Work on the modules of the product you are running.</em></p>
				<ol>
					<li>Build custom Themes, UI modules and frontend using the SOAJS SDK, then deploy it here.</li>
					<li>Deploy your custom product module which interact with the micro-services you deployed in your environments.</li>
					<li>Benefit from full data isolation between environments.</li>
					<li>Operate on the different areas of your product through the deployed modules accross all the environments you have.</li>
				</ol>
			</li>
		</ul>
	</div>
	<br>
	<h3>Technologies</h3>
	<hr>
	<div class="clearfix">
		<ul class="c-both poweredby">
			<li class="f-left">
				<a href="http://www.nodejs.org" target="_blank">
					<img ng-src="modules/dashboard/home/images/nodejs.png" alt="nodejs"/><br />
					NodeJs
				</a>
			</li>
			<li class="f-left">
				<a href="http://www.mongodb.org" target="_blank">
					<img ng-src="modules/dashboard/home/images/mongodb.png" alt="mongodb"/><br />
					MongoDB
				</a>
			</li>
			<li class="f-left">
				<a href="http://www.angularjs.org" target="_blank">
					<img ng-src="modules/dashboard/home/images/angularjs.png" alt="angularjs"/><br />
					AngularJS
				</a>
			</li>
			<li class="f-left">
				<a href="http://www.gruntjs.com" target="_blank">
					<img ng-src="modules/dashboard/home/images/gruntjs.png" alt="grunt"/><br />
					GruntJS
				</a>
			</li>
			<li class="f-left">
				<a href="https://www.elastic.co/products/logstash" target="_blank">
					<img ng-src="modules/dashboard/home/images/logstash.png" alt="logstash"/><br />
					Logstash
				</a>
			</li>
			<li class="f-left">
				<a href="https://www.elastic.co/products/elasticsearch" target="_blank">
					<img ng-src="modules/dashboard/home/images/elasticsearch.png" alt="elasticsearch"/><br />
					ElasticSearch
				</a>
			</li>
			<li class="f-left">
				<a href="https://www.elastic.co/products/kibana" target="_blank">
					<img ng-src="modules/dashboard/home/images/kibana.png" alt="kibana"/><br />
					Kibana
				</a>
			</li>
		</ul>
	</div>
	<br>
</section>
