<section class="helpPage" ng-controller="noEnvCtrl">
	<alert type="warning">
		You do not have any environment besides <b>DASHBOARD</b>.<br />
		The <b>Operate</b> Pillar does not function with the <b>DASHBOARD</b> Environment.<br />
		You need to create a new environment to deploy your application in it.
	</alert><br />
	<input type="button" value="Click Here to Create a new Environment" class="btn btn-lg btn-primary" ng-click="gotoEnv()"/>
</section>