<style>
    .helpPage .tab-content{
        line-height: 1.9em;
    }
    .helpPage .tab-content p{
        margin-top: 10px;
    }
</style>
<section class="helpPage" ng-controller="helpPageCtrl">
    <h3>Help Section</h3>
    <hr />
    <p>
        here goes the editor
    </p>

<div ng-show="content">loading ...</div>
<div swagger-ui url="URLToYourSwaggerSpecification" loading="content"></div>
</section>