<div id="wizardStep1" ng-show="steps.indexOf(true) === 0">
    <div ng-show="!nextStep" class="redFlag t-left">You do not have any clusters configured, please go to the <a href="#/environments">environments</a> section and configure at least one cluster so
        you
        can proceed in this section.
    </div>
    <div class="w100 c-both">
        <p>The following wizard provide 4 steps that assist you in creating your content service or modify it. The wizard saves your changes as you navigate between the 4 steps automatically.</p>
    </div>
    <div class="w100 table">
        <div class="w90 table-cell">
            <div class="form-group">
                <label>Service Name:</label>
                <input class="form-control" ng-model="config.name" type="text" tooltip="Enter the name of the service you are about to create."
                       placeholder="My Service..." ng-required="true"/>
            </div>
            <div>
                <label>Create New Database ?</label><br/>
                <input ng-model="config.genericService.options.multitenant" type="radio" value="true" tooltip="Specify if the service is multitenant or not." data-ng-value="true" ng-click="renderServiceMultiTenant(true);"/>
                Yes<em>&nbsp;&nbsp;( Creates a new multitenant database with the same name as your service )</em><br/>
                <input ng-model="config.genericService.options.multitenant" type="radio" value="false" tooltip="Specify if the service is multitenant or not." data-ng-value="false" ng-click="renderServiceMultiTenant(false);"/>
                No<em>&nbsp;&nbsp;( Specify a database to use in every environment )</em><br/>
            </div>
            <div ng-show="config.genericService.options.multitenant === false">
                <label>Select a Database to Use:</label>
                <tabset>
                    <tab heading="{{env.name}}" ng-repeat="env in envList">
                        <div class="entryBoxes entryBoxesGrid">
                            <div ng-repeat="(dbName, dbInfo) in env.databases track by dbName" class="dbBox">
                                <div class="head">
                                    <h4>{{dbName}}</h4>
                                        <span class="rightActions">
                                            <input type="radio" ng-model="config.dbtoUse[env.name]" value="{{dbName}}"/>
                                        </span>
                                </div>
                                <div class="info2">
                                    <b>Cluster:</b>&nbsp;{{dbInfo['cluster']}}<br/>
                                    <b>Tenant Specific:</b>&nbsp;{{dbInfo['tenantSpecific']}}
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div ng-show="config.genericService.options.multitenant === true">
                <label>Select a Cluster to Use:</label>
                <tabset>
                    <tab heading="{{env.name}}" ng-repeat="env in envList"><br/>
                        &nbsp;&nbsp;&nbsp;<b>Tenant Specific:</b>&nbsp;<input type="checkbox" data-ng-value="true" ng-model="config.clustertoUse[env.name].tenantSpecific"/>&nbsp;Yes<br/>

                        <div class="entryBoxes entryBoxesGrid">
                            <div ng-repeat="(clusterName, clusterInfo) in env.clusters track by clusterName" class="dbBox">
                                <div class="head">
                                    <h4>{{clusterName}}</h4>
                                    <span class="rightActions">
                                        <input type="radio" ng-model="config.clustertoUse[env.name].cluster" value="{{clusterName}}"/>
                                    </span>
                                </div>
                                <div class="info">
                                    <div ng-bind-html="clusterInfo|object"></div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
        <div class="w10 table-cell">
            <a ng-show="nextStep" href="" ng-click="validateStep1()"><span class="npicons icon icon-circle-right"></span></a>
        </div>
    </div>
</div>