<script type="text/ng-template" id="addService.html">
    <div class="modal-header">
        <h3 class="modal-title">Create New Content Service Schema</h3>
    </div>
    <div class="modal-body">
        <div ng-include="'modules/contentBuilder/directive/add-s1.tmpl'"></div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" ng-click="ok()">Create</button>-->
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</script>