<h4>Service Information:</h4>
<table width="100%">
    <tr class="ng-scope">
        <td width="22%"><b>serviceName:</b></td>
        <td width="22%">{{data.genericService.config.serviceName}}</td>
        <td width="28%"><b>servicePort:</b></td>
        <td width="28%">{{data.genericService.config.servicePort}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>requestTimeout:</b></td>
        <td>{{data.genericService.config.requestTimeout}}</td>
        <td><b>requestTimeoutRenewal:</b></td>
        <td>{{data.genericService.config.requestTimeoutRenewal}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>extKeyRequired:</b></td>
        <td>{{data.genericService.config.extKeyRequired}}</td>
        <td><b>awareness:</b></td>
        <td>{{data.genericService.config.awareness}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>oAuth:</b></td>
        <td>{{data.genericService.options.oauth || false}}</td>
        <td><b>ACL:</b></td>
        <td>{{data.genericService.options.acl}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>Key Security:</b></td>
        <td>{{data.genericService.options.security}}</td>
        <td><b>Persistent Session:</b></td>
        <td>{{data.genericService.options.session}}</td>
    </tr>
    <tr class="ng-scope">
        <td><b>Default Collection:</b></td>
        <td>{{data.soajsService.db.collection}}</td>
        <td><b>Multitenant:</b></td>
        <td>{{data.soajsService.db.multitenant}}</td>
    </tr>
    <tr><td><br/></td></tr>
    <tr class="ng-scope">
        <td valign="top" width="44%" colspan="2">
            <b>errors:</b><br/>
            <div ng-bind-html="data.genericService.config.errors"></div>
        </td>
        <td valign="top" class="view" colspan="2">
            <b>Configuration:</b><br />
            <table width="100%">
                <tr ng-repeat="(envCode, envInfo) in data.soajsService.db.config track by envCode" ng-class-odd="'odd'">
                    <td valign="top"><b>{{envCode}}</b></td>
                    <td ng-bind-html="envInfo|object"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div class="w100 c-both inlineAPIBox" style="display: table">
    <div class="apiLabel">Inputs:</div>
    <div class="entryBoxes entryBoxesGrid" style="height:100px;">
        <div class="dbBox" style="width:30% !important;" ng-repeat="(fieldName, fieldInfo) in data.genericService.config.schema.commonFields track by $index">
            <div class="head">
                <b>Provided by <span class="icon icon-user"></span></b>
            </div>
            <div class="info">
                <b>Label:</b>&nbsp;{{fieldName}}<br/>
                <span ng-repeat="(prop, val) in fieldInfo track by prop"><b>{{prop}}</b>&nbsp;{{val}}<br /></span>
            </div>
        </div>
    </div>
</div>