<h4>Listing:</h4>
<table width="100%">
<caption>Default Sorting Field: {{data.soajsUI.list.defaultSortField}}</caption>
    <thead>
        <tr>
            <th>Label</th>
            <th>Field</th>
            <th>Filter</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in data.soajsUI.list.columns" ng-class-odd="'odd'" ng-class-even="'even'">
            <td>{{entry.label}}</td>
            <td>{{entry.field}}</td>
            <td>{{entry.filter || 'N/A'}}</td>
        </tr>
    </tbody>
</table>
<h4>Add:</h4>
<table width="100%">
    <thead>
        <tr>
            <th>Field Label</th>
            <th>Field Info</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in data.soajsUI.form.add" ng-class-odd="'odd'" ng-class-even="'even'">
            <td valign="top"><b>{{entry.label}}</b></td>
            <td><pre><code class="javascript">{{entry.print}}</code></pre></td>
        </tr>
    </tbody>
</table>
<h4>Update:</h4>
<table width="100%">
    <thead>
        <tr>
            <th>Field Label</th>
            <th>Field Info</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in data.soajsUI.form.update" ng-class-odd="'odd'" ng-class-even="'even'">
            <td valign="top"><b>{{entry.label}}</b></td>
            <td><pre><code class="javascript">{{entry.print}}</code></pre></td>
        </tr>
    </tbody>
</table>