.customEntryBox {
    width: 100% !important;
    padding-left: 0px !important;
}

.ci_logo {
    height: 32px;
}

#reposList ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

#reposList ul li{
    margin: 5px 0;
    border:solid 1px #ccc;
    border-radius:5px;
    padding:5px;
    position:relative;
}

#reposList ul li .rightActions{
    position:absolute;
    top: 31px;
    right:5px;
}

#reposList ul li.locked{
    background-color:#eee;
    opacity: 0.7;
}

#reposList ul li.active{
    background-color:#DEF1F7;
    border: solid 1px #337ab7;
}

div.entryBox .body .btn-primary{
    top: 0;
}

.recipe-box{
    width:48% !important;
    padding: 0 !important;
    margin: 1% !important;
}

.recipe-box .header{
    border-radius: 8px !important;
    border-bottom: none !important;
}

#version-wrapper ul{
    list-style-type: none;
    margin-left:0;
    padding-left:0;
}