.locked {
    background-color: #dff0d8 !important;
    border-color: #3c763d !important;
}

.lockedBorder {
    border-color: #3c763d !important;
}

.entryServiceBoxes .service-container .apiLabel label {

}