<div class='grid' id="{{grid.thisGridId}}">

	<div ng-show="grid.filteredRows.length > 0 || grid.applySearch">
		
		<div ng-include="'lib/grid/header.tmpl'"></div>
		
		<div ng-show="grid.filteredRows.length > 0">
			
			<div ng-include="'lib/grid/pagination.tmpl'"></div>
			
			<div ng-include="'lib/grid/body.tmpl'"></div>
			
			<div ng-include="'lib/grid/footer.tmpl'"></div>
			
		</div>
	</div>
	<div ng-show="grid.filteredRows.length ===0">
		<br>

		<div class="alert-warning alert ng-isolate-scope alert-warning alert-dismissable">
			<span class="ng-scope ng-binding">{{translation.noRecordsFound[LANG]}}</span>
		</div>
	</div>
</div>