.poweredby {
    margin: 10px auto 0 auto;
    padding: 0;
    list-style-type: none;
    width: 80%;
}

.poweredby li {
    margin: 0 5px;
    width: 13%;
    text-align:center;
    vertical-align: bottom;
    border-radius: 8px;
    padding:4px 0;
}

.poweredby li:hover{
    background-color:#f0f0f0;
    font-weight:bold;
}

.poweredby li a{
    color:#333;
}

.poweredby li a img {
    height: 90px;
}

.noss {
    margin: 0 auto;
    width: 278px;
}

ul.slider{
    margin: 0;
    padding:0;
    height: 250px;
    display:table;
    width:100%;
    clear:both;
}

ul.slider li.l1{
    list-style-type:none;
    width:100%;
    display:none;
    clear:both;
    height: 250px;
    padding:20px;
    border-radius: 5px;
    color:white;
    letter-spacing:1px;
}

ul.slider li hr{
    margin: 5px 0 20px 0;
}

ul.slider li.l1 b{
    font-size:24px;
}

ul.slider li.l1 b img{
    height:24px;
    margin-right: 10px;
    position:relative;
    top:-3px;
}

ul.slider li.l1 em{
    color:black;
}

ul.slider li ol li{
    margin:5px 0;
}

ul.slider li.develop{
    background-color:#DE962E;
}

ul.slider li.manage{
    background-color:#AA3F3F;
}

ul.slider li.deploy{
    background-color:#418774;
}

ul.slider li.operate{
    background-color:#427493;
}