.customEntryBox {
    width: 48% !important;
    height: 196px !important;
    padding-left: 0px !important;
}

.blueLi.active {
    background-color: #DFF0D8 !important;
    border-color: #3C763D !important;
    color: #3c763d !important;
}

.blueLi.deleted {
    background-color: #F2DEDE !important;
    border-color: #a94442 !important;
    color: #a94442 !important;
}