<section>
    <div class="t-right">
        <a href="#/login"><span class="glyphicon glyphicon-chevron-left"></span> {{translation.goBackToLogin[LANG]}}</a>
    </div><br />
	<div class='form' ng-controller="forgotPwCtrl as formCtrl">
		<ngform></ngform>
	</div>
</section>