<div id="page">
    <main-menu></main-menu>
    <div class="wrapper" ng-class="(collapseMainMenu) ? 'wrapper3' : (enableInterface) ? 'wrapper2' : 'wrapper'">
        <div class="inner-line"></div>
        <tracker></tracker>
        <div id="notifications" ng-show="alerts.length >0">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div ng-view></div>
    </div>
</div>