<div id="footer">
    <div class="separator"></div>
    <ul class="menu">
        <li ng-repeat="link in footerMenu.links" ng-class="{'first': $first, 'last': $last}">
            <a href="{{link.url}}" class="footerMenu{{$index}}" ng-class="{selected:link.selected, active: link.url === footerMenu.selectedMenu}" id="footer-{{link.id}}">
                <span ng-show="link.icon" class="icon icon-{{link.icon}}"></span>{{link.label}}
            </a>
        </li>
    </ul>
    <div class="copyright">Powered by
    <a href="http://www.soajs.org/" target="_blank">
	    SOAJS
    </a>
    </div>
</div>