<div id="mainMenu" ng-show="enableInterface" ng-class="(collapseMainMenu)? 'mainMenu2' : 'mainMenu' ">
	<div ng-show="leftMenu.environments && leftMenu.environments.length > 0 && !collapseMainMenu" class="environmentsMenu">
		<!--<select name="myEnvironments" id="myEnvironments" ng-model="myCurrentEnvironment" ng-change="switchEnvironment()">-->
			<!--<option ng-repeat="oneBtn in leftMenu.environments" data-ng-value="oneBtn.code" ng-selected="currentSelectedEnvironment === oneBtn.code">{{oneBtn.code}}</option>-->
		<!--</select>-->
		<div class="btn-group w100" dropdown>
			<button id="split-button" type="button" class="btn btn-danger t-left" style="width:83%">{{currentSelectedEnvironment}}</button>
			<button type="button" class="btn btn-danger" dropdown-toggle  style="width:17%">
				<span class="caret"></span>
				<span class="sr-only">Split button!</span>
			</button>
			<ul class="dropdown-menu w100" role="menu" aria-labelledby="split-button">
				<li role="menuitem" ng-repeat="oneBtn in leftMenu.environments" ng-click="switchEnvironment(oneBtn)">{{oneBtn.code}}</li>
			</ul>
		</div>
	</div>
	<ul ng-if="pillar ==='operate'">
		<li ng-repeat="link in leftMenu.links" ng-if="currentSelectedEnvironment === link.env" ng-class="{'first': $first, 'last': $last, selected:link.selected, active: link.url === leftMenu.selectedMenu}">
			<a href="{{link.url}}" class="mainMenu{{$index}}" id="mainMenu-{{link.id}}">
				<span class="icon icon-{{link.icon}}"></span>
				<span ng-show="!collapseMainMenu">{{link.label}}</span>
			</a>
		</li>
	</ul>
	<ul ng-if="pillar!=='operate'">
		<li ng-repeat="link in leftMenu.links" ng-class="{'first': $first, 'last': $last, selected:link.selected, active: link.url === leftMenu.selectedMenu}" ng-hide="link.excludedEnvs && link.excludedEnvs.indexOf(currentSelectedEnvironment) !== -1">
			<a href="{{link.url}}" class="mainMenu{{$index}}" id="mainMenu-{{link.id}}">
				<span class="icon icon-{{link.icon}}"></span>
				<span ng-show="!collapseMainMenu">{{link.label}}</span>
			</a>
		</li>
	</ul>
	<a href="" ng-click="collapseExpandMainMenu()">
		<span class="collapser icon" ng-class="(collapseMainMenu) ? 'icon-forward3' : 'icon-backward2'"></span>
	</a>
</div>