<div id="overlay" class="overlay"></div>

<div id="overlayLoading" class="overlay">
	<div class="bg"></div>
	<div class="content" style="">
		<div class="image">
			<img ng-src="themes/{{themeToUse}}/img/loader.gif">

		</div>
		<div class="customMessage">

		</div>
	</div>
</div>