<div id="tracker" ng-show="tracker.length > 0">
	<ul>
		<li ng-repeat="entry in tracker">
        <span ng-if="!entry.current">
            <a href="{{ entry.link }}">{{entry.label}}</a>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </span>
        <span ng-if="entry.current">
	        <b ng-if="entry.pillar">{{entry.pillar}}</b>
            <span ng-if="entry.pillar" class="glyphicon glyphicon-chevron-right"></span>
	        {{entry.label}}
        </span>
		</li>
	</ul>
	<ul class="languageSelect" style="display: none">
		<li><a href="" ng-class="{'active': LANG === 'ENG'}" ng-click="switchLanguage('ENG')">EN</a> |</li>
		<li><a href="" ng-class="{'active': LANG === 'FRA'}" ng-click="switchLanguage('FRA')">FR</a></li>
	</ul>
</div>