<div id="userMenu">
    <div ng-controller="welcomeCtrl">
        <div ng-show="enableInterface">
            <ul style="margin-left:40px;">
                <li>{{translation.welcome[LANG]}} {{userFirstName}} {{userLastName}}</li>
                <li ng-repeat="link in userMenu.links">
                    <a href="{{link.url}}" ng-class="{active: link.url === userMenu.selectedMenu}" class="userMenu{{$index}}" id="userMenu-{{link.id}}">
                        <span class="icon icon-{{link.icon}}"></span>{{link.label}}
                    </a>
                </li>
	            <li>
		            <a href="#/help" ng-class="{active: '#/help' === userMenu.selectedMenu}" class="userMenu-help" id="userMenu-help">
			            <span class="icon icon-question"></span>{{translation.help[LANG]}}
		            </a>
	            </li>
	            <li class="logout">
		            <a href="" ng-click="logoutUser()" class="userMenu-logout" id="userMenu-logout">
			            <span class="icon icon-switch"></span>{{translation.logout[LANG]}}
		            </a>
	            </li>
            </ul>
        </div>
        <div ng-show="!enableInterface">
            <ul>
                <li ng-repeat="link in guestMenu.links">
                    <a href="{{link.url}}" ng-class="{active: link.url === guestMenu.selectedMenu}" class="guestMenu{{$index}}" id="guestMenu-{{link.id}}">
                        <span ng-if="link.icon" class="icon icon-{{link.icon}}"></span>{{link.label}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>