<section ng-controller="gitAccountsAppCtrl">
    <a ng-if="access.login" href="" class="btn btn-primary" ng-click="addAccount()">{{translation.addAccount[LANG]}}</a>
    <div ng-if="accounts && accounts.length === 0">
        <alert type="warning">{{translation.noGitAccountsAdded[LANG]}}</alert>
    </div>
    <div ng-if="accounts.length > 0">
        <div class="entryBoxes entryBoxesGrid">
            <div ng-if="access.listAccounts" id="{{account._id}}" ng-repeat="account in accounts" class="entryBox customEntryBox">
                <div class="header opened">
                    <i class="fa fa-lg fa-{{account.provider}}"></i>
                    {{account.label|uppercase}}&nbsp;&nbsp;[{{account.owner}}]
                </div>
                <div class="body">
                    <label>{{translation.repositories[LANG]}}</label>
	                <span style="float: right; padding-right: 2%" class="icon icon-search">&nbsp;<input ng-model="searchKeyword"></span>
                    <div ng-if="account.repo && account.repo.length === 0">
                        <alert type="warning">{{translation.noReposFound[LANG]}}</alert>
                    </div>

                    <div ng-if="access.getRepos" id="reposList" style="overflow:scroll; height:265px; width:100%">
                        <ul class="blueListing">
                            <li class="blueLi row-list {{repo.status}}" ng-repeat="repo in account.repos| filter: searchKeyword track by $index" ng-style="{'width': '98%'}">
                                <span class="repoFullName">{{repo.full_name}}</span>
                                <span ng-if="repo.status === 'deleted'" class="f-right" ng-style="{'margin-right': '11%'}"><span class="icon icon-warning"></span>{{translation.repoHasBeenDeleted[LANG]}}</span>
                                <span ng-if="repo.status === 'active'" class="f-right" ng-style="{'margin-right': '11%'}"><span class="icon icon-checkmark"></span>{{translation.activeRepo[LANG]}}</span>
                                <span ng-if="repo.status === 'outOfSync'" class="f-right" ng-style="{'margin-right': '11%'}"><span class="icon icon-warning"></span>{{translation.repoOutOfSync[LANG]}}</span>
                                <div class="rightActions">
                                    <a href="" ng-if="access.activateRepo && !repo.status" ng-click="activateRepo(account, repo)" ng-style="{'margin-top': '-19px'}">
                                        <span class="icon icon-switch" tooltip="{{translation.activate[LANG]}}"></span>
                                    </a>
                                    <a href="" ng-if="access.deactivateRepo && repo.status" ng-click="deactivateRepo(account._id, repo)" ng-style="{'margin-top': '-19px'}" ng-confirm-click="Are you sure you want to deactivate this repository?">
                                        <span class="icon icon-cross" tooltip="{{translation.deactivate[LANG]}}"></span>
                                    </a>
                                    <a href="" ng-if="access.syncRepo && repo.status === 'active'" ng-click="syncRepo(account, repo)" ng-style="{'margin-top': '-19px'}">
                                        <span class="icon icon-loop2" tooltip="{{translation.sync[LANG]}}"></span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <a href="" class="loadMore btn btn-block" ng-click="listRepos(account, 0, 'loadMore')" ng-if="account.allowLoadMore">Load More</a>
                    </div>

                    <div class="entryAction">
                        <a href="" ng-if="access.getRepos" ng-click="listRepos(account, 0, 'getRepos');" ng-if="access.getRepos">
                            <span class="icon icon-loop2" tooltip="{{translation.syncRepo[LANG]}}"></span>
                        </a>
                        <a href="" ng-if="access.logout" ng-click="deleteAccount(account);" ng-if="access.deleteAccount" ng-confirm-click="Are you sure you want to delete this account?">
                            <span class="icon icon-cross" tooltip="{{translation.deleteAccount[LANG]}}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="repoAddSuccess.tmpl">
    <div id="activeRepos" class="modal-body">
        <h4 style="text-align: center;">{{translation.repoHasBeenActivated[LANG]}}</h4>
        <label>{{translation.theFollowingModulesWereAdded[LANG]}}</label>
        <div class="grid" style="width:100%">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <th>{{translation.name[LANG]}}</th>
                    <th>{{translation.type[LANG]}}</th>
                    <th>{{translation.link[LANG]}}</th>
                </tr>
                <tr ng-repeat="entry in added" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td>{{entry.name}}</td>
                    <td>{{entry.type}}</td>
                    <td ng-if="entry.type === 'service'"><a href="#/services" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                    <td ng-if="entry.type === 'daemon'"><a href="#/daemons" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                    <td ng-if="entry.type === 'static'"><a href="#/static-content" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="errorDisplay.tmpl">
    <div class="modal-body">
        <h4>{{title}}</h4>
        <alert type="danger" ng-bind-html="error"></alert>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="syncSuccess.tmpl">
    <div id="syncedRepos" class="modal-body">
        <h4 style="text-align: center;">{{translation.repoHasBeenSynced[LANG]}}</h4>
        <div ng-repeat="(action, entries) in results" ng-if="entries.length > 0">
            <label>{{translation.theFollowingModulesWere[LANG]}} {{action}}:</label><br>
            <div class="grid" style="width:100%">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <th>{{translation.name[LANG]}}</th>
                        <th>{{translation.type[LANG]}}</th>
                        <th>{{translation.link[LANG]}}</th>
                    </tr>
                    <tr ng-repeat="entry in entries" ng-class-even="'even'" ng-class-odd="'odd'">
                        <td>{{entry.name}}</td>
                        <td>{{entry.type}}</td>
                        <td ng-if="entry.type === 'service'"><a href="#/services" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                        <td ng-if="entry.type === 'daemon'"><a href="#/daemons" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                        <td ng-if="entry.type === 'static'"><a href="#/static-content" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="repoOutOfSync.tmpl">
    <div class="modal-body">
        <!--<div ng-bind-html="text"></div>-->
        <h4 style="text-align: center;">{{translation.repoOutOfSync[LANG]}}</h4>
        <label style="text-align: center;">{{translation.wouldYouLikeReactivateRepo[LANG]}}</label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="reactivate()">{{translation.reactivate[LANG]}}</button>
        <button class="btn btn-danger" ng-click="cancel()">{{translation.cancel[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="loading.tmpl">
    <div class="modal-body">
        <img class="loadingImageLarge" ng-src="{{imagePath}}" width="50px" height="50px"><br>
        <h4 class="alignCenter">{{translation.gettingReposPleaseWait[LANG]}}</h4>
    </div>
</script>
