<section ng-controller="gitAccountsAppCtrl">
    <a ng-if="access.login" href="" class="btn btn-primary" ng-click="addAccount()">{{translation.addAccount[LANG]}}</a>
    <div ng-if="accounts && accounts.length === 0">
        <alert type="warning">{{translation.noGitAccountsAdded[LANG]}}</alert>
    </div>
    <div ng-if="accounts.length > 0">
        <div class="entryBoxes entryBoxesGrid">
            <div ng-if="access.listAccounts" id="a_{{account._id}}" ng-repeat="account in accounts" class="entryBox customEntryBox">
                <div class="header opened">
                    <span class="icon icon-github" ng-if="account.provider === 'github'"></span>
                    <span class="icon" ng-if="account.provider === 'bitbucket'"><i class="fa fa-lg fa-bitbucket"></i></span>
                    <span class="icon" ng-if="account.provider === 'bitbucket_enterprise'"><i class="fa fa-lg fa-bitbucket"></i></span>
                    {{account.label|uppercase}}&nbsp;&nbsp;[{{account.owner}}]
                </div>
                <div class="body" ng-if="account.loading">
                    <div id="loadingNotification">
                        <img class="loadingImageLarge" ng-src="{{imagePath}}" width="32px" height="32px"><br>
                        <h5 class="alignCenter">{{translation.gettingReposPleaseWait[LANG]}}</h5>
                    </div>
                </div>
                <div class="body" ng-if="!account.loading">
	                <div class="inner" ng-class="{'hidden': account.hide}">
                        <label>{{translation.repositories[LANG]}}</label>
		                <span style="float: right; padding-right: 1%" class="icon icon-search">&nbsp;
		                <input ng-model="searchKeyword" />&nbsp;
		                <a href="" ng-if="access.getRepos" ng-click="listRepos(account, 0, 'getRepos');" ng-if="access.getRepos">
                            <span class="icon icon-loop2" tooltip="{{translation.syncRepo[LANG]}}"></span>
                        </a>
                        <a href="" ng-if="access.logout" ng-click="deleteAccount(account);" ng-if="access.deleteAccount" ng-confirm-click="Are you sure you want to delete this account?">
                            <span class="icon icon-cross" tooltip="{{translation.deleteAccount[LANG]}}"></span>
                        </a>
	                </span>
		                <div ng-if="account.repo && account.repo.length === 0">
			                <alert type="warning">{{translation.noReposFound[LANG]}}</alert>
		                </div>
		                <div ng-if="access.getRepos" id="reposList">
			                <ul class="blueListing">
				                <li class="blueLi row-list {{repo.status}}" ng-repeat="repo in account.repos| filter: searchKeyword" ng-style="{'width': '99%'}">
					                <span class="repoFullName">{{repo.full_name}}</span>
					                <span ng-if="repo.status === 'deleted'" class="f-right mr11"><span class="icon icon-warning"></span>{{translation.repoHasBeenDeleted[LANG]}}</span>
					                <span ng-if="repo.status === 'active'" class="f-right mr11"><span class="icon icon-checkmark"></span>{{translation.activeRepo[LANG]}}</span>
					                <span ng-if="repo.status === 'outOfSync'" class="f-right mr11"><span class="icon icon-warning"></span>{{translation.repoOutOfSync[LANG]}}</span>
					                <div class="rightActions">
						                <a href="" ng-if="access.activateRepo && !repo.status" ng-click="activateRepo(account, repo)" ng-style="{'margin-top': '-19px'}">
							                <span class="icon icon-switch" tooltip="{{translation.activate[LANG]}}"></span>
						                </a>
						                <a href="" ng-if="access.deactivateRepo && repo.status" ng-click="deactivateRepo(account._id, repo)" ng-style="{'margin-top': '-19px'}" ng-confirm-click="Are you sure you want to deactivate this repository?">
							                <span class="icon icon-cross" tooltip="{{translation.deactivate[LANG]}}"></span>
						                </a>
						                <a href="" ng-if="access.syncRepo && repo.status === 'active'" ng-click="syncRepo(account, repo)" ng-style="{'margin-top': '-19px'}">
							                <span class="icon icon-loop2" tooltip="{{translation.sync[LANG]}}"></span>
						                </a>
						                <a href="" ng-if="access.getCIRepoSettings && access.getCIAccountInfo && repo.status" ng-click="configureRepo(repo, account)" ng-style="{'margin-top': '-19px'}">
							                <span tooltip="Configure" class="icon icon-cog"></span>
						                </a>
					                </div>
				                </li>
			                </ul>
			                <a href="" class="loadMore btn btn-block" ng-click="listRepos(account, 0, 'loadMore')" ng-if="account.allowLoadMore">Load More</a>
		                </div>
	                </div>

                    <div class="entryAction">
	                    <a href="" ng-click="showHide(account)">
		                    <span class="icon icon-{{account.icon || 'plus'}}"></span>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="repoAddSuccess.tmpl">
    <div id="activeRepos" class="modal-body">
        <h4 style="text-align: center;">{{translation.repoHasBeenActivated[LANG]}}</h4>
        <label>{{translation.theFollowingModulesWereAdded[LANG]}}</label>
        <div class="grid" style="width:100%">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <th>{{translation.name[LANG]}}</th>
                    <th>{{translation.type[LANG]}}</th>
                    <th>{{translation.link[LANG]}}</th>
                </tr>
                <tr ng-repeat="entry in added" ng-class-even="'even'" ng-class-odd="'odd'" ng-show="['service','daemon'].indexOf(entry.type) !== -1">
                    <td>{{entry.name}}</td>
                    <td>{{entry.type}}</td>
                    <td ng-if="entry.type === 'service'"><a href="#/services" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                    <td ng-if="entry.type === 'daemon'"><a href="#/daemons" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="errorDisplay.tmpl">
    <div class="modal-body">
        <h4>{{title}}</h4>
        <alert type="danger" ng-bind-html="error"></alert>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="syncSuccess.tmpl">
    <div id="syncedRepos" class="modal-body">
        <h4 style="text-align: center;">{{translation.repoHasBeenSynced[LANG]}}</h4>
        <div ng-repeat="(action, entries) in results" ng-if="entries.length > 0">
            <label>{{translation.theFollowingModulesWere[LANG]}} {{action}}:</label><br>
            <div class="grid" style="width:100%">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <th>{{translation.name[LANG]}}</th>
                        <th>{{translation.type[LANG]}}</th>
                        <th>{{translation.link[LANG]}}</th>
                    </tr>
                    <tr ng-repeat="entry in entries" ng-class-even="'even'" ng-class-odd="'odd'">
                        <td>{{entry.name}}</td>
                        <td>{{entry.type}}</td>
                        <td ng-if="entry.type === 'service'"><a href="#/services" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                        <td ng-if="entry.type === 'daemon'"><a href="#/daemons" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                        <td ng-if="entry.type === 'static'"><a href="#/static-content" ng-click="ok()">{{translation.link[LANG]}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="repoOutOfSync.tmpl">
    <div class="modal-body">
        <h4 style="text-align: center;">{{translation.repoOutOfSync[LANG]}}</h4>
        <label style="text-align: center;">{{translation.wouldYouLikeReactivateRepo[LANG]}}</label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="reactivate()">{{translation.reactivate[LANG]}}</button>
        <button class="btn btn-danger" ng-click="cancel()">{{translation.cancel[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="configureRepo.tmpl">
    <div class="modal-header ciFormHeader">
        <h3 class="modal-title">Configure Continuous Integration</h3>
    </div>
	<div class="modal-body">
		<div ng-show="alerts.length >0">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">
				{{alert.msg}}
			</alert>
			<br>
		</div>
		<div>
            <tabset>
                <div ng-if="noCiConfig">
                    <alert type="warning">No Continuous Integration Configuration Found. Please visit
                        <a href="" ng-click="goTOCI()">Continuous Integration</a> Section and configure a provider before you
                        can proceed.
                    </alert>
                </div>
                <tab ng-if="!noCiConfig" ng-repeat="oneProvider in ciProviders" class="{{oneProvider.provider}}" heading="{{oneProvider.provider}}" ng-click="showCIConfigForm(oneProvider)">
                    <br />
                    <div ng-show="access.enableDisableCIRepo && activateRepo">
                        <div class="table w100 c-both">
                            <div class="f-left">
                                Continuous Integration has been detected however, this repository has not been activated yet.
                            </div>
                            <div class="f-right">
                                <a href="" ng-click="toggleStatus(oneProvider, true)" class="btn btn-sm btn-success">
                                    <span class="icon icon-switch"></span>&nbsp;Turn On
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-show="access.enableDisableCIRepo && !activateRepo" id="ciRepo">
                        <div class="c-both w100 table">
                            <div class="f-left">
                                Repository <b>{{ciRepoName}}</b> is active, you can configure its settings.
                            </div>
                            <div class="f-right">
                                <a href="" ng-click="toggleStatus(oneProvider, false)" class="btn btn-sm btn-danger">
                                    <span class="icon icon-switch"></span>&nbsp;Turn Off
                                </a>
                            </div>
                        </div>
                        <hr>
                        <ngform></ngform>
                    </div>
                </tab>
            </tabset>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-show="activateRepo || noRepoCiConfig" class="btn btn-danger" ng-click="cancel()">Close</button>
	</div>
</script>
