<div class="modal-header">
    <a class="pull-right" ng-click="closeModal()" href="">
        <span class="icon icon-cross" tooltip="{{translation.close[LANG]}}"></span>
    </a>
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div class="form">
        <alert type="danger" ng-if="message.danger">{{message.danger}}</alert>
        <form name="grpConf" id="grpConf" novalidate ng-submit="grpConf.$valid && onSubmit()">
            <div class="form-group">
                <label>{{translation.groupName[LANG]}}</label>
                <input type="text" class="form-control" ng-model="postData.groupName" ng-required="true" placeholder="{{translation.groupName[LANG]}}"/>
                <br>
                <label>{{translation.daemon[LANG]}}</label>
                <select class="form-control" ng-required="true" ng-options="daemon as daemon.name for daemon in outerScope.grid.rows" ng-model="daemon" ng-change="selectDaemon(daemon)"></select>
                <br>
	            <label>{{translation.type[LANG]}}</label>
	            <select class="form-control" name="type" id="type" ng-required="true" ng-model="postData.type" ng-change="updateTimeSettings();">
		            <option value="interval">Interval</option>
		            <option value="cron">Cron</option>
		            <option value="once">Run Once</option>
	            </select>
	            <label class="fieldMsg">{{translation.typeMsg[LANG]}}</label>
	            <br>
	
	            <div ng-show="postData.type ==='once'">
		            <label>{{translation.once[LANG]}}</label>
		            <input type="text" class="form-control" ng-model="postData.cronTimeDate" ng-required="false" placeholder="January 1, 2015"/>
		            <label class="fieldMsg">{{translation.onceMsg[LANG]}} <a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Date" target="_blank">https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Date</a></label>
		            <br>
	            </div>
	            <div ng-show="postData.type ==='cron'">
		            <label>{{translation.cron[LANG]}}</label>
		            <input type="text" class="form-control" ng-model="postData.cronTime" ng-required="false" placeholder="* * * * * 1-5"/>
		            <label class="fieldMsg">{{translation.cronMsg[LANG]}} <a href="https://en.wikipedia.org/wiki/Cron" target="_blank">https://en.wikipedia.org/wiki/Cron</a><br ></label>
		            <br>
	            </div>
	            <div ng-show="postData.type !=='interval'">
		            <label>{{translation.timezone[LANG]}}</label>
		            <input type="text" class="form-control" ng-model="postData.timeZone" ng-required="false" placeholder="America/Los_Angeles"/>
		            <label class="fieldMsg">{{translation.timezoneMsg[LANG]}} <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="_blank">https://en.wikipedia.org/wiki/List_of_tz_database_time_zones</a></label>
		            <br>
	            </div>
	            
	            <div ng-show="postData.type ==='interval'">
		            <label>{{translation.interval[LANG]}}</label>
	                <input type="number" class="form-control" ng-model="postData.interval" ng-required="false" placeholder="{{translation.timeMilliseconds[LANG]}}"/>
	                <label class="fieldMsg">{{translation.timeBetweenJobsAfterPreviousJob[LANG]}}.</label>
	            </div>
                <br>
                <label>{{translation.status[LANG]}}:&nbsp;&nbsp;</label>
                <input type="radio" value="1" ng-model="postData.status" ng-required="true">&nbsp;{{translation.active[LANG]}}&nbsp;
                <input type="radio" value="0" ng-model="postData.status" ng-required="true">&nbsp;{{translation.inactive[LANG]}}
                <br>
                <label>{{translation.solo[LANG]}}:&nbsp;&nbsp;</label>
                <input type="radio" value="true" ng-model="postData.solo" ng-required="true" checked>&nbsp;{{translation.yes[LANG]}}&nbsp;
                <input type="radio" value="false" ng-model="postData.solo" ng-required="true">&nbsp;{{translation.no[LANG]}}
                <label class="fieldMsg">{{translation.htmlFormSoloLabelFieldMsg[LANG]}}.</label>
                <br>
                <label>{{translation.jobsProcessing[LANG]}}</label>
                <select class="form-control" name="processingSelect" id="processingSelect" ng-required="true" ng-model="postData.processing">
                    <option value="sequential">{{translation.sequential[LANG]}}</option>
                    <option value="parallel">{{translation.parallel[LANG]}}</option>
                </select>
                <label class="fieldMsg">{{translation.htmlFormJobsProcessingLabelFieldMsg[LANG]}}.</label>
                <br>
                <label ng-if="daemonJobsList">{{translation.jobs[LANG]}}</label><br>
                <span ng-repeat="(key, object) in daemonJobsList">
                    <label>
                        <input type="checkbox" ng-model="selectedJobs[key]['isSelected']" value="key"/>&nbsp;
                        <input type="text" class="form-control order-text" ng-if="selectedJobs[key]['isSelected'] && postData.processing==='sequential'" ng-model="selectedJobs[key]['order']" ng-init="checkIfOnlyJob(key)" ng-style="{'text-align': 'center'}" ng-required="true" pattern="\b[0-9]?[0-9]\b" size="3" maxlength="2"/>&nbsp;
                        {{key}}&nbsp;&nbsp;
                    </label>
                    <span ng-if="selectedJobs[key]['isSelected']">
                        <input type="radio" value="tenant" ng-model="selectedJobs[key]['type']" ng-required="true">&nbsp;{{translation.tenant[LANG]}}&nbsp;
                        <input type="radio" value="global" ng-model="selectedJobs[key]['type']" ng-required="true">&nbsp;{{translation.global[LANG]}}
                    </span><br>
                </span>
                <label class="fieldMsg" ng-if="postData.processing==='sequential'">{{translation.htmlFormJobsLabelFieldMsg[LANG]}}.</label><br>
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                    <input type="button" class="btn btn-danger" value="Cancel" ng-click="closeModal()"/>
                </div><br/>
            </div>
        </form>
    </div>
</div>