<section ng-controller="daemonsCtrl">
    <tabset>
        <tab heading="Daemons" ng-if="access.daemons.list">
	        <br>
	        <div ng-if="access.daemons.list && access.daemonGroupConfig.list">
		        <a href="" ng-click="refreshListing()" class="btn btn-primary f-right">
			        <span class="icon icon-undo" tooltip="Refresh List"></span>{{translation.refresh[LANG]}}
		        </a>
		        <br /><br />
	        </div>
            <div ng-if="grid.rows && grid.rows.length === 0">
                <alert type="warning">No daemons added yet!</alert>
            </div>
            <div class="entryBoxes">
                <div id="d_{{daemon._id}}" ng-repeat="daemon in grid.rows" class="entryBox" ng-init="daemon.hide = true">
                    <div class="header opened" ng-class="{closed: daemon.hide}">
                        <a href="" ng-click="showHide(daemon)" ng-if="daemon.hide" class="icon icon-{{daemon.icon || 'plus'}} margin-left-10"></a>
                        <a href="" ng-click="showHide(daemon)" ng-if="!daemon.hide" class="icon icon-{{daemon.icon || 'minus'}} margin-left-10"></a>
                        {{daemon['name']|uppercase}}<span>[ {{daemon['port']}} ]</span>
                    </div>
                    <div class="body grid" ng-show="!daemon.hide">
                        <fieldset>
                            <legend>{{translation.jobs[LANG]}}</legend>
                            <div class="entryBoxes entryBoxesGrid">
                                <div class="entryBox greyBox" ng-repeat="(key, object) in daemon.jobs" ng-style="{'width': '150px', 'text-align': 'center'}">
                                    <b>{{key}}</b>&nbsp;&nbsp;
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Group Configurations" ng-if="access.daemonGroupConfig.list">
            <a ng-if="access.daemonGroupConfig.add" href="" ng-style="{'margin-top': '10px'}" ng-click="addDaemonGroupConfig()" class="btn btn-primary">{{translation.addGroupConfiguration[LANG]}}</a><br/><br/>
            <div ng-if="groupConfigs.rows && groupConfigs.rows.length === 0">
                <alert type="warning">No daemon group configurations added yet!</alert>
            </div>
            <div class="entryBoxes">
                <div ng-repeat="grpConf in groupConfigs.rows" class="entryBox" ng-init="grpConf.hide = true">
                    <div class="header opened" ng-class="{closed: grpConf.hide}">
                        <a href="" ng-click="showHide(grpConf)"  ng-if="grpConf.hide" class="icon icon-{{grpConf.icon || 'plus'}} margin-left-10"></a>
                        <a href="" ng-click="showHide(grpConf)"  ng-if="!grpConf.hide" class="icon icon-{{grpConf.icon || 'minus'}} margin-left-10"></a>
                        {{grpConf.daemonConfigGroup|uppercase}}&nbsp;&nbsp;[ {{grpConf.status|statusDisplay}} ]
                        <span><b>{{translation.soloRun[LANG]}}:</b> {{grpConf.solo}}</span>
	                    <div ng-if="grpConf.interval">
		                    <span><b>{{translation.interval[LANG]}}:</b> {{grpConf.interval|timeInMillisConverter}}</span>
	                    </div>
	                    <div ng-if="grpConf.type ==='once'">
		                    <span><b>{{translation.once[LANG]}}:</b> {{grpConf.cronConfig.cronTimeDate|date}}</span>
	                    </div>
	                    <div ng-if="grpConf.type ==='cron'">
		                    <span><b>{{translation.cron[LANG]}}:</b> {{grpConf.cronConfig.cronTime|date}}</span>
	                    </div>
                        
                        <span><b>{{translation.daemon[LANG]}}:</b> {{grpConf.daemon}}</span>
                    </div>
                    <div class="body" ng-show="!grpConf.hide">
                        <b>{{translation.jobs[LANG]}}:</b>
                        <accordion close-others="true" class="keysAccordion">
                            <accordion-group ng-repeat="(key, object) in grpConf.jobs">
                                <accordion-heading tooltip="{{translation.displayJobInformation[LANG]}}"><b>{{key}} [ {{object.type}} ]</b></accordion-heading>
                                <div ng-if="object.type==='global'">
                                    <span><b>{{translation.serviceConfigurationPerEnvironment[LANG]}}:</b></span><br><br>
                                    <div class="entryBoxes entryBoxesGrid">
                                        <div class="entryBox greyBox" ng-repeat="env in environmentsList" ng-class="{blueBox: object.serviceConfig[env]}" ng-style="{'width': '250px'}">
                                            <b>{{env}} {{translation.environment[LANG]}}</b>
                                            <div class="f-right">
                                                <a href="" ng-click="updateConfiguration(env, key, object, grpConf._id);">
                                                    <span class="icon icon-pencil" tooltip="{{translation.editServiceConfiguration[LANG]}}"></span>
                                                </a>
                                                <a href="" ng-if="object.serviceConfig[env]" ng-click="clearConfiguration(env, key, object, grpConf._id);" ng-confirm-click="{{translation.areYouSureWantClearServiceConfigurationEnvironment[LANG]}}">
                                                    <span class="icon icon-bin" tooltip="{{translation.emptyServiceConfiguration[LANG]}}"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="object.type==='tenant'">
                                    <a href="" ng-style="{'margin-top': '10px'}" ng-click="selectTenantExternalKeys(grpConf, key)" class="btn btn-primary">{{translation.selectTenantExternalKeys[LANG]}}</a>
                                    <span><b>{{translation.tenantsExternalKeys[LANG]}}:</b></span><br><br>
                                    <div class="grid externalKeysGrid">
                                        <div ng-if="object.tenantsInfo.length === 0">
                                            <br><br><alert type="warning">{{translation.noTenantExternalKeysFoundJob[LANG]}}</alert>
                                        </div>
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="" ng-if="object.tenantsInfo.length > 0">
                                            <tbody>
                                            <tr>
                                                <th>{{translation.name[LANG]}}</th>
                                                <th>{{translation.package[LANG]}}</th>
                                                <th>{{translation.applicationDescription[LANG]}}</th>
                                                <th>{{translation.externalKeyEnv[LANG]}}</th>
                                            </tr>
                                            <tr ng-repeat="tenant in object.tenantsInfo" ng-class-even="'even'" ng-class-odd="'odd'">
                                                <td>{{tenant.name}}</td>
                                                <td>{{tenant.package}}</td>
                                                <td>{{tenant.appDescription}}</td>
                                                <td>{{tenant.extKeyEnv}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="entryAction">
                        <a ng-if="access.daemonGroupConfig.update" href="" ng-click="updateDaemonGroupConfig(grpConf);">
                            <span class="icon icon-pencil2" tooltip="{{translation.editGroupConfig[LANG]}}"></span>
                        </a>
                        <a ng-if="access.daemonGroupConfig.delete" href="" ng-confirm-click="{{translation.areYouSureWantRemoveGroupConfig[LANG]}}" ng-click="deleteDaemonGroupConfig(grpConf);">
                            <span class="icon icon-cross" tooltip="{{translation.removeGroupConfig[LANG]}}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</section>

<script type="text/ng-template" id="addEditGroup.tmpl">
    <div ng-include="'modules/dashboard/services/directives/addEditGroup.tmpl'"></div>
</script>

<script type="text/ng-template" id="selectTenantExtKeys.tmpl">
    <div ng-include="'modules/dashboard/services/directives/selectTenantExtKeys.tmpl'"></div>
</script>
