<section ng-controller="servicesCtrl">
	<script type="text/ng-template" id="serviceInfoBox.html">
		<div class="modal-header">
			<h3 class="modal-title">{{title}}</h3>
		</div>
		<div class="modal-body">
			<div ng-bind-html="text"></div>
		</div>
		<div class="modal-footer" ng-if="data">
			<button class="btn btn-primary" ng-click="deploy()">{{translation.deploy[LANG]}}</button>
			<button class="btn btn-danger" ng-click="ok()">{{translation.close[LANG]}}</button>
		</div>
	</script>

	<div class="entryBoxes" ng-show="grid.rows">
		<div ng-if="access.listServices">
			<a href="" ng-click="listServices()" class="btn btn-primary f-right">
				<span class="icon icon-undo" tooltip="Refresh List"></span>{{translation.refresh[LANG]}}
			</a>
			<br/><br/>
		</div>
		<div id="s_{{service._id}}" ng-repeat="service in grid.rows" class="entryBox" ng-init="service.hide = true;">
			<div class="header closed">
				<table width="100%" class="servicesList">
					<tr>
						<td>
							<a href="" ng-click="showHide(service)">
								<span class="icon icon-{{service.icon || 'plus'}}"></span>
							</a>{{service['name']|uppercase}}<span>[ {{service['port']}} ]</span>
						</td>
						<td>
							<span ng-if="service['group']"><b>{{translation.serviceGroup[LANG]}}</b>:<span>{{service['group'] || 'Misc.'}}</span></span>
						</td>
						<td>
							<b>{{translation.requestTimeout[LANG]}}</b>:<span>{{service['requestTimeout'] || 0}}</span>
						</td>
						<td>
							<b>{{translation.requestTimeoutRenewal[LANG]}}</b>:<span>{{service['requestTimeoutRenewal'] || 0}}</span>
						</td>
						<!--Add swagger icon if a service were created using swagger editor-->
						<td class="t-right">
							<a href="" ng-click="swaggerTest(service.name)" title="click to run swagger simulation" ng-if="service['swagger']">
								<span><img style="height: 25px; width:25px;" src="modules/dashboard/services/directives/images/swagger-icon.png">
								</span>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="entryAction">
			</div>
			<div class="body grid" style="display:none;">
				<tabset>
					<tab ng-repeat="oneList in service.fixList" heading="Version {{oneList._ver}} {{(service.latest === oneList._ver)?'( Latest )':'' }}">
						<br />
						<accordion close-others="true">
							<accordion-group is-open="true" class="blueAccordion">
								<accordion-heading><span class="icon icon-cog"></span>Settings</accordion-heading>
								<fieldset>
									<legend>Environment(s)</legend>
									<div class="entryBoxes entryBoxesGrid">
										<div ng-repeat="env in envs">
											<div class="entryBox greyBox" ng-style="{'width': '200px'}" ng-class="{ blueBox: oneList.settings[env] }">
												<b>{{env}} {{translation.environment[LANG]}}</b>&nbsp;&nbsp;
												<a href="" ng-style="{'float': 'right'}" ng-if="access.updateServiceSettings" ng-click="updateServiceSettings(env, oneList._ver, service)">
													<span class="icon icon-pencil" tooltip="{{translation.editServiceConfiguration[LANG]}}"></span>
												</a>
											</div>
										</div>
									</div>
								</fieldset>
							</accordion-group>

							<accordion-group class="greenAccordion">
								<accordion-heading><span class="icon icon-cloud"></span>API</accordion-heading>
								<fieldset ng-repeat="(grp, val) in oneList.groups" class="" ng-if="grp!=='_ver'">
									<legend>{{grp}}</legend>
									<span ng-if="val.defaultApi"><label>{{translation.defaultRoute[LANG]}}:</label> {{val.defaultApi}}<br></span>

									<table cellspacing="0" cellpadding="0" border="0" class="serviceApis" style="margin-right:15px">
										<tbody>
											<tr>
												<th class="labelApi">{{translation.label[LANG]}}</th>
												<th class="routeApi">{{translation.route[LANG]}}</th>
											</tr>
											<tr ng-repeat="myApi in val.apis1" ng-class-odd="'sApisOdd'" ng-class-even="'sApisEven'">
												<td>{{myApi.l}}
												</td>
												<td><span>{{myApi.v}}</span>
												</td>
											</tr>
										</tbody>
									</table>
									<table ng-if="val.apis2.length>0" cellspacing="0" cellpadding="0" border="0" class="serviceApis">
										<tbody>
											<tr>
												<th class="labelApi">{{translation.label[LANG]}}</th>
												<th class="routeApi">{{translation.route[LANG]}}</th>
											</tr>
											<tr ng-repeat="myApi in val.apis2" ng-class-odd="'sApisOdd'" ng-class-even="'sApisEven'">
												<td>{{myApi.l}}</td>
												<td class=""><span>{{myApi.v}}</span></td>
											</tr>
										</tbody>
									</table>
								</fieldset>
							</accordion-group>
						</accordion>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>

<script type="text/ng-template" id="updateServiceSettings.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body text-align-center">
		<div class="grid">
			<table width="100%" border="0" cellpadding="5" cellspacing="3">
				<tbody>
					<tr class="first odd">
						<td width="80%" align="left">External Key Required</td>
						<td width="20%">
							<a href="" ng-click="onOff('extKeyRequired')" class="btn btn-sm" ng-class="{'btn-success': settings.extKeyRequired, 'btn-danger': !settings.extKeyRequired}">
								<span class="icon icon-switch"></span>Turned {{(settings.extKeyRequired)? 'On' : 'Off'}}
							</a>
						</td>
					</tr>
					<tr class="even">
						<td align="left">oAuth</td>
						<td>
							<a href="" ng-click="onOff('oauth')" class="btn btn-sm" ng-class="{'btn-success': settings.oauth, 'btn-danger': !settings.oauth}">
								<span class="icon icon-switch"></span>Turned {{(settings.oauth)? 'On' : 'Off'}}
							</a>
						</td>
					</tr>
					<tr class="odd">
						<td align="left">URAC</td>
						<td>
							<a href="" disabled="true" class="btn btn-sm btn-link" style="color:#333;">
								<span class="icon icon-switch"></span>Turned {{(settings.urac)? 'On' : 'Off'}}
							</a>
						</td>
					</tr>
					
					<tr class="even">
						<td align="left">URAC Profile</td>
						<td>
							<a href="" disabled="true" class="btn btn-sm btn-link" style="color:#333;">
								<span class="icon icon-switch"></span>Turned {{(settings.urac_Profile)? 'On' : 'Off'}}
							</a>
						</td>
					</tr>
					
					<tr class="odd">
						<td align="left">URAC ACL</td>
						<td>
							<a href="" disabled="true" class="btn btn-sm btn-link" style="color:#333;">
								<span class="icon icon-switch"></span>Turned {{(settings.urac_ACL)? 'On' : 'Off'}}
							</a>
						</td>
					</tr>
					
					<tr class="last even">
						<td align="left">Provision ACL</td>
						<td>
							<a href="" disabled="true" class="btn btn-sm btn-link" style="color:#333;">
								<span class="icon icon-switch"></span>Turned {{(settings.provision_ACL)? 'On' : 'Off'}}
							</a>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onSubmit()">Update</button>
		<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
	</div>
</script>
