<section ng-controller="swaggerTestCtrl">
	<div style="horiz-align: center">
		<select ng-model="environments.value" ng-options="env for env in environments.values" ng-change="selectedEnv()" style="display: block; font-size: 16px; margin: auto; height: 30px; text-align-last:center">
		</select>
	</div>
	<br>
	<section style="float:left; width: 40%; height: 620px;" ng-show="envSelected" >
		<div id="editorTab" ui-ace="{
			useWrapMode : true,
			showGutter: true,
			mode: 'yaml',
			theme:'twilight',
			firstLineNumber: 1,
			onLoad: aceLoaded}"></div>
	</section>
	<section style="float: right; width: 60%; height: 620px; overflow:auto" ng-show="envSelected">
		<h2 style="text-align: center">Swagger UI</h2>
		<hr/>
		<div ng-show="content">loading ...</div>
		<div swagger-ui parser="yaml" url="swaggerUrl" loading="content" error-handler="myErrorHandler" trusted-sources="true" loading="isLoading" api-explorer="true"></div>
	</section>
</section>