<section ng-controller="swaggerCtrl">
	<tabset> 
		<tab heading="Configuration info">  <br>
			<div ></div>
		</tab>
		<tab heading="Swagger Editor">  <br>
			<div>  <a href="" ng-click="refreshListing()" class="btn btn-primary f-right"> 
				<span class="icon icon-undo" tooltip="Refresh List"></span>{{translation.refresh[LANG]}}  </a> 
				<br/><br/> 
			</div>
			<table width="100%" height="100%" border="0" margin="0" padding="0">
				<tr>
					<td width="50%">
				<textarea style="width:100%; height: 100%">test
				</textarea>
					</td>
					<td width="50%">
					</td>
				</tr>
			</table>
		</tab>
	</tabset>
</section>
