.no-margin {
    margin-left: 0 !important;
}

.text-align-center {
    text-align: center !important;
}

.text-field-align-right {
    float: right !important;
    width: 250px !important;
    position: absolute;
    right: 0;
    top: 0px;
}

.buttonSelected {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

.mr5 {
    margin-right: 5px !important;
}

.tenantTab {
    position: relative;
}

.width100 {
    width: 100px !important;
}

.deprecated {
    color: red !important;
}

.valid {
    color: green !important;
}

div.entryBox .body .btn-primary {
    float: right;
    top: -10px;
    position: inherit;
}

.tenantTab .entryBoxes .btn {
    float: right;
    margin-right: 5px;
    position: inherit;
}

.tenantTab .entryBoxes .applicationsGrid {
    margin-top:15px;
}