body {
    margin: 0;
    padding: 0;
    background: #F8F8F8;
}

#header {
    height: 70px;
    background: white;
    margin-bottom: 1px;
}

#header .content {
    margin: 0 1%;
    position: relative;
    height: 70px;
}

#header .content #logo {
    margin: 10px 10px 0 10px;
    border: 1px solid red;
    width: 13%;
    height: 20px;
    float: left;
}

#header .content #notifications {
    float: left;
    margin: 10px 0 0 0;
    height: 20px;
    width: 70%;
}

#header .content #userMenu {
    float: right;
    margin: 10px 10px 0 0;
    height: 20px;
    width: 14%;
}

#header .content #userMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header .content #userMenu ul li {
    float: left;
    margin-right: 5px;
}

#header .content #userMenu ul li + li::before {
    content: "|";
}

#header .separator {
    border-bottom: solid 1px #cccccc;
}

#mainMenu {
    height: 50px;
    border-bottom:solid 1px #cccccc;
    margin-bottom:10px;
    background-color:#303030;
    color:#44a8e5;
}

#mainMenu .content {
    margin: 0 1%;
}
#mainMenu .content ul{
    margin: 0;
    padding:0;
    list-style-type:none;
}
#mainMenu .content li {
    float: left;
    width: 20%;
    height: 49px;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 24px;
    cursor: pointer;
}

#mainMenu .content ul li:hover{
    background-color:#222222;
    color:white;
}

#mainMenu .content ul li.active {
    background-color:white;
    color:#44a8e5 !important;
}

#tracker .content {
    margin: 0 1% 10px 1%;
    background: white;
    padding: 3px 10px;
    border: solid 1px #cccccc;
    height: 30px;
}

#tracker .content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#tracker .content ul li {
    float: left;
    padding-left: 5px;
}

#page {
    margin: 0 1%;
    min-height: 450px;
    display: block;

}

#page section {
    display: inline-block;
    width: 100%;
    background: #ffffff;
    border: solid 1px #cccccc;
    padding: 10px;
}

#page section aside {
    float: left;
    min-height: 450px;
    display: inline-block;
}

#footer {
    height: 55px;
    background: white;
    margin-top: 10px;
    padding-top: 10px;
}

#footer .content {
    margin: 0 auto;
    width: 980px;
    text-align: center;
}

#footer .content .menu {
    list-style-type: none;
    margin: 0 auto;
    clear: both;
    width: 45%;
}

#footer .content .menu li {
    float: left;
    padding: 0 5px;
}

#footer .content .copyright {
    clear: both;
    width: 100%;
    text-align: center;
}

.w20 {
    width: 20%;
}

.w80 {
    width: 80%;
}

.t-right {
    text-align: right;
}

.f-right {
    float: right;
}

div.entryBoxes {
    width: 100%;
    display: table;
}

#page div.entryBoxes div.entryBox {
    border: solid 1px #cccccc;
    padding: 10px;
    position: relative;
    border-radius: 8px;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

#page div.entryBoxesGrid div.entryBox {
    float: left;
    display: table;
    width: 10%;
    margin: 5px;
}

#page div.entryBoxes div.entryBox label {
    text-decoration: underline;
}

#page div.entryBoxes div.blueBox,
#page div.entryBoxes div.entryBox:hover {
    background: #DEF1F7;
    border: solid 1px #337ab7;
    color: black;
}

div.entryBox div.entryAction {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
}

div.entryBox ul {
    margin: 0;
    padding: 0;
}

div.entryBox li {
    padding: 5px;
    margin: 5px;
    display: block;
    border: solid 1px #337ab7;
    float: left;
    border-radius: 5px;
    background-color: #DEF1F7;
    text-align: center;
    position: relative;
}

#page div.entryBoxes div.entryBox:hover li {
    background-color: white;
}

div.entryBox li a {
    margin-top: 5px;
}

div.entryBox li.row-list a {
    position: relative;
    top: 0;
    margin: 0;
    margin-left: 10px;
}

.modal-dialog {
    position: relative;
    top: 100px;
}

form .ng-invalid {
    border-color: red;
}

form .ng-valid {
    border-color: green;
}