body {
    margin: 0;
    padding: 0;
    background: #E5EAEE;
}

a:hover {
    text-decoration: none;
}

em {
    color: #999;
}

#overlay {
}

.overlay {
}

.overlay .bg {
}

#overlay .bg {
    background-color: black;
    opacity: 0.7;
}

#header #logo {
    width: 13%;
    margin: 0px 10px;
    font-size: 35px;
}