<alert type="info" class="tip-alert w100 table" ng-if="formData.deployOptions.custom.name">
    <h3 class="f-left"><span class="icon icon-info"></span>&nbsp;Tip</h3>
    <p class="f-left">
        Make sure that the hostname under <b>Driver Configuration</b> matches: <b>"{{options.computedHostname}}"</b>
    </p>
</alert>
<br />
<fieldset class="custom-fieldset">
    <legend>Deployment Options</legend>
    <div>
        <label>Deployment Name</label>
        <input type="text" class="form-control" ng-model="formData.deployOptions.custom.name" ng-required="true" ng-disabled="true"/>
        <label class="fieldMsg">Choose a name for the new deployment</label>
        <br />
    </div>
    <div>
        <label>Memory Limit</label>
        <input type="number" class="form-control" ng-model="formData.deployOptions.deployConfig.memoryLimit" ng-required="true"/>
        <label class="fieldMsg">Memory limit per instance (in MBytes)</label>
        <br/>
    </div>
    <div ng-if="options.envPlatform === 'kubernetes'">
        <label>CPU Limit Per Instance</label>
        <input type="text" class="form-control" placeholder="100m or 0.1" ng-model="formData.deployOptions.deployConfig.cpuLimit" ng-required="formData.deployOptions.autoScale"/>
        <label class="fieldMsg">Specify the Maximum cpu limit (in millicpu or decimal point) that should be provided when running your resource. Click <a href="https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-cpu" target="_blank">here </a>for more information.</label>
        <br/>
    </div>
    <div>
        <label>Catalog Recipe</label>
            <select class="form-control" ng-required="true" ng-options="recipe._id as recipe.name group by recipe.type for recipe in recipes" ng-model="formData.deployOptions.recipe" ng-change="displayRecipeInputs()"></select>
            <label class="fieldMsg">Choose a catalog recipe to use when deploying this resource</label>
            <br>
        </div>
        <div ng-if="recipeUserInput.image.override">
            <div ng-init="formData.deployOptions.custom.image.prefix = recipeUserInput.image.prefix">
            	<label>Image Prefix</label>
            	<input type="text" class="form-control" ng-model="formData.deployOptions.custom.image.prefix"/>
            	<div class="fieldMsg">Override the image prefix if you want</div>
            	<br />
            </div>
            <div ng-init="formData.deployOptions.custom.image.name = recipeUserInput.image.name">
            	<label>Image Name</label>
            	<input type="text" class="form-control" ng-model="formData.deployOptions.custom.image.name"/>
            	<div class="fieldMsg">Override the image name if you want</div>
            	<br />
            </div>
            <div ng-init="formData.deployOptions.custom.image.tag = recipeUserInput.image.tag">
            	<label>Image Tag</label>
            	<input type="text" class="form-control" ng-model="formData.deployOptions.custom.image.tag"/>
            	<div class="fieldMsg">Override the image tag if you want</div>
            	<br />
            </div>
        </div>

        <div ng-repeat="(env, envData) in recipeUserInput.envs" ng-init="formData.deployOptions.custom.env[env] = envData.default">
        	<label>{{envData.label || envData.name}}</label>
        	<input type="text" class="form-control" ng-model="formData.deployOptions.custom.env[env]" ng-required="envData.required"/>
        	<div class="fieldMsg">{{envData.fieldMsg}}</div>
        	<br />
        </div>
</fieldset>
<fieldset class="custom-fieldset">
    <legend>Environment Scaling</legend>
    <div>
        <label>Deployment Mode</label>
        <select class="form-control" ng-required="true" ng-options="mode.value as mode.label for mode in options.deploymentModes" ng-model="formData.deployOptions.deployConfig.replication.mode"></select>
        <br /><br />
    </div>
    <div ng-if="!options.enableAutoScale && (formData.deployOptions.deployConfig.replication.mode == 'replicated' || formData.deployOptions.deployConfig.replication.mode == 'deployment')">
        <label>Replica Count</label>
        <input type="number" class="form-control" ng-model="formData.deployOptions.deployConfig.replication.replicas" ng-required="true"/>
        <br /><br />
    </div>
    <fieldset ng-if="options.envPlatform === 'kubernetes' && formData.deployOptions.deployConfig.replication.mode === 'deployment'" ng-class="{'autoScale':!options.enableAutoScale}">
        <legend>Auto Scale <input type="checkbox" ng-model="options.enableAutoScale"></legend>
        <fieldset ng-if="options.enableAutoScale">
            <legend>Metrics</legend>
            <div>
                <label>CPU</label>
                <input type="number" class="form-control" ng-model="formData.deployOptions.autoScale.metrics.cpu.percent" ng-required="true"/>
                <label class="fieldMsg">Enter CPU percentage</label>
                <br>
            </div>
        </fieldset>
        <fieldset ng-if="options.enableAutoScale">
            <legend>Replicas</legend>
            <div>
                <label>min</label>
                <input type="number" class="form-control" ng-model="formData.deployOptions.autoScale.replicas.min" ng-required="true"/>
                <label class="fieldMsg">Enter minimum Replica Count that is greater or equal to 1</label>
                <br>
            </div>
            <div>
                <label>max</label>
                <input type="number" class="form-control" ng-model="formData.deployOptions.autoScale.replicas.max" ng-required="true"/>
                <label class="fieldMsg">Enter maximum Replica Count that is greater or equal to 1</label>
                <br>
            </div>
        </fieldset>
    </fieldset>
</fieldset>
