<section ng-controller="resourcesAppCtrl">
    <div ng-if="access.list">
        <button class="btn btn-primary f-left" ng-if="access.add" ng-click="addResource()">Add New Resource</button>
        <button class="btn btn-primary f-right" ng-if="access.list" ng-click="listResources()"><span class="icon icon-loop2"></span>Refresh</button>
        <br /><br />
	    <div ng-show="oldStyle">
		    <alert type="danger">
			    <h3 style="margin-top:5px;">Warning</h3>
			    <hr>
			    Some of the Resources have not been upgraded yet in this environment, they still use a configuration from previous SOAJS version(s).<br />
			    This prevents you from updating their configuration and also impacts the databases section. Please upgrade these resources to the latest version <a href="" ng-click="upgradeAll()">[ Upgrade ]</a>
		    </alert>
		    <br />
	    </div>
        <div ng-if="!resources || !resources.list || resources.list.length === 0">

        </div>
        <div ng-if="resources && resources.list && resources.list.length > 0">
            <tabset>
                <tab ng-repeat="(type, categories) in resources.types" heading="{{type|capitalizeFirst}}">
                    <br />
                    <accordion close-others="false">
                        <accordion-group ng-repeat="(category, content) in categories" class="entryBoxes entryBoxesGrid">
                            <accordion-heading>{{category}}</accordion-heading>
                            <div ng-repeat="resource in content" class="entryBox resource-box" ng-class="{greenBox: resource.plugged}">
                                <div class="header" ng-class="{greenBoxHeader: resource.plugged}">
                                    {{resource.name}}
                                    <span ng-if="resource.locked" class="icon icon-lock" tooltip="This resource is locked"></span>
                                    <span ng-if="resource.shared && resource.created.toLowerCase() !== envCode.toLowerCase()" class="icon icon-share2" tooltip="This resource is shared from the {{resource.created}} environment"></span>
                                    <div class="rightActions" style="display:inline;">
                                        <a href="" ng-if="access.delete && !resource.locked && resource.allowEdit" ng-click="deleteResource(resource)" ng-confirm-click="Are you sure you want to delete this resource?">
        									<span class="icon icon-cross" tooltip="Delete Resource"></span>
        								</a>
                                    </div>
                                </div>
                                <div class="body resource-box-body" ng-class="{'resource-box-body-three-btn-view': (resource.canBeDeployed || resource.isDeployed)}">
                                    <a href="" ng-if="access.update && !resource.plugged" class="btn btn-sm btn-default responsive-width" ng-class="{disabled: !resource.allowEdit || (resource.canBeDeployed && !resource.isDeployed)}" ng-click="togglePlugResource(resource, true)"><span class="icon icon-power-cord"></span>Plug</a>
                                    <a href="" ng-if="access.update && resource.plugged" class="btn btn-sm btn-default responsive-width" ng-class="{disabled: !resource.allowEdit}" ng-click="togglePlugResource(resource, false)"><span class="icon icon-power-cord"></span>Unplug</a>
                                    <a href="" ng-if="access.deploy && resource.canBeDeployed" class="btn btn-sm btn-default responsive-width" ng-class="{disabled: !resource.allowEdit || (resource.isDeployed && resource.instance && resource.instance.id)}" ng-click="deployResource(resource)"><span class="icon icon-cloud"></span>Deploy</a>
                                    <a href="" ng-if="access.update" class="btn btn-sm btn-default responsive-width" ng-click="manageResource(resource, 'update')">
                                        <span ng-if="resource.allowEdit">
                                            <span class="icon icon-cog"></span>Configure
                                        </span>
                                        <span ng-if="!resource.allowEdit">
                                            <span class="icon icon-search"></span>View
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </tab>
            </tabset>
        </div>
    </div>
</section>

<script type="text/ng-template" id="addEditResource.tmpl">
    <div class="modal-header custom-modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
    <div class="modal-body">
        <div class="form">
            <alert type="danger" ng-if="message.danger">{{message.danger}}</alert>
            <form name="addEditResource" id="addEditResource" ng-submit="addEditResource.$valid && onSubmit()">
                <div class="form-group">
                    <tabset>
                        <tab heading="General">
                            <br />
                            <div>
    							<label>Resource Name</label>
    							<input type="text" class="form-control" ng-model="formData.name" ng-required="true" ng-disabled="options.formAction === 'update'"/>
    							<label class="fieldMsg">Choose the name of the new resource</label>
    							<br />
    						</div>
                            <div>
                                <label>Resource Type</label>
    							<input type="text" class="form-control" ng-model="formData.type" ng-disabled="true"/>
    							<label class="fieldMsg">Type of the new resource</label>
    							<br />
                            </div>
                            <div>
                                <label>Resource Category</label>
    							<input type="text" class="form-control" ng-model="formData.category" ng-disabled="true"/>
    							<label class="fieldMsg">Category of the new resource</label>
    							<br />
                            </div>
                        </tab>
                        <tab heading="Settings">
                            <br />
                            <div>
                                <label>Plug Resource</label>
                                <label class="toggleSwitch f-right"><input type="checkbox" ng-model="formData.plugged"><span class="buttonSlider round"></span></label>
                                <label class="fieldMsg">Plugging a resource makes it accessible via the registry</label>
    							<br /><br />
    						</div>
                            <div>
                                <label>Lock Resource</label>
                                <label class="toggleSwitch f-right"><input type="checkbox" ng-model="formData.locked"><span class="buttonSlider round"></span></label>
                                <label class="fieldMsg">Locking a resource protects it from being deleted</label>
    							<br /><br />
                            </div>
                            <div>
                                <label>Share Resource With Other Environments</label>
                                <label class="toggleSwitch f-right"><input type="checkbox" ng-click="getEnvs()" ng-model="formData.shared"><span class="buttonSlider round"></span></label>
                                <label class="fieldMsg">Sharing a resource makes it accessible via other environments</label>
    							<br /><br />
                            </div>
                            <div ng-if="formData.shared">
                                <div>
                                    <label>
                                        <input type="checkbox" ng-model="envs.sharedWithAll" ng-click="toggleShareWithAllEnvs()"/>
                                        Share with all environments
                                    </label>
                                </div>
                                <div class="grid">
    								<table width="100%" border="0" cellpadding="5" cellspacing="3">
    									<tbody>
    										<tr class="first odd" ng-class="{'first': $first, 'last': $last, 'odd': $odd, 'even': $even}" ng-repeat="env in envs.list">
    											<td width="5%"><input type="checkbox" name="{{env.code}}" ng-model="env.selected" ng-disabled="envs.sharedWithAll" /></td>
    											<td width="20%" align="left">{{env.code}}</td>
    											<td width="75%">{{env.description}}</td>
    										</tr>
    									</tbody>
    								</table>
    							</div>
                            </div>
                        </tab>
                        <tab heading="Configuration">
                            <br />
                            <div ui-ace="{{options.aceEditorConfig}}" style="height: 500px;" ng-model="formData.config"></div>
                        </tab>
                        <tab heading="Deployment">
                            <br />
                            <alert type="warning" ng-if="options.formAction === 'update' && formData.created !== options.envCode" style="text-align: center;">
                                Configuring the deployment options of a resource is only allowed in the environment where it was created.<br />
                                In the case of this resource, please refer to the {{formData.created}} environment.
                            </alert>
                            <div ng-if="options.formAction !== 'update' || (options.formAction === 'update' && formData.created === options.envCode)">
                                <div>
                                    <label>Deploy this resource as part of this cloud</label>
                                    <label class="toggleSwitch f-right"><input type="checkbox" ng-model="formData.canBeDeployed"><span class="buttonSlider round"></span></label>
                                    <label class="fieldMsg">Plugging a resource makes it accessible via the registry</label>
        							<br /><br />
        						</div>
                                <div ng-if="formData.canBeDeployed" ng-include="'modules/dashboard/resources/directives/deployResource.tmpl'"></div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-if="options.allowEdit">
            <button class="btn btn-success" ng-disabled="addEditResource.$invalid" ng-click="save()">Save</button>
    		<button class="btn btn-primary" ng-if="!formData.isDeployed && formData.canBeDeployed && (!formData.instance || !formData.instance.id)" ng-disabled="addEditResource.$invalid" ng-click="saveAndDeploy()">Save & Deploy</button>
            <button class="btn btn-primary" ng-if="formData.isDeployed && formData.canBeDeployed && formData.instance && formData.instance.id" ng-disabled="addEditResource.$invalid" ng-click="saveAndRebuild()">Save & Rebuild</button>
        </span>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
</script>
