<alert type="danger" ng-if="message.danger">{{message.danger}}</alert>
<form name="addEditResource" id="addEditResource" ng-submit="addEditResource.$valid && onSubmit()">
	<div class="form-group" ng-init="$root.valid = addEditResource.$valid" ng-keyup="$root.valid = addEditResource.$valid" ng-mousemove="$root.valid = addEditResource.$valid">
		<tabset>
			<tab heading="General Settings">
				<br />
				<div>
					<label>Resource Name</label>
					<input type="text" class="form-control" ng-model="formData.name" ng-required="true" ng-change="updateDeploymentName()" ng-disabled="options.formAction === 'update'"/>
					<label class="fieldMsg">Choose the name of the new resource</label>
					<br />
				</div>
				<div>
					<label>Resource Type</label>
					<input type="text" class="form-control" ng-model="formData.type" ng-disabled="true"/>
					<label class="fieldMsg">Type of the new resource</label>
					<br />
				</div>
				<div>
					<label>Resource Category</label>
					<input type="text" class="form-control" ng-model="formData.category" ng-disabled="true"/>
					<label class="fieldMsg">Category of the new resource</label>
					<br />
				</div>
				<br />
				<div>
					<label>Plug Resource</label>
					<label ng-show="allowEdit && !sensitive" class="toggleSwitch f-right"><input type="checkbox" ng-model="formData.plugged"><span class="buttonSlider round"></span></label>
					<label ng-show="!allowEdit || sensitive" class="toggleSwitch f-right"><input disabled type="checkbox" ng-model="formData.plugged"><span class="buttonSlider round"></span></label>
					<label class="fieldMsg">Turn this on if you want this resource to be available in the registry for your services & daemons</label>
					<br /><br />
				</div>
				<div>
					<label>Lock Resource</label>
					<label ng-show="allowEdit && !sensitive" class="toggleSwitch f-right"><input type="checkbox" ng-model="formData.locked"><span class="buttonSlider round"></span></label>
					<label ng-show="!allowEdit || sensitive" class="toggleSwitch f-right"><input disabled type="checkbox" ng-model="formData.locked"><span class="buttonSlider round"></span></label>
					<label class="fieldMsg">Turn this on if you want to protect this resource and make it readonly for others</label>
					<br /><br />
				</div>
				<div ng-show="allowEdit && !sensitive">
					<label>Share Resource With Other Environments</label>
					<label class="toggleSwitch f-right"><input type="checkbox" ng-click="getEnvs()" ng-model="formData.shared"><span class="buttonSlider round"></span></label>
					<label class="fieldMsg">Sharing a resource makes it accessible via other environments</label>
					<br /><br />
				</div>
				<div ng-show="!allowEdit || sensitive">
					<label>Share Resource With Other Environments</label>
					<label class="toggleSwitch f-right"><input disabled type="checkbox" ng-click="getEnvs()" ng-model="formData.shared"><span class="buttonSlider round"></span></label>
					<label class="fieldMsg">Sharing a resource makes it accessible via other environments</label>
					<br /><br />
				</div>
				<div ng-if="formData.shared">
					<div>
						<label ng-show="allowEdit && !sensitive">
							<input type="checkbox" ng-model="envs.sharedWithAll" ng-click="toggleShareWithAllEnvs()"/>
							Share with all environments
						</label>
						<label ng-show="!allowEdit || sensitive">
							Shared with environment(s)
						</label>
					</div>
					<div class="grid">
						<table width="100%" border="0" cellpadding="5" cellspacing="3">
							<tbody>
								<tr class="first odd" ng-class="{'first': $first, 'last': $last, 'odd': $odd, 'even': $even}" ng-repeat="env in envs.list">
									<td width="5%" ng-show="allowEdit"><input type="checkbox" name="{{env.code}}" ng-model="env.selected" ng-disabled="envs.sharedWithAll" /></td>
									<td width="20%" align="left">{{env.code}}</td>
									<td width="75%">{{env.description}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</tab>
			<tab heading="Driver Configuration" ng-show="driverConfigurationSchema">
				<br />
				<div id="driverConfiguration">
					<h3 style="margin-top: 0;">{{categoryLabel}}</h3>
					<hr />
					<br />
					<ngform-inputs></ngform-inputs>
				</div>
			</tab>
			<tab ng-if="access.deploy || access.rebuild" heading="Deployment Options" ng-show="!sensitive && recipes.length > 0">
				<br />
				<alert type="warning" ng-if="options.formAction === 'update' && formData.created !== options.envCode" style="text-align: center;">
					Configuring the deployment options of a resource is only allowed in the environment where it was created.<br />
					In the case of this resource, please refer to the {{formData.created}} environment.
				</alert>
				<div ng-if="options.formAction !== 'update' || (options.formAction === 'update' && formData.created === options.envCode)">
					<div>
						<label>Deploy this resource as part of this cloud</label>
						<label class="toggleSwitch f-right"><input type="checkbox" ng-model="formData.canBeDeployed" ng-change="updateDeploymentName()"><span class="buttonSlider round"></span></label>
						<label class="fieldMsg">Plugging a resource makes it accessible via the registry</label>
						<br /><br />
					</div>
					<div ng-if="formData.canBeDeployed" ng-include="'modules/dashboard/resources/directives/deployResource.tmpl'"></div>
				</div>
			</tab>
		</tabset>
	</div>
</form>