.travis a{
    background-image: url(/themes/default/img/travis_icon.png);
    background-position: 2px 5px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 35px !important;
}

.drone a{
    background-image: url(/themes/default/img/drone_logo.png);
    background-position: 5px 8px;
    background-repeat: no-repeat;
    background-size: 27px 25px;
    padding-left: 35px !important;
}

.ciFormHeader{
    background-color: #9EBC5D !important;
    border: solid 1px #8A9E5B !important;
    border-radius: 5px;
    width: 98%;
    margin: 10px auto;
    color: white;
}

.customEntryBox {
    width: 100% !important;
    /*min-height: 196px !important;*/
    /*height: auto;*/
    padding-left: 0px !important;
}

.entryBox{
    border: solid 1px #cccccc;
    position: relative;
    border-radius: 8px;
    margin-bottom: 15px;
}

.blueLi.active {
    background-color: #DFF0D8 !important;
    border-color: #3C763D !important;
    color: #3c763d !important;
}

.blueLi.deleted {
    background-color: #F2DEDE !important;
    border-color: #a94442 !important;
    color: #a94442 !important;
}

.blueLi.outOfSync {
    background-color: #FCF8E3 !important;
    border-color: #8a6d3b !important;
    color: #8a6d3b !important;
}

.repoHeader {
    width: 50px !important;
}

.nameHeader {
    width: 20% !important;
}

.typeHeader {
    width: 15% !important;
}

.linkHeader {
    width: 15% !important;
}

.loadingImageLarge {
    display: block;
    margin: 0 auto;
}

.alignCenter {
    text-align: center !important;
}

li.accountType {
    list-style-type: none;
    padding-left: 10px;
}

#activeRepos .grid table{
    min-width:100%
}

#syncedRepos .grid table{
    min-width:100%
}

.loadMore{
    width:98%
}

.loadMore:hover{
    border-radius: 5px;
    border: solid 1px #337ab7;
}

#loadingNotification {
    height: 290px;
    width: 100%;
    padding-top: 40px;
}

.mr11 {
    margin-right: 11% !important;
}

#repoSettings #allow_push-wrapper label,
#repoSettings #allow_pr-wrapper label,
#repoSettings #allow_tags-wrapper label,
#repoSettings #allow_deploys-wrapper label,
#repoSettings #trusted-wrapper label,
#repoSettings #gated-wrapper label,
#repoSettings #maximum_number_of_builds-wrapper label,
#repoSettings #builds_only_with_travis_yml-wrapper label,
#repoSettings #build_pushes-wrapper label,
#repoSettings #build_pull_requests-wrapper label {
    width:255px;
}

#repoSettings #allow_push-wrapper label,
#repoSettings #allow_push-wrapper ul li,
#repoSettings #allow_pr-wrapper label,
#repoSettings #allow_pr-wrapper ul li,
#repoSettings #allow_tags-wrapper label,
#repoSettings #allow_tags-wrapper ul li,
#repoSettings #allow_deploys-wrapper label,
#repoSettings #allow_deploys-wrapper ul li,
#repoSettings #trusted-wrapper label,
#repoSettings #trusted-wrapper ul li,
#repoSettings #gated-wrapper label,
#repoSettings #gated-wrapper ul li,
#repoSettings #maximum_number_of_builds-wrapper label,
#repoSettings #builds_only_with_travis_yml-wrapper label,
#repoSettings #builds_only_with_travis_yml-wrapper ul,
#repoSettings #builds_only_with_travis_yml-wrapper ul li,
#repoSettings #build_pushes-wrapper label,
#repoSettings #build_pushes-wrapper ul,
#repoSettings #build_pushes-wrapper ul li,
#repoSettings #build_pull_requests-wrapper label,
#repoSettings #build_pull_requests-wrapper ul,
#repoSettings #build_pull_requests-wrapper ul li{
    float:left;
}

#repoSettings #allow_push-wrapper ul,
#repoSettings #allow_pr-wrapper ul,
#repoSettings #allow_tags-wrapper ul,
#repoSettings #allow_deploys-wrapper ul,
#repoSettings #trusted-wrapper ul,
#repoSettings #gated-wrapper ul,
#repoSettings #builds_only_with_travis_yml-wrapper ul,
#repoSettings #build_pushes-wrapper ul,
#repoSettings #build_pull_requests-wrapper ul{
    margin-top: 15px;
    list-style-type:none;
}

#repoSettings #allow_push-wrapper ul li,
#repoSettings #allow_pr-wrapper ul li,
#repoSettings #allow_tags-wrapper ul li,
#repoSettings #allow_deploys-wrapper ul li,
#repoSettings #trusted-wrapper ul li,
#repoSettings #gated-wrapper ul li,
#repoSettings #maximum_number_of_builds-wrapper input,
#repoSettings #builds_only_with_travis_yml-wrapper ul li,
#repoSettings #build_pushes-wrapper ul li,
#repoSettings #build_pull_requests-wrapper ul li{
    margin-left:10px;
}

#repoSettings #maximum_number_of_builds-wrapper input{
    float:left;
    width:50px;
    margin-left: 46px;
}

#repoSettings #envs tr[class^="form-group tr-envName"] {
    width: 35%;
    float:left;
}

#repoSettings #envs tr[class^="form-group tr-envVal"] {
    width: 60%;
    float:left;
}

#repoSettings #envs tr[class^="form-group tr-removeEnv"] {
    width: 5%;
    float:left;
}

#repoSettings #envs tr td{
    display:block;
    width:95%;
}

#repoSettings #envs tr[class^="form-group tr-removeEnv"] td{
    padding-top:45px;
}

#repoSettings .recipeButtons{
    margin:0 0 5px 0;
    width:100%;
    text-align: left;
}

#repoSettings .recipeButtons span{
    position:relative;
    top: 2px;
}

#repoSettings legend{
    text-transform: capitalize;
}

.configCd .entryServiceBoxes .service-container .serviceNameHead{
    background-color: white;
    border-bottom: none;
}
.configCd .serviceNameHead .serviceName{
    width: 30%;
}
.configCd .form-control {
    display: inline;
    width: 65%;
    height: auto;
    padding-bottom: 3px;
    padding-top: 4px;
}

.configCd .entryServiceBoxes {
    margin-top: 10px;
}

.configCd label,
.configCd .entryServiceBoxes .service-container label {
    font-weight: bold;
    padding-bottom: 2px;
    width: 30%;
}

.configCd label.fieldMsg {
    width:100%;
    clear:both;
    font-weight:normal;
}

.configCd select.form-control {
    margin-top: 3px;
    margin-bottom: 5px;
    min-width: 120px;
}

.configCd .halfPage {
    float: left;
    width: 35%;
}
.configCd .branchLabel{
    padding-top: 8px;
}

.font-16{
    font-size:16px;
}

.font-14{
    font-size:14px;
}

.loadingImage {
    height: 18px !important;
    margin-left: 5px !important;
    margin-top: -3px !important;
    width: 18px !important;
}

.deployed {
    color: #3c763d;
    font-weight: bold;
}

.gitRepos-search {
    width: 70%;
    height: 25px;
    display: inline;
    margin-right: 10px;
}
