<section>
	<div class='form' ng-controller="uracAclModuleStgCtrl as formCtrl">
		<form novalidate="" class="css-form ng-pristine" name="">
			<div class="header"><h3 class="">{{translation.updateACLof[LANG]}} {{user.username}}</h3></div>
			<div class="body">
				<div ng-if="msg.type">
					<alert type="{{msg.type}}">{{msg.msg}}</alert>
					<br>
				</div>
				<tabset>
					<tab ng-repeat="oneEnv in environments_codes" heading="{{oneEnv.code}}"><br>
						<div id="application-ApiList" class="entryServiceBoxes">
							<div ng-repeat="application in tenantApp.applications">
								<label>{{application.package}}:</label> {{application.description}}<br/>
								<div class="clearfix service-container" ng-repeat="(sName, service) in application.services[oneEnv.code]">
									<div class="clearfix serviceNameHead">
										<div ng-include="uracModuleStg+'/directives/service-name.tmpl'"></div>
									</div>
									<div ng-include="uracModuleStg+'/directives/acl-permission.tmpl'"></div>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
			<div class="footer"><br/>
				<input ng-confirm-click="{{translation.areYouSureWantClearACLUser[LANG]}}?" type="reset" class="btn btn-sm btn-danger" ng-click="clearUserAcl()" value="Empty ACL"/>
				<input type="submit" class="btn btn-sm btn-primary" ng-click="saveUserAcl()" value="Save ACL"/>
			</div>
		</form>
	</div>
</section>
