<div ng-controller="uracMembersModuleStgCtrl">
	<section ng-if="access.owner.listTenants" style="min-height: 42px;">
		<span ng-if="tName">
			Managing: {{tName}}
		</span>
		<div class="f-right">
			<span>
				<a ng-click="backToList()" href="">{{translation.back2List[LANG]}}</a>
			</span>
		</div>
	</section>
	<tabset id="membersSection">
		<tab heading="{{translation.members[LANG]}}">
			<section ng-controller="tenantMembersModuleStgCtrl" class="membersCtrl">
				<div class="clearfix">
					<div class="f-right">
						<a class="btn btn-primary" ng-click="members.refresh()" href="">
							{{translation.refreshListing[LANG]}}
						</a>
					</div>
					<div class="f-left" ng-if="members.access.adminUser.addUser">
						<a href="" ng-click="members.addMember()" class="btn btn-primary">{{translation.addNewMember[LANG]}}</a>
					</div>
				</div>
				<nglist></nglist>
			</section>
		</tab>
		<tab ng-show="access.adminGroup.list" heading="{{translation.groups[LANG]}}">
			<section ng-controller="tenantGroupsModuleStgCtrl as gridCtrl">
				<div class="clearfix">
					<div class="f-right">
						<a class="btn btn-primary" ng-click="groups.listGroups()" href="">
							{{translation.refreshListing[LANG]}}
						</a>
					</div>
					<span ng-if="groups.access.adminGroup.add">
                    <a href="" ng-click="groups.addGroup()" class="btn btn-primary">{{translation.addNewGroup[LANG]}}</a><br/><br/>
                </span>
				</div>
				<nglist></nglist>
			</section>
		</tab>

		<tab heading="{{translation.tokens[LANG]}}" ng-show="access.adminToken.list">
			<section ng-controller="tokensModuleStgCtrl" class="tokensCtrl">
				<div class="clearfix">
					<div class="f-right">
						<a class="btn btn-primary" ng-click="tokens.listTokens(true)" href="">
							{{translation.refreshListing[LANG]}}
						</a>
					</div>
				</div>
				<table cellspacing="0" cellpadding="0" border="0" width="100%" class="navigation">
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td align="right">
								Found {{totalCount}} Record(s)
							</td>
							<td align="right" class="pageCount">
								Page {{pageActive}} of {{totalPagesActive}}
							</td>
							<td align="right" class="apiNavigation apiNavigationWide">
								<ul class="pagination-sm pagination ng-isolate-scope ng-valid">
									<li ng-class="{'disabled': startLimit<=0}">
										<a ng-click="getPrev();" href="">{{translation.getPrevious[LANG]}}
											{{endLimit}}</a>
									</li>
									<li ng-class="{'disabled': !showNext}">
										<a ng-click="getNext();" href="">{{translation.getNext[LANG]}} {{endLimit}}</a>
									</li>
									<li ng-class="{'disabled': !showNext}">
										<a ng-click="getEnd();" href="">{{translation.last[LANG]}}</a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>

				<nglist></nglist>
			</section>
		</tab>

	</tabset>
</div>