<section ng-controller="productCtrl" ng-show="grid.rows">


    <a href="" ng-click="addProduct()" class="btn btn-primary">Add New Product</a><br/><br/>

    <div class="entryBoxes">
        <div ng-repeat="row in grid.rows" class="entryBox">
            <div class="header">{{row['name']}}<span>[ {{row['code']}} ]</span></div>
            <div class="body clearfix">
                <div class="description">{{row['description']}}</div>
                <a style="top:0" class="btn btn-sm btn-primary" href="" ng-click="addPackage(row['_id'])">Add New Package</a>
                <label ng-show="row.packages.length > 0">Packages:</label>
                <ul class="blueListing">
                    <li class="blueLi" ng-repeat="package in row.packages">
                    <a ng-click="viewPackage(package)" href="" ng-hide="package.showDetails">
                        <span class="icon icon-plus" tooltip="Expand Packages"></span>
                    </a>
                    
                    <a ng-click="closePackage(package)" href="" ng-show="package.showDetails">
                        <span class="icon icon-minus" tooltip="Collapse Packages"></span>
                    </a>
                    <b>{{package['name']}}</b>&nbsp;[ {{package['code']}} ]  ( {{package['_TTL'] | TTL}} hours )
                    <span class="rightActions">
                        <a href="" ng-click="editPackAcl(row['_id'], package['code']);">
                            <span class="icon icon-unlocked" tooltip="Edit Package ACL"></span>
                        </a>&nbsp;

                        <a href="" ng-confirm-click="Are you sure you want to remove the selected package ?" ng-click="removeProductPackage(row['_id'], package['code']);">
                            <span class="icon icon-cross" tooltip="Remove Package"></span>
                        </a>&nbsp;

                        <a href="" ng-click="editPackage(row['_id'], package)">
                            <span class="icon icon-pencil2" tooltip="Edit Package"></span>
                        </a>
                        </span>
                        
                    <div ng-show="package.showDetails"><em>{{package['description']}}</em></div>
                    
 						
                    </li>
                </ul>
                <div class="entryAction">
                    <a href="" ng-click="grid.actions.edit.command(row);">
                        <span class="icon icon-pencil2" tooltip="Edit Product"></span>
                        <!--<img ng-src="themes/{{$parent.themeToUse}}/img/edit.png" border="0" alt="Edit Product"/>-->
                    </a>&nbsp;
                    <a href="" ng-confirm-click="{{grid.actions.delete.commandMsg}}" ng-click="grid.actions.delete.command(row);">
                        <span class="icon icon-cross" tooltip="Remove Product"></span>
                        <!--<img ng-src="themes/{{$parent.themeToUse}}/img/remove.png" border="0" alt="Remove Product"/>-->
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>