<div class="serviceName">
    <input type="checkbox" ng-checked="aclFill[service.name].include===true" ng-model="aclFill[service.name].include" value="{{service.name}}" ng-click="selectService(service)" />
    <b> <a href="">{{service.name}} </a></b>
</div>
<div ng-show="aclFill[service.name].include" style="float: left;">
    <span style="padding-left: 15px;">
        <input ng-model="aclFill[service.name].accessType" value="public" type="radio" name="{{service.name}}_radio" ng-checked="aclFill[service.name].accessType==='public'" /> public
    </span>
    <span style="padding-left: 40px;">
        <input ng-model="aclFill[service.name].accessType" value="private" type="radio" name="{{service.name}}_radio" ng-checked="aclFill[service.name].accessType==='private'"/> private
    </span>
    <span style="padding-left: 40px;">
        <input type="radio" ng-checked="aclFill[service.name].accessType==='admin'" name="{{service.name}}_radio" ng-model="aclFill[service.name].accessType" value="admin"/> administrator
    </span>
</div>
<div style="float:right;" ng-show="aclFill[service.name].include">
    <a href="" ng-click="minimize(service)" ng-show="aclFill[service.name].collapse===false">
        <span class="icon icon-minus" tooltip="Minimize"></span>
    </a>
    <a href="" ng-click="expand(service)" ng-show="aclFill[service.name].collapse===true">
        <span class="icon icon-plus" tooltip="Expand"></span>
    </a>
</div>