<div class="serviceName">
    <input type="checkbox" ng-checked="aclFill[oneEnv.code][service.name].include===true" ng-model="aclFill[oneEnv.code][service.name].include" value="{{service.name}}" ng-click="selectService(oneEnv.code, service)" />
    <b> <a href="">{{service.name}} </a></b>
</div>
<div ng-show="aclFill[oneEnv.code][service.name].include" style="float: left;">
    <span style="padding-left: 15px;">
        <input ng-model="aclFill[oneEnv.code][service.name].accessType" value="public" type="radio" name="{{service.name}}_radio" ng-checked="aclFill[oneEnv.code][service.name].accessType==='public'" /> {{translation.public[LANG]}}
    </span>
    <span style="padding-left: 40px;">
        <input ng-model="aclFill[oneEnv.code][service.name].accessType" value="private" type="radio" name="{{service.name}}_radio" ng-checked="aclFill[oneEnv.code][service.name].accessType==='private'"/> {{translation.private[LANG]}}
    </span>
    <span style="padding-left: 40px;">
        <input type="radio" ng-checked="aclFill[oneEnv.code][service.name].accessType==='owner'" name="{{service.name}}_radio" ng-model="aclFill[oneEnv.code][service.name].accessType" value="owner"/> {{translation.owner[LANG]}}
    </span>
    <span style="padding-left: 40px;">
        <input type="radio" ng-checked="aclFill[oneEnv.code][service.name].accessType==='admin'" name="{{service.name}}_radio" ng-model="aclFill[oneEnv.code][service.name].accessType" value="admin"/> {{translation.administrator[LANG]}}
    </span>
</div>
<div style="float:right;" ng-show="aclFill[oneEnv.code][service.name].include">
    <a href="" ng-click="minimize(oneEnv.code, service)" ng-show="aclFill[oneEnv.code][service.name].collapse===false">
        <span class="icon icon-minus" tooltip="{{translation.minimize[LANG]}}"></span>
    </a>
    <a href="" ng-click="expand(oneEnv.code, service)" ng-show="aclFill[oneEnv.code][service.name].collapse===true">
        <span class="icon icon-plus" tooltip="{{translation.expand[LANG]}}"></span>
    </a>
</div>