<section>
    <div class="t-right">
        <a href="#/login"><span class="glyphicon glyphicon-chevron-left"></span> Go Back to Login</a>
    </div>
    <br/>

    <div class='form' ng-controller="registerCtrl as formCtrl">
        <ngform></ngform>
    </div>
</section>