ul {
    list-style-type: none;
    padding-left: 15px;
}

.greyBoxCustom {
    position: relative !important;
    width: 25% !important;
    text-align: center !important;
}

.greyBoxCustom a {
    position: absolute;
    right: 1px;
    top: 4px;
}

.greyBoxCustom2 {
    width: 40% !important;
    text-align:left !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.blueAlert {
    background-color: #DEF1F7;
    color: black;
    border-color: #DEF1F7;
}

.text-green {
    color: green;
}

.selectCustom {
    width: 15% !important;
    margin-bottom: 20px !important;
}

.loadingImage {
    height: 18px !important;
    margin-left: 5px !important;
    margin-top: -3px !important;
    width: 18px !important;
}

.customInput {
    width:49% !important;
}

.groupFieldset {
    border-color: #337ab7;
    border-width: 2px;
}

.grid table {
    min-width: 100% !important;
}

.modeSelect {
    width: 15% !important;
}

.customTable td {
    text-align: center !important;
}

.updateNodeButton {
    float: right;
    margin-top: 10px;
    width: 10%;
}

.logsHeader{
    width: 5% !important;
}

.maintenanceHeader {
    width: 15% !important;
}

.hostnameHeader {
    width: 15% !important;
}

.statusHeader {
    width: 15% !important;
}

.statusHeader2 {
    width: 30% !important;
}

.ipHeader {
    width: 15% !important;
}

.serviceOpsDropdown {
    float: right !important;
    height: 28px !important;
}

.serviceOpsDropdown .btn {
    font-size: 11px !important;
}

.serviceLabelBox {
    margin-left: 0px !important;
    margin-top: 3px !important;
    padding-left: 2px !important;
    padding-right: 2px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.ctrlBox {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
}

.ctrlBoxHealthy {
    background-color: #6B985F;
    border: 2px solid #6B985F;
}

.ctrlBoxUnhealthy {
    background-color: #FF3333;
    border: 2px solid #FF3333;
}

.driverEntryBox {
    width: 49% !important;
    padding-left: 0px !important;
}

.customLabel {
    text-decoration: none !important;
}

.staticDiv {
    width: 100%;
    height: 52px;
}

.pt6 {
    padding-top: 6px;
}

.text-align-center {
    text-align: center;
}

.centeredInput {
    margin-left: 30%;
    width: 40%;
    text-align: center;
}

.ctrl-tooltip{
    min-width:15% !important;
    width:auto;
    display:table !important;
    white-space: nowrap !important;
    padding:5px;
}
.ctrl-tooltip > * {
    text-align: left !important;
    float: left !important;
    max-width:none;
}

.ace_editor{
    height: 500px;
}

.customRegistryAceEditor {
    max-height: 500px;
    min-height: 18px;
    overflow-y: scroll;
}

.red{
    color:red;
}

.yellow{
    color: gold;
}

.green{
    color:green;
}

.namespaceSelect {
    width: 59% !important;
    float: left;
}


.customEntryBox {
    width: 100% !important;
    padding-left: 0px !important;
}

.alignCenter {
    text-align: center !important;
}

.loadingImageLarge {
    display: block;
    margin: 0 auto;
}

#loadingNotification {
    height: 290px;
    width: 100%;
    padding-top: 40px;
}

.pl0 {
    padding-left: 0px !important;
}

.blueAccordion{
    border: solid 1px #337ab7;
}

.blueAccordion .panel-heading{
    background: #DEF1F7;
}

.blueAccordion .panel-body{
    border-top-color: #337ab7 !important;
}

.serviceVersionBox{
    display:table;
    width:100%;
}

.serviceVersionBox a {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 49%;
}

.noVersionsBox {
    text-align: center;
}

.noVersionsBox a {
    display: inline;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 40% !important;
}

.greenBox {
    border: solid 1px #3c763d !important;
}

.greenBoxHeader {
    background-color: #dff0d8 !important;
    border-bottom-color: #3c763d !important;
}

.greenAccordion{
    border-color: #3c763d !important;
}

.greenAccordion .panel-heading{
    background-color: #dff0d8 !important;
}

.cdFormHeader{
    background-color: #9EBC5D !important;
    border: solid 1px #8A9E5B !important;
    border-radius: 5px;
    width: 98%;
    margin: 10px auto;
    color: white;
}

.configCd .form-control {
    display: inline;
    width: 65%;
    height: 34px;
    padding-bottom: 3px;
    padding-top: 4px;
}

.configCd label,
.configCd .entryServiceBoxes .service-container label {
    font-weight: bold;
    padding-bottom: 2px;
    width: 30%;
}

.configCd label.fieldMsg {
    width:100%;
    clear:both;
    font-weight:normal;
}

.configCd select.form-control {
    margin-top: 3px;
    margin-bottom: 5px;
    min-width: 120px;
}

.configCd .halfPage {
    float: left;
    width: 35%;
}
.configCd .branchLabel{
    padding-top: 8px;
}
.responsive-width {
    font-size: 0.8vw;
    float: right;
}
.accordion-toggle:focus{
    outline: none;
    text-decoration: none;
}

.fullWidth{
   width: 100% !important;
}

.ng-scope fieldset.autoScale{
 border: none;
    padding : 0;
}
fieldset.autoScale legend {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding:0;
}

.w30 {
    width: 30% !important;
}

.w37 {
    width: 37% !important;
}

.autoscaleBox {
    margin-right: 10px;
    padding-right: 11px;
    color: #5bc0de !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;

  width: 50px !important;
  height: 20px !important;
  top: 7px;
  left: 6px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.buttonSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.buttonSlider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

  top: 1px;
}

input:checked + .buttonSlider {
  background-color: #5cb85c;
}

input:focus + .buttonSlider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .buttonSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.buttonSlider.round {
  border-radius: 34px;
}

.buttonSlider.round:before {
  border-radius: 50%;
}

.nodes span{
    margin: 0 !important;
}

.myPointer{
    cursor: pointer;
}

#deployEnv #controllers h4,
#deployEnv #nginx h4{
    margin: 0;
}

#deployEnv #controllers hr,
#deployEnv #nginx hr{
    margin: 5px 0;
}

#deployEnv #controllers a,
#deployEnv #nginx a{
    text-decoration:underline;
    font-weight:bold;
    color:#31708f;
}

.dbBox .head h4{
    margin-right: 40px;
}

.yellowListing li.blueLi{
    border: solid 1px #faebcc;
    background-color: #fcf8e3;
}

.customRegistry-box {
    width: 100% !important;
    margin: 0 0 15px 5px;
    padding:12px;
    display:table;
    border-radius: 8px;
    border: solid 1px #cccccc;
}

.customRegistry-box .leftActions{
    float:left;
    max-width:8%;
}

.customRegistry-box .leftActions a{
    margin-top:6px;
    margin-right:8px;
    float:left;
}

.customRegistry-box .rightActions{
    float:right;
    max-width:45%;
}

.customRegistry-box .rightActions a{
    float:left !important;
    margin-right: 12px;
    min-width:90px;
}

.customRegistry-box label{
    padding-top:4px;
    font-size:16px;
}

.evenRow{
    background-color:#f8f8f8;
}

.greenBox {
    border: solid 1px #3c763d !important;
}

.greenBoxHeader {
    background-color: #dff0d8 !important;
    border-bottom-color: #3c763d !important;
}

.custom-modal-header {
    background-color: #5BC0DE;
    color: white;
}

/* The switch - the box around the slider */
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 50px !important;
    height: 20px !important;
    top: 7px;
    left: 6px;
}

/* Hide default HTML checkbox */
.toggleSwitch input {display:none;}

/* The slider */
.buttonSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.buttonSlider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    top: 1px;
}

input:checked + .buttonSlider {
    background-color: #5BC0DE;
}

input:focus + .buttonSlider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .buttonSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.buttonSlider.round {
    border-radius: 34px;
}

.buttonSlider.round:before {
    border-radius: 50%;
}

.custom-fieldset div label:not(.fieldMsg) {
    margin-top: 10px;
    float: left;
    width: 24%;
}

.custom-fieldset div input, .custom-fieldset div select {
    float: right;
    width: 74%;
}

.ace_text-input {position:absolute!important}

.tip-alert h3 {
    background-color: inherit;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
}

.tip-alert p {
    margin-bottom: 0;
    margin-top: 3px;
}

.red{
    border-color: #ebccd1;
    color: #a94442;
    cursor:pointer;
}

.grey{
    color: #cccccc;
}

.customRegistry-search {
    width: 15%;
    margin-right: 10px;
}

.ownerLabel {
    color: #A9A9A9;
}
