ul {
    list-style-type: none;
    padding-left: 15px;
}

.greyBoxCustom {
    position: relative !important;
    width: 15% !important;
    text-align: center !important;
}

.greyBoxCustom a {
    position: absolute;
    right: 1px;
    top: 4px;
}

.greyBoxCustom2 {
    width: 40% !important;
    text-align:left !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.blueAlert {
    background-color: #DEF1F7;
    color: black;
    border-color: #DEF1F7;
}

.text-green {
    color: green;
}

.selectCustom {
    width: 15% !important;
    margin-bottom: 20px !important;
}

.loadingImage {
    height: 18px !important;
    margin-left: 5px !important;
    margin-top: -3px !important;
    width: 18px !important;
}

.customEntryBox {
    width: 48% !important;
    padding-left: 0px !important;
}

.customInput {
    width:49% !important;
}

.groupFieldset {
    border-color: #337ab7;
    border-width: 2px;
}

.grid table {
    min-width: 100% !important;
}

.modeSelect {
    width: 15% !important;
}

.customTable td {
    text-align: center !important;
}

.updateNodeButton {
    float: right;
    margin-top: 10px;
    width: 10%;
}

.maintenanceHeader {
    width: 10% !important;
}

.hostnameHeader {
    width: 15% !important;
}

.statusHeader {
    width: 15% !important;
}

.ipHeader {
    width: 15% !important;
}

.serviceOpsDropdown {
    float: right !important;

    height: 28px !important;
    margin-top: -4px !important;
}

.serviceOpsDropdown .btn {
    font-size: 11px !important;
}

.serviceLabelBox {
    margin-left: 0px !important;
    padding-left: 2px !important;
    padding-right: 2px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.ctrlBox {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    border-radius: 5px;
}

.ctrlBoxHealthy {
    background-color: #6B985F;
    border: 2px solid #6B985F;
}

.ctrlBoxUnhealthy {
    background-color: #FF3333;
    border: 2px solid #FF3333;
}
