<section>
    <div class='form' ng-controller="tenantApplicationAcl as formCtrl">
        <form novalidate="" class="css-form ng-pristine" name="">
            <div class="header"><h3>Update ACL of Tenant Application</h3></div>
            <div class="body">
                <label>Product Package:</label> {{currentApplication.package}}<br /><br />
                <div id="application-ApiList" class="entryServiceBoxes">
                    <div ng-repeat="service in currentApplication.services" class="clearfix service-container">
                        <div class="clearfix serviceNameHead">
                            <div ng-include="'modules/multitenancy/directives/service-name.tmpl'"></div>
                        </div>
                        <div ng-include="'modules/multitenancy/directives/api-permission.tmpl'"></div>
                    </div>
                </div>
            </div>
            <div class="footer"><br />
                <input ng-confirm-click="Are you sure you want to clear the ACL?" type="reset" class="btn btn-sm btn-danger" ng-click="clearAcl()" value="Empty ACL" />
                <input type="submit" class="btn btn-sm btn-primary" ng-click="saveACL()" value="Save ACL" />
            </div>
        </form>
    </div>
</section>