<section ng-controller="tenantKeysCtrl">
    <div class="t-right">
        <a href="#/multi-tenancy/edit/{{tenantId}}"><span class="glyphicon glyphicon-chevron-left"></span> Go Back to Editing the Tenant</a>
    </div>
    <div>
        <h2>Tenant Application Keys</h2>
        <a href="" ng-click="addNewKey()" class="btn btn-primary">Add New Application Key</a><br/><br/>
        <accordion close-others="true" ng-show="keys.length > 0">
            <accordion-group ng-repeat="key in keys" heading="Key >>> {{key.key}}" ng-click="openSubContent(key.key, $index); toggleOpen();">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                <div class="f-right"><a href="" ng-click="removeKey(key.key)" class="btn btn-danger">Remove Application Key</a></div>
                <br/>
                <tabset>
                    <tab heading="Key Configuration" ng-click="listConfiguration(key.key, $index);">
                        <br/>

                        <div class="entryBoxes entryBoxesGrid" id="keyConfig{{$index}}"></div>
                    </tab>
                    <tab heading="External Keys" ng-click="listExtKeys(key.key, $index);">
                        <br/><a href="" ng-click="addNewExtKey()" class="btn btn-primary">Add New Application External Key</a><br/><br/>

                        <div class="small-text" id="externalKeys{{$index}}">
                            <nglist></nglist>
                        </div>
                    </tab>
                </tabset>
            </accordion-group>
        </accordion>
    </div>
</section>