<br/>
<a ng-if="access.tenant.application.add" class="btn btn-sm btn-primary" href="" ng-click="addTenantApplication(row['_id'])">Add New Application</a>
<div>
    <label ng-show="row.applications.length > 0">Available Applications:</label>
    <ul class="blueListing">
        <li class="blueLi" ng-repeat="application in row.applications" class="row-list">
            <a ng-click="openKeys(row['_id'], application)" href="" ng-hide="application.showKeys">
                <span class="icon icon-plus" tooltip="Expand Applications"></span>
            </a>
            <a ng-click="closeKeys(row['_id'], application)" href="" ng-show="application.showKeys">
                <span class="icon icon-minus" tooltip="Collapse Applications"></span>
            </a>
            [{{application['package']}}] &nbsp; <span title="TTL">( {{application['_TTL'] | TTL}} hours )</span>
            <span class="rightActions">
                <a ng-if="access.tenant.application.delete" href="" ng-confirm-click="Are you sure you want to remove the selected application ?" ng-click="removeTenantApplication(row['_id'], application['appId']);">
                    <span class="icon icon-cross" tooltip="Remove Application"></span>
                </a>

                <a ng-if="access.tenant.application.update" href="" ng-click="editTenantApplication(row['_id'], application)">
                    <span class="icon icon-pencil2" tooltip="Edit Application"></span>
                </a>

                <a ng-if="access.tenant.application.update" href="" ng-click="editAppAcl(row['_id'], application['appId'])">
                    <span class="icon icon-unlocked" tooltip="Edit Application ACL"></span>
                </a>

            </span>
            <div class="appKeys" id="appKeys{{application['appId']}}" ng-show="application.showKeys">
                <div ng-include="'modules/multitenancy/directives/list-keys.tmpl'"></div>
            </div>
        </li>
    </ul>
</div>