<section ng-controller="tenantCtrl">
	<a href="" ng-click="addTenant()" class="btn btn-primary">Add New Tenant</a><br/>
	<br/>

	<div class="entryBoxes">

		<div ng-repeat="row in tenantsList.rows" class="entryBox">
			<div class="header">
				{{row['name']}}<span>[ {{row['code']}} ]</span>
			</div>
			<div class="body">
				<div class="description">{{row['description']}}</div>
				<br/>
				<tabset>
					<tab heading="Manage Applications" ng-click="">
						<br/>
						<a class="btn btn-sm btn-primary" href="" ng-click="addTenantApplication(row['_id'])">Add New Application</a>

						<label ng-show="row.applications.length > 0">Available Applications:</label>
						<ul class="blueListing">
							<li class="blueLi" ng-repeat="application in row.applications" class="row-list">
								<a ng-click="openKeys(row['_id'], application)" href="" ng-hide="application.showKeys">
									<span class="icon icon-plus" tooltip="Expand Applications"></span>
								</a>
								<a ng-click="closeKeys(row['_id'], application)" href="" ng-show="application.showKeys">
									<span class="icon icon-minus" tooltip="Collapse Applications"></span>
								</a>

								[{{application['package']}}]  &nbsp; <span title="TTL">( {{application['_TTL'] | TTL}} hours )</span>
								<span class="rightActions">
									<a href="" ng-confirm-click="Are you sure you want to remove the selected application ?" ng-click="removeTenantApplication(row['_id'], application['appId']);">
										<span class="icon icon-cross" tooltip="Remove Application"></span>
									</a>

									<a href="" ng-click="editTenantApplication(row['_id'], application)">
										<span class="icon icon-pencil2" tooltip="Edit Application"></span>
									</a>

									<!--<a ng-click="browseApplication(row['_id'], application)" href="" style="display:none;">-->
										<!--<img border="0" tooltip="Browse" ng-src="themes/{{$parent.themeToUse}}/img/view.png">-->
									<!--</a>-->
									<!--<a ng-click="viewKeys(row['_id'], application)" href="" style="display:none;">-->
										<!--<img tooltip="Manage Keys" ng-src="themes/{{$parent.themeToUse}}/img/key.png" border="0" alt="View Keys"/>-->
									<!--</a>-->
								</span>

								<div class="appKeys" id="appKeys{{application['appId']}}" ng-show="application.showKeys">
									<em>{{application['description']}}</em>
								
									<div style="clear:both; height:30px; padding-bottom:5px;"> <b>Tenant Application Keys:</b>
										<a style="" href="" class="btn btn-primary btn-sm btn-ssm" ng-click="addNewKey(row['_id'],application['appId'])" tooltip="Add New Application Key">Add key</a>
									</div>
									<div class="keysAccordion">
										<div class="keyAlerts" ng-show="mt.alerts.length >0" id="">
											<alert ng-repeat="alert in mt.alerts" type="{{alert.type}}" class="" close="mt.closeAlert($index)">{{alert.msg}}</alert>
										</div>
										<accordion close-others="true" ng-show="application.keys.length > 0">
											<accordion-group ng-repeat="key in application.keys" ng-click="openSubContent(key.key, $index); toggleOpen();">
												<accordion-heading tooltip="Display Key Information"> <span class="icon icon-key"></span>{{key.key}}
													<a href="" ng-click="removeAppKey(row['_id'], application, key.key, $event)" style="float:right" class="f-right" tooltip="Remove Application Key" ng-confirm-click="Are you sure you want to delete this key ?">
														<span class="icon icon-cross" tooltip="Remove Key"></span>
													</a>
												</accordion-heading>
												<!--<div class="f-right" style="display:none">-->
													<!--<a class="btn btn-danger btn-sm" ng-click="removeAppKey(row['_id'], application, key.key)" href="" ng-confirm-click="Are you sure you want to delete this key?">Delete Application Key</a>-->
												<!--</div>-->
												<tabset>
													<tab heading="Key Environment Configuration" ng-click="listConfiguration(row['_id'], application['appId'], key.key, $index);">
														<br/>
														<div class="entryBoxes entryBoxesGrid" id="keyConfig{{$index}}">
															<br/>
															<div ng-repeat="enCode in availableEnv">
																<div class="entryBox greyBox" ng-class="{ blueBox: key.config[enCode] }">
																	<b>{{enCode}} Environment</b>&nbsp;&nbsp;
																	<a href="" ng-click="updateConfiguration(row['_id'], application['appId'], key.key, enCode, key.config[enCode]);">
																		<span class="icon icon-pencil" tooltip="Edit Service Configuration"></span>
																	</a>
																	<a tooltip="Empty" ng-show="key.config[enCode]" href="" ng-click="emptyConfiguration(row['_id'], application['appId'], key.key, enCode );">
																		<span class="icon icon-bin" tooltip="Empty Service Configuration"></span>
																	</a>
																</div>
															</div>
															<br />
															<!--<div style="display:none" ng-repeat="(env, value) in key.config" class="entryBox blueBox">-->
																<!--<b>{{env}} Environment</b>&nbsp;&nbsp;-->
																<!--<a href="" ng-click="updateConfiguration(row['_id'], application['appId'], key.key, env, value);">-->
																	<!--<img ng-src="themes/{{$parent.themeToUse}}/img/edit.png" border="0" alt="Edit"/>-->
																<!--</a>-->
																<!--<a href="" ng-click="emptyConfiguration(row['_id'], application['appId'], key.key, env, value);">-->
																	<!--<img ng-src="themes/{{$parent.themeToUse}}/img/trash.png" border="0" alt="Empty"/>-->
																<!--</a>-->
															<!--</div>-->
														</div>
													</tab>
													<tab heading="External Keys" ng-click="">
														<br/>
														<button ng-click="addNewExtKey(row['_id'], application['appId'], key.key)" class="btn btn-primary btn-sm">Add New Application External Key</button>
														<br/>
														<div class="small-text" id="externalKeys{{$index}}">
															<ul style="display:none;">
																<li ng-repeat="extnlKey in key.extKeys">
																	<span style="word-break: break-all;">{{extnlKey.extKey|trimmed100}}</span>
																</li>
															</ul>
															<nglist></nglist>
															<div class="grid externalKeysGrid" ng-show="key.extKeys.length>0">
																<table cellspacing="0" cellpadding="0" border="0" width="100%" class="">
																	<tbody>
																		<tr>
																			<th colspan="2"></th>
																			<th> External Key</th>
																			<th class="ng-scope"> Expiry Date </th>
																		</tr>
																		<tr ng-repeat="extnlKey in key.extKeys" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:row.selected}" class="odd first last">

																			<td class="leftAction">
																				<a ng-click="editExtKey(row['_id'], application['appId'], extnlKey, key.key)" href="">
																					<span class="icon icon-pencil2" tooltip="Edit External Key"></span>
																			</td>
																			<td class="leftAction">
																				<a ng-click="removeExtKey(row['_id'], application['appId'], extnlKey, key.key)" ng-confirm-click="Are you sure you want to remove this external key?" href="">
																					<span class="icon icon-cross" tooltip="Remove External Key"></span>
																				</a>
																			</td>
																			<td> {{extnlKey.extKey}}</td>
																			<td> {{extnlKey.expDate|date}}</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</tab>
												</tabset>
											</accordion-group>
										</accordion>
									</div>
								</div>
							</li>
						</ul>
					</tab>
					<tab heading="oAuth Users" ng-click="listOauthUsers(row, $index)">
						<br/>
						<a class="btn btn-sm btn-primary" ng-click="addOauthUser(row['_id'])">Add oAuth User</a>
						<div class="" id="oUsers{{$index}}">
							<label ng-show="row.oAuthUsers.length > 0">Tenant oAuth Users:</label>
							<ul class="blueListing listoUsers">
								<li class="blueLi" ng-repeat="user in row.oAuthUsers" class="row-list">
									<b>{{user['userId']}}</b>&nbsp;
						  			<span class="rightActions">
										<a href="" ng-confirm-click="Are you sure you want to remove this user ?" ng-click="removeTenantOauthUser(row['_id'], user);">
											<span class="icon icon-cross" tooltip="Remove oAuth User"></span>
										</a>&nbsp;
										<a href="" ng-click="editTenantOauthUser(row['_id'], user)">
											<span class="icon icon-pencil2" tooltip="Edit oAuth User"></span>
										</a>
									</span>
								</li>
							</ul>
						</div>
					</tab>
				</tabset>
				<div class="entryAction">
					<a href="" ng-click="tenantsList.actions.editTenant.command(row);">
						<span class="icon icon-pencil2" tooltip="Edit Tenant"></span>
						<!--<img ng-src="themes/{{$parent.themeToUse}}/img/edit.png" border="0" alt="Edit Tenant"/>-->
					</a>&nbsp;

					<!--<a tooltip="Edit oAuth" href="" ng-click="tenantsList.actions.editoAuth.command(row);">-->
						<!--<img ng-src="themes/{{$parent.themeToUse}}/img/lock-14.png" border="0" alt="Edit oAuth"/>-->
					<!--</a>&nbsp;-->
					<a href="" ng-confirm-click="{{tenantsList.actions.delete.commandMsg}}" ng-click="tenantsList.actions.delete.command(row);">
						<span class="icon icon-cross" tooltip="Remove Tenant"></span>
						<!--<img ng-src="themes/{{$parent.themeToUse}}/img/remove.png" border="0" alt="Remove"/>-->
					</a>
				</div>
			</div>
		</div>
	</div>
</section>