<section ng-controller="dahsboardCtrl">
    <h3>Environments</h3>

	<div ng-controller="environmentsCtrl">
        <nglist></nglist>
    </div>
    
    <hr/>
    <h3>Productization</h3>

	
	<div ng-controller="productsCtrl" >
        <nglist></nglist>
    </div>
    

    <hr/>
    <h3>Multy-Tenancy</h3>

    <div ng-controller="tenantsCtrl" >
        
        <nglist></nglist>
    </div>
    
    <hr/>
</section>
	
    