<section class="helpPage">
    <h3>Help Section</h3>
    <hr />
    <p>
    </p>
    <tabset>
        <tab heading="Members">
            <p>
                The <b>Members</b> section is linked to the URAC service. In this section you can manage your members and groups.
                You can see the list of registered members, add a new member and edit an existing member.
                You can also see the list of existing groups, edit a group or create a new one, and assign members to these groups.
            </p>
        </tab>
        <tab heading="Environments">
            <p>
                In the <b>Environments</b> section, you can view the list of all your available environments and manage them.
                For each environment you can view:
            <ul>
                <li>
                    The service configuration
                </li>
                <li>The database configuration</li>
                <li>
                    The mongo clusters
                </li>
                <li>
                    The services hosts. You can monitor all your hosts Ip and perform heartbeat and awareness checks to check the health of your services.
                </li>
            </ul>
            </p>
        </tab>
        <tab heading="Services">
            <p>
                The <b>Services</b> section provides a list of all the registered services with their respective apis.
            </p>

        </tab>
        <tab heading="Productization">
            <p>
                The <b>Productization</b> section gives you the ability to manage your products.
                You can create new products and packages and assign the ACL of each package.
            </p>

        </tab>
        <tab heading="Multi-Tenancy">

        </tab>


    </tabset>
</section>