<div class="body listApis" ng-class="{openApis: aclFill[oneEnv.code][service.name].include===true && aclFill[oneEnv.code][service.name].collapse===false }">
	<div>
        <span>
            <input ng-click="applyRestriction(oneEnv.code, service)" type="checkbox" name="apisRestrictPermission_{{service.name}}" ng-model="aclFill[oneEnv.code][service.name].apisRestrictPermission" ng-checked="aclFill[oneEnv.code][service.name].apisRestrictPermission===true" value="restricted"/>
        </span>
		<span><b>{{translation.restrictAccessSelectedApis[LANG]}}</b></span>
		<fieldset ng-repeat="(grp, val) in service.fixList">
			<legend>{{grp}}</legend>
			<span ng-show="aclFill[oneEnv.code][service.name].apisRestrictPermission">
				<a href="" ng-click="selectAll(service,oneEnv.code, grp)">Select all</a> |
				<a href="" ng-click="removeAll(service,oneEnv.code, grp)">Remove all</a>
			</span>
			<div ng-if="val.apisRest">
				<fieldset ng-repeat="(method, apisList) in val.apisRest">
					<legend class="perMethod">{{method}}</legend>
					<div class="apiListing-container">
						<div class="clearfix apiListing" ng-repeat="my1Api in apisList" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}" style="">
							<div class="apiLabel">
								<input id="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{method}}_{{$index}}" ng-model="aclFill[oneEnv.code][service.name][method].apis[my1Api.v].include" ng-click="checkForGroupDefault(oneEnv.code,service,grp,val,my1Api)" ng-disabled="(val.defaultApi && my1Api.groupMain!==true && val.defaultIncluded===false)" type="checkbox" value="true" ng-show="aclFill[oneEnv.code][service.name].apisRestrictPermission"/>
								<label for="{{oneEnv.code}}_{{service.name}}_{{grp}}_{{method}}_{{$index}}">{{my1Api.l}}</label>
							</div>
							<div class="apiAccess" ng-hide="(aclFill[oneEnv.code][service.name].apisRestrictPermission && (aclFill[oneEnv.code][service.name][method].apis[my1Api.v].include!==true))">
								<div class="f-left">
									<span style="padding-left: 0px;">
			                            <input ng-model="aclFill[oneEnv.code][service.name][method].apis[my1Api.v].accessType" value="clear" type="radio"/>
			                            <em style="">{{translation.InheritFromService[LANG]}}</em>
			                        </span>
			                        <span>
			                            <input ng-model="aclFill[oneEnv.code][service.name][method].apis[my1Api.v].accessType" value="public" type="radio"/>
				                        {{translation.public[LANG]}}
			                        </span>
			                        <span>
			                            <input ng-model="aclFill[oneEnv.code][service.name][method].apis[my1Api.v].accessType" value="private" type="radio"/>
				                        {{translation.private[LANG]}}
			                        </span>
								</div>

							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<div ng-if="!val.apisRest" class="apiListing-container clearfix">
				<div class="apiListing clearfix" ng-repeat="myApis in val.apis| orderBy:'groupMain'" ng-class-even="'even'" ng-class-odd="'odd'"
				     ng-class="{'first': $first, 'last': $last, selected:api.selected}" style="">
					<div class="apiLabel">
						<input id="{{oneEnv.code}}_{{service.name}}_{{$index}}" ng-click="checkForGroupDefault(oneEnv.code,service,grp,val,myApis)" ng-disabled="(val.defaultApi && myApis.groupMain!==true && (aclFill[oneEnv.code][service.name].apis[val.defaultApi].include!==true))" type="checkbox" value="true" ng-model="aclFill[oneEnv.code][service.name].apis[myApis.v].include" ng-show="aclFill[oneEnv.code][service.name].apisRestrictPermission"/>
						{{myApis.l}}
					</div>
					<div class="apiAccess" ng-hide="(aclFill[oneEnv.code][service.name].apisRestrictPermission && (aclFill[oneEnv.code][service.name].apis[myApis.v].include!==true))">
						<div class="f-left">
						<span style="padding-left: 0px;">
                            <input ng-model="aclFill[oneEnv.code][service.name].apis[myApis.v].accessType" value="clear" type="radio"/>
                            <em>{{translation.InheritFromService[LANG]}}</em>
                        </span>
                        <span>
                            <input ng-model="aclFill[oneEnv.code][service.name].apis[myApis.v].accessType" value="public" type="radio"/> {{translation.public[LANG]}}
                        </span>
                        <span>
                            <input ng-model="aclFill[oneEnv.code][service.name].apis[myApis.v].accessType" value="private" type="radio"/> {{translation.private[LANG]}}
                        </span>

						</div>

					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>