<div class="serviceName">
	<input type="checkbox" ng-checked="aclFill[oneEnv.code][service.name].include===true" ng-model="aclFill[oneEnv.code][service.name].include" value="{{service.name}}" ng-click="selectService(oneEnv.code, service)"/>
	<b> <a href="">{{service.name}} </a></b>
</div>
<div ng-show="aclFill[oneEnv.code][service.name].include" style="float: left;">
	<div class="f-left">
	    <span style="padding-left: 15px;">
        <input ng-model="aclFill[oneEnv.code][service.name].accessType" value="public" type="radio"/> {{translation.public[LANG]}}
        </span>
	    <span style="padding-left: 40px;">
	        <input ng-model="aclFill[oneEnv.code][service.name].accessType" value="private" type="radio"/> {{translation.private[LANG]}}
	    </span>
	    <span style="padding-left: 40px;">
	        <input type="radio" ng-model="aclFill[oneEnv.code][service.name].accessType" value="groups"/> {{translation.groups[LANG]}}
	    </span>
	</div>

	<div class="grpsListingScroll smallGrpsListingScroll" ng-show="aclFill[oneEnv.code][service.name].accessType==='groups'">
		<ul class="grpsListing">
			<li class="oddLi">
				<input type="checkbox" ng-model="aclFill[oneEnv.code][service.name].grpCodes.owner" value="owner">
				Owner
			</li>
			<li>
				<input type="checkbox" ng-model="aclFill[oneEnv.code][service.name].grpCodes.administrator" value="administrator">
				Administrator
			</li>
		</ul>
	</div>
</div>
<div style="float:right;" ng-show="aclFill[oneEnv.code][service.name].include">
	<a href="" ng-click="minimize(oneEnv.code, service)" ng-show="aclFill[oneEnv.code][service.name].collapse===false">
		<span class="icon icon-minus" tooltip="{{translation.minimize[LANG]}}"></span>
	</a>
	<a href="" ng-click="expand(oneEnv.code, service)" ng-show="aclFill[oneEnv.code][service.name].collapse===true">
		<span class="icon icon-plus" tooltip="{{translation.expand[LANG]}}"></span>
	</a>
</div>