<div class="serviceName">
	<input type="checkbox" ng-model="aclFill[oneEnv.code][service.name].include" value="{{service.name}}" ng-click="selectService(oneEnv.code, service)"/>
	<b> <a href="">{{service.name}} </a></b>
</div>
<div ng-show="aclFill[oneEnv.code][service.name].include" style="float: left;">
	<div class="f-left">
	    <span style="padding-left: 15px;">
        <input id="{{oneEnv.code}}_{{service.name}}_public" ng-model="aclFill[oneEnv.code][service.name].accessType" value="public" type="radio"/>
		    <label for="{{oneEnv.code}}_{{service.name}}_public">{{translation.public[LANG]}}</label>
        </span>
	    <span style="padding-left: 40px;">
	        <input id="{{oneEnv.code}}_{{service.name}}_private" ng-model="aclFill[oneEnv.code][service.name].accessType" value="private" type="radio"/>
		    <label for="{{oneEnv.code}}_{{service.name}}_private">{{translation.private[LANG]}}</label>
	    </span>
	</div>
</div>
<div style="float:right;" ng-show="aclFill[oneEnv.code][service.name].include">
	<a href="" ng-click="minimize(oneEnv.code, service)" ng-show="aclFill[oneEnv.code][service.name].collapse===false">
		<span class="icon icon-minus" tooltip="{{translation.minimize[LANG]}}"></span>
	</a>
	<a href="" ng-click="expand(oneEnv.code, service)" ng-show="aclFill[oneEnv.code][service.name].collapse===true">
		<span class="icon icon-plus" tooltip="{{translation.expand[LANG]}}"></span>
	</a>
</div>