<div>
    <span ng-if="access.adminUser.addUser">
        <a href="" ng-click="addMember()" class="btn btn-primary noFloat">Add New Member</a><br/><br/>
    </span>

    <nglist>
    </nglist>
</div>

