<section>
    <div class='form' ng-controller="memberAclCtrl as formCtrl">
        <form novalidate="" class="css-form ng-pristine" name="">
            <div class="header"><h3 class="">Update ACL of {{user.username}}</h3></div>
            <div class="body">
                <div id="application-ApiList" class="entryServiceBoxes">
                    <div ng-repeat="application in tenantApp.applications">
                        <label>{{application.package}}:</label> {{application.description}}<br/>
                        <div class="clearfix service-container" ng-repeat="service in application.services">
                            <div class="clearfix serviceNameHead">
                                <div ng-include="'modules/members/directives/service-name.tmpl'"></div>
                            </div>
                            <div ng-include="'modules/members/directives/acl-permission.tmpl'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer"><br/>
                <input ng-confirm-click="Are you sure you want to clear the ACL of this user?" type="reset" class="btn btn-sm btn-danger" ng-click="clearUserAcl()" value="Empty ACL"/>
                <input type="submit" class="btn btn-sm btn-primary" ng-click="saveUserAcl()" value="Save ACL"/>
            </div>
        </form>
    </div>
</section>
