<div ng-controller="mainMembersCtrl as mainCtrl">
    <tabset id="membersSection">
        <tab heading="Members">
            <section ng-controller="membersCtrl as gridCtrl" class="membersCtrl">
                <span ng-if="members.access.adminUser.addUser">
                    <a href="" ng-click="members.addMember()" class="btn btn-primary">Add New Member</a><br/><br/>
                </span>
                <nglist></nglist>
            </section>
        </tab>
        <tab ng-show="access.adminGroup.list" heading="Groups">
            <section ng-controller="groupsCtrl as gridCtrl">
                <span ng-if="groups.access.adminGroup.add">
                    <a href="" ng-click="groups.addGroup()" class="btn btn-primary">Add New Group</a><br/><br/>
                </span>
                <nglist></nglist>
            </section>
        </tab>
        <tab heading="Tenants" ng-if="access.adminAll">
            <section ng-controller="tenantsCtrl">
                <div class="entryBoxes">
                    <div ng-repeat="row in tenantsList" class="entryBox" ng-if="row.locked!==true">
                        <div class="header">
                            {{row['name']}}<span>[ {{row['code']}} ]</span>
                        </div>
                        <div class="body">
                            <tabset id="tenantsMembers">
                                <tab heading="Members">
                                    <br/>
                                    <div ng-controller="tenantMembersCtrl" >
                                        <span ng-if="tenantMembers.access.adminUser.addUser" ng-init="tenantMembers.initialize(row)">
                                            <a href="" ng-click="tenantMembers.addMember()" class="btn btn-primary noFloat">Add New Member</a><br/><br/>
                                        </span>
                                        <nglist></nglist>
                                    </div>
                                </tab>
                                <tab heading="Groups">
                                    <br/>
                                    <div ng-controller="tenantGroupsCtrl">
                                        <span ng-if="tenantGroups.access.adminGroup.add" ng-init="tenantGroups.initialize(row)">
                                            <a href="" ng-click="tenantGroups.addGroup()" class="btn btn-primary noFloat">Add New Group</a><br/><br/>
                                        </span>
                                        <nglist></nglist>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </section>
        </tab>
    </tabset>
</div>