#driverConfiguration table tr[class^="form-group tr-host"],
#driverConfiguration table tr[class^="form-group tr-port"]{
    float:left;
    width:48%;
    margin-right:1%;
}

#driverConfiguration table tr[class^="form-group tr-username"]{
    float:left;
    width:48%;
    margin-right:2%;
}

#driverConfiguration table tr[class^="form-group tr-apiKey"]{
    float:left;
    width:48%;
}

#driverConfiguration table tr[class^="form-group tr-username"] td,
#driverConfiguration table tr[class^="form-group tr-apiKey"] td,
#driverConfiguration table tr[class^="form-group tr-host"] td,
#driverConfiguration table tr[class^="form-group tr-port"] td{
    width:100%;
    display:table;
}