#schemaCode{
    min-height:700px;
    height:auto;
}

.w49{
    width:49%;
}
.w2{
    width:2%;
}

.mr5{
    margin-right: 5px;
}

.swaggerEditor .table{
    margin-bottom: 0px;
}

.swaggerEditor hr{
    margin-top:10px;
}

.dbsList tr {
    float: left;
    width: 32%;
    margin-bottom: 0px;
}

.dbsList tr[class^="form-group tr-multitenant"] {
    width: 15%;
}

.dbsList tr[class^="form-group tr-model"] {
    width: 15%;
}

.dbsList tr td {
    display: block;
    width: 95%;
}

.dbsList tr[class^="form-group tr-removeDb"] {
    width: 6%;
    text-align: right;
    padding-top: 45px;
}

.dbsList .red {
    color: #a94442;
    cursor: pointer;
}

#provision_ACL-wrapper label,
#urac_ACL-wrapper label,
#urac_Profile-wrapper label,
#urac-wrapper label,
#extKeyRequired-wrapper label,
#oauth-wrapper label,
#session-wrapper label{
    float:left;
    width:115px;
}

#provision_ACL-wrapper ul,
#urac_ACL-wrapper ul,
#urac_Profile-wrapper ul,
#urac-wrapper ul,
#extKeyRequired-wrapper ul,
#oauth-wrapper ul,
#session-wrapper ul{
    list-style-type: none;
    margin: 4px;
    padding: 0;
    float: left;
}

.dbsList ul{
    list-style-type: none;
    margin: 4px;
    padding: 0;
}

.dbsList ul li,
#provision_ACL-wrapper ul li,
#urac_ACL-wrapper ul li,
#urac_Profile-wrapper ul li,
#urac-wrapper ul li,
#extKeyRequired-wrapper ul li,
#oauth-wrapper ul li,
#session-wrapper ul li{
    float:left;
    margin: 10px;
}

#addDb-wrapper{
    float:left;
}

a.tooltipToggle {
    outline: 0;
}

.block{
    display:block;
}
.hidden{
    display:hidden;
}