<section ng-controller="cdAppCtrl">
	<div class="configCd entryBoxes entryBoxesGrid" ng-init="getRecipe()">

		<div ng-show="maxEntries === 0">
			<alert type="info">No Continuous Delivery Strategy is configured in this environment.</alert>
		</div>
		<div ng-show="maxEntries > 0">
			<div class="table c-both w100">
				<a href="" class="btn btn-sm btn-danger f-right" ng-click="pauseRecipe(true)" ng-show="!paused && access.pause">
					<span class="icon icon-pause2"></span> Pause Strategy
				</a>
				<a href="" class="btn btn-sm btn-primary f-right" ng-click="pauseRecipe(false)" ng-show="paused && access.pause">
					<span class="icon icon-play3"></span> Turn On Strategy
				</a>
			</div>
			<div ng-repeat="(oneSrv, cdData) in configuration" class="entryBox customEntryBox">
				<div class="header opened">{{oneSrv}}</div>

				<div class="body">
					<div class="entryAction">
						<a href="" ng-click="cdShowHide(oneSrv)">
							<span class="icon icon-{{cdData.icon || 'plus'}}"></span>
						</a>
					</div>
					<div class="inner" id="cdc_{{oneSrv}}">
						<br/>
						<fieldset ng-if="!cdData.versions">
							<legend class="font-16">Default Strategy</legend>
							<p>
								Define the Continuous Delivery strategy of this repository in this Environment:
							</p>
							<div>
								<div class="halfPage branchLabel">
									<label>Branch:</label>&nbsp;{{cdData.branch}}
								</div>
								<div class="halfPage">
									<label>Strategy:</label>&nbsp;
									<select class="form-control" data-ng-model="cdData.strategy">
										<option value="notify">notify</option>
										<option value="update">update</option>
									</select>
								</div>
								<div class="f-right">
									<input class="btn btn-sm btn-primary f-right" ng-click="saveRecipe(oneSrv)" ng-show="access.save" value="Update Settings" type="submit">
								</div>
							</div>
						</fieldset>

						<table width="100%" border="0" ng-if="cdData.versions">
							<tr ng-repeat="(version, versionInfo) in cdData.versions">
								<td>
									<fieldset>
										<legend class="font-14">
											<label class="version">Version:</label> {{version}}
										</legend>
										<div ng-show="cdData.versions[version]">
											<p>
												Define the Continuous Delivery strategy of this service for this version <b>{{version}}</b> in this Environment:
											</p>
											
											<div ng-show="cdData.type ==='daemon'">
												<div class="c-both w100" ng-repeat="(groupName, versionInfo) in versionInfo">
													<div class="thirdPage  branchLabel">
														<label class="">Daemon Group:</label>&nbsp;{{groupName}}
													</div>
													<div class="thirdPage  branchLabel">
														<label class="">Branch:</label>&nbsp;{{versionInfo.branch}}
													</div>
													<div class="thirdPage ">
														<label class="">Strategy:</label>&nbsp;
														<select class="form-control" data-ng-model="versionInfo.strategy">
															<option value="notify">notify</option>
															<option value="update">update</option>
														</select>
													</div>
												</div>
											</div>
											
											<div ng-show="cdData.type ==='service'">
												<div class="halfPage branchLabel">
													<label class="">Branch:</label>&nbsp;{{versionInfo.branch}}
												</div>
												<div class="halfPage">
													<label class="">Strategy:</label>&nbsp;
													<select class="form-control" data-ng-model="versionInfo.strategy">
														<option value="notify">notify</option>
														<option value="update">update</option>
													</select>
												</div>
											</div>
											
										</div>
										<div class="f-right">
											<input class="btn btn-sm btn-primary f-right" ng-click="saveRecipe(oneSrv, version)" ng-show="access.save" value="Update Settings" type="submit">
										</div>
									</fieldset>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
