<section ng-controller="cdAppCtrl">
	<tabset>
		<tab heading="Configuration" ng-click="getRecipe()">
			<br>
			<ngform></ngform>
		</tab>
		<tab heading="ledger" ng-click="getLedger()">
			<pre>{{cdLedger}}</pre>
		</tab>
	</tabset>
</section>
