<section ng-controller="cdAppCtrl">
	<tabset>
		<tab heading="Updates {{updateCount}}" ng-click="getLedger()">
			<br/>
			<input ng-show="ledger && ledger.length > 0" type="button" class="btn btn-sm btn-primary" ng-confirm-click="Clicking this button means you have read all the ledger entries. Are you sure you want to proceed?" ng-click="readAll()" value="Mark All as Read"/>
			<a href="" class="btn btn-sm btn-primary f-right" ng-click="getLedger()">
				<span class="icon icon-loop2"></span> Refresh
			</a>
			<br /><br />
			<div class="grid" ng-show="ledger && ledger.length > 0">
				<div class="table">
					<div ng-repeat="oneEntry in ledger" ng-class="{'first': $first, 'last': $last, 'notread' : !oneEntry.read, 'updateError': oneEntry.commitError }" ng-class-odd="'odd'" ng-class-even="'even'" class="row w100 c-both">
						<div class="f-left mt-5">
							<a href="" ng-click="readOne(oneEntry)" tooltip="Mark as Read" class="mr-10 readBox">
								<span class="icon icon-drawer2"></span>
							</a>
							<span ng-if="oneEntry.manual">
								<span ng-if="oneEntry.actionTaken === 'redeploy' && !oneEntry.commitError">
									Service was manually restarted for service <b>{{oneEntry.serviceName}}</b><b ng-if="oneEntry.serviceVersion">/Version{{oneEntry.serviceVersion}}</b><b ng-if="oneEntry.daemonGroup">/Group: {{oneEntry.daemonGroup}}</b> in Environment <b>{{oneEntry.env}}</b> on <em>{{oneEntry.ts|fulldate}}</em> by the administrator
								</span>
								<span ng-if="oneEntry.actionTaken === 'deploy'">
									Service was manually deployed for service <b>{{oneEntry.serviceName}}</b><b ng-if="oneEntry.serviceVersion">/Version{{oneEntry.serviceVersion}}</b><b ng-if="oneEntry.daemonGroup">/Group: {{oneEntry.daemonGroup}}</b> in Environment <b>{{oneEntry.env}}</b> on <em>{{oneEntry.ts|fulldate}}</em> by the administrator
								</span>
							</span>
							<span ng-if="!oneEntry.manual">
								<span ng-if="oneEntry.notify">
									New Update Received for service <b>{{oneEntry.serviceName}}</b><b ng-if="oneEntry.serviceVersion">/Version{{oneEntry.serviceVersion}}</b><b ng-if="oneEntry.daemonGroup">/Group: {{oneEntry.daemonGroup}}</b> in Environment <b>{{oneEntry.env}}</b> on <em>{{oneEntry.ts|fulldate}}</em> based on Continuous Delivery Strategy<b ng-if="!oneEntry.serviceIsDeployed && oneEntry.serviceIsDeployed !== undefined"> [Not Deployed]</b>
								</span>
								<span ng-if="oneEntry.update">
									Service <b>{{oneEntry.serviceName}}</b><b ng-if="oneEntry.serviceVersion">/Version{{oneEntry.serviceVersion}}</b><b ng-if="oneEntry.daemonGroup">/Group: {{oneEntry.daemonGroup}}</b> in Environment <b>{{oneEntry.env}}</b> was automatically updated on <em>{{oneEntry.ts|fulldate}}</em> based on Continuous Delivery Strategy
								</span>
								<span ng-if="oneEntry.deploy">
									Service <b>{{oneEntry.serviceName}}</b><b ng-if="oneEntry.serviceVersion">/Version{{oneEntry.serviceVersion}}</b><b ng-if="oneEntry.daemonGroup">/Group: {{oneEntry.daemonGroup}}</b> in Environment <b>{{oneEntry.env}}</b> was automatically deployed on <em>{{oneEntry.ts|fulldate}}</em> based on Continuous Delivery Strategy
								</span>
							</span>
							<span ng-if="oneEntry.commitError">
								Duplicate Update for Service <b>{{oneEntry.serviceName}}</b><b ng-if="oneEntry.serviceVersion">/Version{{oneEntry.serviceVersion}}</b><b ng-if="oneEntry.daemonGroup">/Group: {{oneEntry.daemonGroup}}</b> in Environment <b>{{oneEntry.env}}</b> detected. Updated was ignored at <em>{{oneEntry.ts|fulldate}}</em><br />
								Commit: <b>{{oneEntry.commit}}</b>
							</span>
							<span ng-if="oneEntry.rebuild">
								Service <b>{{oneEntry.serviceName}}</b><b ng-if="oneEntry.serviceVersion">/Version{{oneEntry.serviceVersion}}</b><b ng-if="oneEntry.daemonGroup">/Group: {{oneEntry.daemonGroup}}</b> in Environment <b>{{oneEntry.env}}</b> was manually redeployed on <em>{{oneEntry.ts|fulldate}}</em> by the administrator
							</span>
						</div>
						<div ng-if="oneEntry.notify && !oneEntry.manual && !oneEntry.oldTs" class="f-right">
							<div ng-show="oneEntry.image.prefix === 'soajsorg'">
								<div ng-show="oneEntry.rms">
									<a class="btn btn-sm btn-default" href="{{upgradeSpaceLink}}" target="_blank">Learn More</a>
								</div>
								<div ng-show="!oneEntry.rms">
									<a class="btn btn-sm btn-default" href="" ng-click="updateEntry(oneEntry, 'redeploy');"><span class="icon icon-undo"></span>&nbsp;Restart Service</a>
								</div>
							</div>
							<div ng-show="oneEntry.image.prefix !== 'soajsorg'" class="dropdown serviceOpsDropdown">
								<div ng-if="oneEntry.serviceIsDeployed">
									<a class="btn btn-sm btn-primary" href="" ng-click="updateEntry(oneEntry, 'redeploy');"><span class="icon icon-undo"></span>&nbsp;Restart Service</a>
								</div>
								<div ng-if="!oneEntry.serviceIsDeployed && oneEntry.serviceIsDeployed !== undefined">
									<a class="btn btn-sm btn-primary" href="" ng-click="updateEntry(oneEntry, 'deploy');"><span class="icon icon-box-add"></span>&nbsp;Deploy Service</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="!ledger || ledger.length === 0">
				<alert type="info">
					No Updates available at this moment.
				</alert>
			</div>
		</tab>
		<tab heading="Upgrades {{upgradeCount}}" ng-click="getUpdates()">
			<br/>
			<fieldset ng-show="imageLedger && imageLedger.length > 0">
				<legend>New Image Updates ({{imageLedger.length}})</legend>
				<div class="grid">
					<table width="100%">
						<thead>
							<tr>
								<th width="14%">ID</th>
								<th width="16%">Name</th>
								<th width="20%">Image</th>
								<th width="16%">Update Type</th>
								<th width="20%">Available Last Update</th>
								<th width="14%">Take Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="oneEntry in imageLedger" ng-class="{'first': $first, 'last': $last}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
								<td>{{oneEntry.id}}</td>
								<td>{{oneEntry.name}}</td>
								<td>{{oneEntry.image.prefix}}/{{oneEntry.image.name}}:{{oneEntry.image.tag}}</td>
								<td>
									<span ng-show="oneEntry.image.deployer">New Image Version, Deployer Upgraded</span>
									<span ng-show="oneEntry.image.upgrade">New Image Version, SOAJS Updated</span>
									<span ng-show="oneEntry.image.update">Image Updated</span>
									<span ng-show="oneEntry.image.noimage">Possible Image Update.</span>
								</td>
								<td>
									{{oneEntry.image.ts|fulldate}}
								</td>
								<td>
									<div ng-show="oneEntry.image.prefix === 'soajsorg'">
										<a class="btn btn-default" href="{{upgradeSpaceLink}}" target="_blank">Learn More</a>
									</div>
									<div ng-show="oneEntry.image.prefix !== 'soajsorg'" class="dropdown serviceOpsDropdown">
										<a class="btn btn-default" href="" ng-click="updateEntry(oneEntry, 'rebuild');"><span class="icon icon-loop2"></span>&nbsp;Redeploy Service</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
			</fieldset>
			<fieldset ng-show="catalogLedger && catalogLedger.length > 0">
				<legend>New Catalog Updates ({{catalogLedger.length}})</legend>
				<div class="grid">
					<table width="100%">
						<thead>
							<tr>
								<th width="14%">ID</th>
								<th width="16%">Name</th>
								<th width="20%">Catalog</th>
								<th width="10%">Current Version</th>
								<th width="10%">New Version</th>
								<th width="16%">Catalog Last Update</th>
								<th width="14%">Take Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="oneEntry in catalogLedger" ng-class="{'first': $first, 'last': $last}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
								<td>{{oneEntry.id}}</td>
								<td>{{oneEntry.name}}</td>
								<td>{{oneEntry.catalog.name}}<em>&nbsp;
									({{oneEntry.catalog.type}}<span ng-show="oneEntry.catalog.subtype">/{{oneEntry.catalog.subtype}}</span>)</em>
								</td>
								<td>
									<span ng-show="oneEntry.labels['soajs.catalog.v']">{{oneEntry.labels['soajs.catalog.v']}}</span>
									<span ng-show="!oneEntry.labels['soajs.catalog.v']">N/A</span>
								</td>
								<td>{{oneEntry.catalog.v}}</td>
								<td>{{oneEntry.catalog.ts|fulldate}}</td>
								<td>
									<div ng-show="oneEntry.image.prefix === 'soajsorg'">
										<div ng-show="oneEntry.rms">
											<a class="btn btn-default" href="{{upgradeSpaceLink}}" target="_blank">Learn More</a>
										</div>
										<div ng-show="!oneEntry.rms">
											<a class="btn btn-default" href="" ng-click="updateEntry(oneEntry, 'rebuild');"><span class="icon icon-loop2"></span>&nbsp;Redeploy Service</a>
										</div>
									</div>
									<div ng-show="oneEntry.image.prefix !== 'soajsorg'" class="dropdown serviceOpsDropdown">
										<a class="btn btn-default" href="" ng-click="updateEntry(oneEntry, 'rebuild');"><span class="icon icon-loop2"></span>&nbsp;Redeploy Service</a>
									</div>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
			</fieldset>

			<div ng-show="(!imageLedger || imageLedger.length === 0) && (!catalogLedger || catalogLedger.length === 0)">
				<alert type="info">
					Your services are up to date in this environments.
				</alert>
			</div>
		</tab>
	</tabset>
</section>
