<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div ng-bind-html="data|object"></div>
    <hr/>
    <div ng-if="files" ng-repeat="(fieldName, info) in files">
        <b ng-if="info.info.length > 0">{{fieldName}}</b><br/>
        <ul>
            <li ng-repeat="oneFile in info.info" ng-switch="info.type">
                <div ng-switch-when="document">
                    <a href="" ng-click="downloadFile(oneFile, 'document')" title="Click to Open File">{{oneFile.filename}}</a>
                </div>
                <div ng-switch-when="image">
                    {{oneFile.filename}}
                    <a href="" ng-click="downloadFile(oneFile, 'document')" target="_blank" title="Click to Open Image">
                        <div ng-init="downloadFile(oneFile, 'image')"></div>
                        <img ng-src="{{oneFile.src}}" width="100"/>
                    </a>
                </div>
                <div ng-switch-when="audio">
                    <a href="" ng-click="downloadFile(oneFile, 'document')" target="_blank"
                       title="Click to Download Audio Track">{{oneFile.filename}}</a>
                    <div ng-init="downloadFile(oneFile, 'audio')" id="aud_{{oneFile.id}}" ng-bind-html="oneFile.print | toTrustedHtml"></div>
                </div>
                <div ng-switch-when="video">
                    <a href="" ng-click="downloadFile(oneFile, 'document')" target="_blank"
                       title="Click to Download Video">{{oneFile.filename}}</a>
                    <div ng-init="downloadFile(oneFile, 'video')" id="vid_{{oneFile.id}}" ng-bind-html="oneFile.print | toTrustedHtml"></div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <p>
            <b>Author:</b>&nbsp;{{author}}<br/>
            <b>Created On:</b>&nbsp;{{created|date}}<br/>
            <span ng-if="modified"><b>Last Modified:</b>&nbsp;{{modified|date}}<br/></span>
        </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>