.recipe-box {
    width: 24% !important;
    float: left !important;
    margin-right: 1% !important;
    height: 200px !important;
}

.catalogIcon {
    margin-top: 5% !important;
}

.blueRecipeBox{
    border: solid 1px #337ab7 !important;
}

.blueBoxHeader{
    background-color: #DEF1F7 !important;
    border-bottom-color:#337ab7 !important;
}