.recipe-box {
    width: 32% !important;
    float: left !important;
    margin-right: 1% !important;
    text-align: left;
    min-height: 120px;
}

.recipe-box label {
    margin-bottom: 0;
}

.catalogIcon {
    margin: 1% !important;
    float: left;
}

.blueRecipeBox {
    border: solid 1px #337ab7 !important;
}

.blueBoxHeader {
    background-color: #DEF1F7 !important;
    border-bottom-color: #337ab7 !important;
}

.greenRecipeBox {
    border: solid 1px #3c763d !important;
}

.greenBoxHeader {
    background-color: #dff0d8 !important;
    border-bottom-color: #3c763d !important;
}

.searchBoxContainer {
    margin-right: 2%;
}

#page .catalogAppCtrl div.entryBoxes div.entryBox, .entryOneBox {
    height: 116px;
}

#page .catalogAppCtrl div.entryBoxes div.entryBox, .entryOneBox .body {

}

fieldset h4:not(alert h4){
    background-color:#dff0d8 !important;
    /*color:white;*/
}

fieldset pre{
    background-color:white;
    /*color: rgb(49, 132, 149);*/
}

.catalogRecipeForm h2{
    background-color:#d9edf7;
    color:#31708f;
    border-color: #bce8f1;
    padding:15px;
    margin-top:10px;
    border-radius: 5px;
}

.catalogRecipeForm table tr td{
    width: 98% !important;
    display: block;
    margin-right: 2%;
}

.catalogRecipeForm .tr-imagePrefix-wrapper,
.catalogRecipeForm .tr-imageName-wrapper,
.catalogRecipeForm .tr-imageTag-wrapper{
    float:left;
    width:33%;
}

.catalogRecipeForm tr[class^="form-group tr-labelGroup"],
.catalogRecipeForm tr[class^="form-group tr-volumeGroup"]{
    position:relative;
}

.catalogRecipeForm tr[class^="form-group tr-rLabel"]{
    color:#a94442;
    float:right;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor:pointer;
}

.catalogRecipeForm tr[class^="form-group tr-rVolume"]{
    color:#a94442;
    float:right;
    position: absolute;
    right: 20px;
    cursor:pointer;
}

.catalogRecipeForm tr[class^="form-group tr-envVarRemove"],
.catalogRecipeForm tr[class^="form-group tr-rPort"]{
    color:#a94442;
    float:right;
    position: absolute;
    right: 60px;
    cursor:pointer;
}

.catalogRecipeForm tr[class^="form-group tr-label"],
.catalogRecipeForm tr[class^="form-group tr-userInputVar"],
.catalogRecipeForm tr[class^="form-group tr-staticVar"],
.catalogRecipeForm tr[class^="form-group tr-computedVar"],
.catalogRecipeForm tr[class^="form-group tr-volume"],
.catalogRecipeForm tr[class^="form-group tr-port"]{
    float: left;
    width: 100%;
}

.catalogRecipeForm tr[class^="form-group tr-userInputVar"] td,
.catalogRecipeForm tr[class^="form-group tr-staticVar"] td,
.catalogRecipeForm tr[class^="form-group tr-computedVar"] td,
.catalogRecipeForm tr[class^="form-group tr-port"] td{
    width:99% !important;
}

.catalogRecipeForm tr[class^="form-group tr-labelName"],
.catalogRecipeForm tr[class^="form-group tr-labelValue"],
.catalogRecipeForm tr[class^="form-group tr-envVarName"],
.catalogRecipeForm tr[class^="form-group tr-envVarType"],
.catalogRecipeForm tr[class^="form-group tr-volumeGroup"],
.catalogRecipeForm .tr-workingDir-wrapper,
.catalogRecipeForm .tr-network-wrapper,
.catalogRecipeForm .tr-maxAttempts-wrapper,
.catalogRecipeForm .tr-condition-wrapper,
.catalogRecipeForm .tr-imagePullPolicy-wrapper,
.catalogRecipeForm .tr-imageOverride-wrapper{
    float:left;
    width:50%;
}

.form .modal-header{
    background-color: #5BC0DE;
    color: white;
}

.ace_text-input {position:absolute!important}
