.recipe-box {
    width: 32% !important;
    float: left !important;
    margin-right: 1% !important;
    text-align: left;
    min-height: 120px;
}

.recipe-box label {
    margin-bottom: 0;
}

.catalogIcon {
    margin: 1% !important;
    float: left;
}

.blueRecipeBox {
    border: solid 1px #337ab7 !important;
}

.blueBoxHeader {
    background-color: #DEF1F7 !important;
    border-bottom-color: #337ab7 !important;
}

.greenRecipeBox {
    border: solid 1px #3c763d !important;
}

.greenBoxHeader {
    background-color: #dff0d8 !important;
    border-bottom-color: #3c763d !important;
}

.searchBoxContainer {
    margin-right: 2%;
}

#page .catalogAppCtrl div.entryBoxes div.entryBox, .entryOneBox {
    height: 116px;
}

#page .catalogAppCtrl div.entryBoxes div.entryBox, .entryOneBox .body {

}