#jobs tr{
    float:left;
}

#jobs tr td{
    display:table;
    width:100%;
}

#jobs tr[class^="form-group tr-job"]{
    width:96%;
}

#jobs tr[class^="form-group tr-removeJob"]{
    width:4%;
    margin-top: 22px;
    padding-left: 15px;
}

.text-field-align-right {
    float: right !important;
    width: 250px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.externalKeysGrid .actions {
    min-width: 6%;
    width: 6%;
}

.externalKeysGrid .name {
    width: 20%;
}

.externalKeysGrid .package {
    min-width: 12%;
    width: 12%;
}

.externalKeysGrid .description {
    min-width: 58%;
    width: 58%;
}

.externalKeysGrid .extKeyEnv {
    min-width: 5%;
    width: 5%;
}

.form-group .order-text {
    width: 25px !important;
    height: 25px !important;
    padding: 1px 2px !important;
    display: initial !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}
