fieldset.serviceAPIs tr td input[type='text'] {
    width: 90%;
}

fieldset.serviceAPIs #apiMain-wrapper ul {
    padding: 0;
}
fieldset.serviceAPIs #apiMain-wrapper ul li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

fieldset.serviceAPIs #apiMain-wrapper ul li input {
    margin-right: 5px;
}

fieldset.serviceAPIs table tr {
    float: left;
    width: 24%;
    height: 90px;
    border-bottom: solid 1px #ccc;
}

fieldset.serviceAPIs table tr td {
    width: 100%;
    display: block;
}

fieldset.serviceAPIs table tr[class^="form-group tr-removeAPI"] {
    width: 4%;
}

.red {
    border-color: #ebccd1;
    color: #a94442;
    cursor: pointer;
}

.helpPage .tab-content {
    line-height: 1.9em;
}

.helpPage .tab-content p {
    margin-top: 5px;
}

.w49{
  width:49%;
}
.w2{
    width:2%;
}

.block{
    display:block;
}

.hidden{
    display:none;
}

.ace_editor{
    height: 600px;
}

.table{
    margin-bottom: 0;
}

hr{
    margin-top:0px;
}

.table a{
    outline: 0;
    text-underline: none;
}

.c85{
    width: 8.5cm;
}

.blueAccordion{
    border: solid 1px #337ab7;
}

.blueAccordion .panel-heading{
    background: #DEF1F7;
}

.blueAccordion .panel-body{
    border-top-color: #337ab7 !important;
}

.greenAccordion{
    border-color: #3c763d !important;
}

.greenAccordion .panel-heading{
    background-color: #dff0d8 !important;
}

.greenAccordion .panel-body{
    border-top-color: #337ab7 !important;
}

.blueAccordion .panel-heading a:focus,
.greenAccordion .panel-heading a:focus{
    outline:0;
    text-decoration:none;
}