<section ng-controller="envirEditCtrl">
    <div class="form">
        <form novalidate="" class="css-form ng-pristine ng-valid ng-valid-required" name="envirForm">
            <div class="header"><h3 class="ng-binding"><span ng-if="isEdit">Edit</span><span ng-if="isAdd">Create</span> Environment</h3></div>
            <div class="body">
                <a href="#/environments" class="w100 f-right t-right">Go Back to Environments</a>

                <div class="header-msg"></div>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr class="form-group">
                            <td class="">
                                <label>Code</label>
                                <input type="text" ng-required="true" tooltip="Enter Environment Code; maximum 5 characters."
                                       placeholder="DEV..." ng-model="formEnvironment.code" class="form-control" ng-disabled="isEdit"/>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td class="">
                                <label>Description</label>
								<textarea tooltip="Enter a description explaining the usage of this environment"
                                          placeholder="Development Environment, used by developers and does not reach production server..." ng-model="formEnvironment.description" class="form-control">
								</textarea>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td class="">
                                <h3>Controller</h3>

                                <div class="grouped">
                                    <label><span class="icon icon-arrow-right2"></span> Max Pool Size</label>
                                    <input type="number" ng-required="true" tooltip=""
                                           placeholder="" ng-model="formEnvironment.services.controller.maxPoolSize" class="form-control"/>
                                    <em>Specify the controller's maximum pool size, maximum value allowed is 100.</em>
                                    <br/>
                                    <label><span class="icon icon-arrow-right2"></span> Authorization</label>

                                    <input name="controller_authorization" type="radio" ng-checked="formEnvironment.services.controller.authorization==true" ng-model="formEnvironment.services.controller.authorization" data-ng-value="true"/>
                                    True
                                    <input name="controller_authorization" type="radio" ng-model="formEnvironment.services.controller.authorization" data-ng-value="false"/> False
                                    <br/>
                                    <em>Specify if the controller requires authorization</em><br />
                                    <label><span class="icon icon-arrow-right2"></span> Request Timeout</label>
                                    <input type="number" ng-required="true"
                                           placeholder="" ng-model="formEnvironment.services.controller.requestTimeout" class="form-control"/>
                                    <em>Specify the controller maximum timeout limit in seconds, between 30 and 90 seconds</em>
                                    <br/>
                                    <label><span class="icon icon-arrow-right2"></span> Request Timeout Renewal</label>
                                    <input type="number" tooltip="" ng-required="true"
                                           placeholder="" ng-model="formEnvironment.services.controller.requestTimeoutRenewal" class="form-control"/>
                                    <em>Specify the controller timeout renewal count, 0 for unlimited</em>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td class=""><br/>
                                <h3>Service Config</h3>

                                <div class="grouped">
                                    <h4>Awareness</h4>
                                    <div class="grouped">
                                        <label><span class="icon icon-arrow-right2"></span> Health Check Interval </label>
                                        <input type="number" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.awareness.healthCheckInterval" class="form-control"/>
                                        <em>Specify the amount of time in milliseconds between health check operations, minimum 5000.</em>
                                        <br/>
                                        <label><span class="icon icon-arrow-right2"></span> Auto Reload Registry </label>
                                        <input type="number" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.awareness.autoRelaodRegistry" class="form-control"/>
                                        <em>Specify the amount of time in milliseconds to auto reload the registry, minimum 60000.</em>
                                        <br/>
                                        <label><span class="icon icon-arrow-right2"></span> Max Log Count </label>
                                        <input type="number" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.awareness.maxLogCount" class="form-control"/>
                                        <em>Specify the maximum number to display awareness warning logs for each service before stopping, maximum 20.</em>
                                        <br/>
                                        <label><span class="icon icon-arrow-right2"></span> Auto Register Service </label>
                                        <input ng-required="true" name="autoRegisterService" type="radio" ng-model="formEnvironment.services.config.awareness.autoRegisterService" data-ng-value="true"/> True
                                        <input ng-required="true" name="autoRegisterService" type="radio" ng-model="formEnvironment.services.config.awareness.autoRegisterService" data-ng-value="false"/> False
                                        <br /><em>Specify if services should auto register or not.</em>
                                    </div>
                                    <h4>Key</h4>
                                    <div class="grouped">
                                        <label><span class="icon icon-arrow-right2"></span> Algorithm </label>
                                        <input ng-disabled="isEdit" type="text" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.key.algorithm" class="form-control"/><br/>
                                        <label><span class="icon icon-arrow-right2"></span> Password </label>
                                        <input ng-disabled="isEdit" type="text" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.key.password" class="form-control"/>
                                        <em>Specify the algorithm to use and a password (minimum 5 characters) to encrypt tenant keys. More info on <a href="https://github.com/Gozala/crypto" target="_blank">Crypto</a></em>
                                    </div>

                                    <h4>Logger</h4>
                                    <div class="grouped clearfix" style="vertical-align: top">
                                        <label><span class="icon icon-arrow-right2"></span> Configuration</label>
                                        <textarea ng-required="true" placeholder="{'src': true, 'level': 'debug'}" rows="4" ng-model="config_loggerObj" class="form-control"></textarea><br/>
                                        <em>Specify the logger configuration to use. More info on <a href="https://github.com/trentm/node-bunyan" target="_blank">Bunyan</a></em>
                                    </div>
                                    <h4>Cors</h4>
                                    <div class="grouped">
                                        <label><span class="icon icon-arrow-right2"></span> Enabled </label>
                                        <input ng-required="true" name="cors.enabled" type="radio" ng-model="formEnvironment.services.config.cors.enabled" data-ng-value="true"/> True
                                        <input ng-required="true" name="cors.enabled" type="radio" ng-model="formEnvironment.services.config.cors.enabled" data-ng-value="false"/> False
                                        <br/><em>Specify if CORS should be enabled</em><br />
                                        <label><span class="icon icon-arrow-right2"></span> Origin </label>
                                        <input type="text" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.cors.origin"
                                               class="form-control"/>
                                        <em>Specify the origin that CORS should support</em>
                                        <br/>
                                        <label><span class="icon icon-arrow-right2"></span> Credentials </label>
                                        <input ng-required="true" name="cors.credentials" type="radio" ng-model="formEnvironment.services.config.cors.credentials" value="true"/> True
                                        <input ng-required="true" name="cors.credentials" type="radio" ng-model="formEnvironment.services.config.cors.credentials" value="false"/> False
                                        <br/><em>Specify if CORS should should support credentials in requests</em><br />
                                        <label><span class="icon icon-arrow-right2"></span> Methods </label>
                                        <input type="text" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.cors.methods"
                                               class="form-control"/>
                                        <em>Enter the methods that CORS should support</em>
                                        <br/>
                                        <label><span class="icon icon-arrow-right2"></span> Headers </label>
                                        <input type="text" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.cors.headers"
                                               class="form-control"/>
                                        <em>Enter header values that CORS should support </em>
                                        <br/>
                                        <label><span class="icon icon-arrow-right2"></span> Maxage </label>
                                        <input type="number" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.cors.maxage"
                                               class="form-control"/>
                                        <em>Specify the maximum age value in milliseconds for how long CORS should cache the response</em>
                                    </div>
                                    <h4>Oauth</h4>
                                    <div class="grouped">
                                        <label><span class="icon icon-arrow-right2"></span> Grants </label>
                                        <input type="text" ng-required="true" tooltip="Enter comma separated values" placeholder="password,refresh_grants"
                                               ng-model="formEnvironment.services.config.oauth.grants"
                                               class="form-control"/><br/>
                                        <label><span class="icon icon-arrow-right2"></span> Debug </label>

                                        <input ng-required="true" name="oauth.debug" type="radio" ng-model="formEnvironment.services.config.oauth.debug" data-ng-value="true"/> True
                                        <input ng-required="true" name="oauth.debug" type="radio" ng-model="formEnvironment.services.config.oauth.debug" data-ng-value="false"/> False
                                        <br/><em>Enter the supported grant types of oAuth and specify if oAuth should run in debug mode.</em>
                                    </div>
                                    <h4>Ports</h4>
                                    <div class="grouped">
                                        <label><span class="icon icon-arrow-right2"></span> Controller </label>
                                        <input type="number" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.ports.controller"
                                               class="form-control"/>
                                        <em>Provide the controller default port</em>
                                        <br/>
                                        <label><span class="icon icon-arrow-right2"></span> MaintenanceInc </label>
                                        <input type="number" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.ports.maintenanceInc"
                                               class="form-control"/>
                                        <em>Provide the maintenance port range value from the default port; maintenance port = 4000 + 1000, minimum 1000.</em>
                                        <br/>

                                        <label><span class="icon icon-arrow-right2"></span> RandomInc </label>
                                        <input type="number" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.ports.randomInc"
                                               class="form-control"/>
                                        <em>When new services with no port are registered, random port number is assigned. Provide limit: minimum 100, maximum 990.</em>
                                    </div>
                                    <h4>Cookie</h4>
                                    <div class="grouped">
                                        <label><span class="icon icon-arrow-right2"></span> Secret </label>
                                        <input type="text" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.cookie.secret"
                                               class="form-control"/>
                                        <em>Enter the cookie secret phrase, used to encrypt cookie values, minimum 5 characters.</em>
                                    </div>
                                    <h4>Session</h4>
                                    <div class="grouped">
                                        <label><span class="icon icon-arrow-right2"></span> Name </label>
                                        <input type="text" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.session.name"
                                               class="form-control"/>
                                        <em>Specify a name for the session, minimum 5 characters.</em>
                                        <br/>
                                        <label><span class="icon icon-arrow-right2"></span> Secret </label>
                                        <input type="text" ng-required="true" tooltip=""
                                               placeholder="" ng-model="formEnvironment.services.config.session.secret"
                                               class="form-control"/>
                                        <em>Specify a secret phrase used to encrypt session values, minimum 5 characters.</em>
                                        <br/>

                                        <p><span class="icon icon-arrow-right2"></span>Cookie</p>
                                        <div class="grouped">

                                            <label><span class="icon icon-arrow-right"></span>Path </label>
                                            <input type="text" ng-required="true" tooltip=""
                                                   placeholder="" ng-model="formEnvironment.services.config.session.cookie.path"
                                                   class="form-control"/>
                                            <em>Specify path where cookies should be created.</em>
                                            <br/>
                                            <label><span class="icon icon-arrow-right"></span> Http Only </label>
                                            <input ng-required="true" name="cookie.httpOnly" type="radio" ng-model="formEnvironment.services.config.session.cookie.httpOnly" data-ng-value="true"/> True
                                            <input ng-required="true" name="cookie.httpOnly" type="radio" ng-model="formEnvironment.services.config.session.cookie.httpOnly" data-ng-value="false"/>
                                            False
                                            <br/><em>Choose if cookies should be used in HTTP mode only.</em><br />
                                            <label><span class="icon icon-arrow-right"></span> Secure </label>

                                            <input ng-required="true" name="cookie.secure" type="radio" ng-model="formEnvironment.services.config.session.cookie.secure" data-ng-value="true"/> True
                                            <input ng-required="true" name="cookie.secure" type="radio" ng-model="formEnvironment.services.config.session.cookie.secure" data-ng-value="false"/> False
                                            <br/><em>Choose if cookies should be encrypted.</em><br />
                                            <label><span class="icon icon-arrow-right"></span> Domain </label>
                                            <input type="text" ng-required="true" tooltip=""
                                                   placeholder="" ng-model="formEnvironment.services.config.session.cookie.domain"
                                                   class="form-control"/>
                                            <em>Specify the domain value that will be added in cookies.</em>
                                            <br/>
                                            <label><span class="icon icon-arrow-right"></span> Max Age </label>
                                            <input type="number" tooltip=""
                                                   placeholder="" ng-model="formEnvironment.services.config.session.cookie.maxAge"
                                                   class="form-control"/>
                                            <em>Specify the lifetime of a cookie in milliseconds, 0 is unlimited.</em>
                                            <br/>
                                        </div>
                                        <label><span class="icon icon-arrow-right2"></span> Resave </label>
                                        <input ng-required="true" name="cookie.resave" type="radio" ng-model="formEnvironment.services.config.session.resave" data-ng-value="true"/> True
                                        <input ng-required="true" name="cookie.resave" type="radio" ng-model="formEnvironment.services.config.session.resave" data-ng-value="false"/> False
                                        <br/><em>Choose if the session should be saved back to the session store, even if it was never modified during the request.</em><br />
                                        <label><span class="icon icon-arrow-right2"></span> Save Uninitialized </label>
                                        <input ng-required="true" name="cookie.saveUninitialized" type="radio" ng-model="formEnvironment.services.config.session.saveUninitialized" data-ng-value="true"/>
                                        True
                                        <input ng-required="true" name="cookie.saveUninitialized" type="radio" ng-model="formEnvironment.services.config.session.saveUninitialized" data-ng-value="false"/>
                                        False
                                        <br/><em>Choose Whether to force a session that is "uninitialized" to be saved to the store. More info on <a href="https://github.com/expressjs/session" target="_blank">Express Session</a></em>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer"><br/>
                <input ng-if="isAdd" type="submit" class="btn btn-sm btn-primary" ng-click="saveCreate()" value="Add Environment"/>
                <input ng-if="isEdit" type="submit" class="btn btn-sm btn-primary" ng-click="saveEdit()" value="Edit Environment"/>
            </div>
        </form>
    </div>
</section>
