<br/>
<fieldset>
    <h3>Platforms</h3>

    <div class='grid'>
        <alert type="warning" ng-if="row.deployer.type ==='manual'">
            This Environment is Configured to be deployed <b>Manually</b>. All Services running in this environment have to be started and stopped by the administrator.
        </alert>
        <alert type="warning" ng-if="row.deployer.type !== 'manual'">
            This Environment is Configured to use <b>{{row.deployer.type}}</b> Deployment.
        </alert>
        <br/>

        <div ng-init="getDeploymentMode(row.deployer, 'container');"></div>
        <fieldset>
            <legend>Container Drivers:</legend>
            <tabset>
                <tab ng-repeat="(driver, opts) in row.deployer.docker" ng-if="driver !== 'selected'" heading="{{driver}}" active="row.deployer.ui[driver]" ng-click="row.deployer.ui[driver] = true;">
                    <br/>
                    <div ng-bind-html="opts|object"></div>
                    <div ng-init="getDeploymentDriver(row.deployer, driver, 'docker' ,'container')"></div>
                </tab>
            </tabset>
        </fieldset>
        <fieldset>
            <legend>Docker Certificates:</legend>
            <div class="grid">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Length</th>
                            <th>Upload Date</th>
                        </tr>
                        <tr ng-repeat="cert in row.deployer.certificates" ng-class-even="'even'" ng-class-odd="'odd'" ng-if="row.deployer.certificates.length > 0">
                            <td ng-style="{'width': '30px'}"><a href="" class="icon icon-bin" ng-click="removeCert(cert._id)"/></td>
                            <td>{{cert.filename}}</td>
                            <td>{{cert.length}}</td>
                            <td>{{cert.uploadDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</fieldset>