<br/>
<fieldset>
    <h3>Platforms</h3>

    <div class='grid'>
        <alert type="warning" ng-if="row.deployer.type ==='manual'">
            This Environment is Configured to be deployed <b>Manually</b>. All Services running in this environment have to be started and stopped by the administrator.
        </alert>
        <br/>
        <accordion close-others="true">
            <div ng-init="getDeploymentMode(row.deployer, 'container');"></div>
            <accordion-group heading="Container Deployment" is-open="row.deployer.ui.container" ng-click="row.deployer.ui.container = true;">
                <fieldset class="f-left w30">
                    <legend>Docker :</legend>
                    <tabset>
                        <tab ng-repeat="(driver, opts) in row.deployer.container.docker" ng-if="driver !== 'selected'" heading="{{driver}}" active="row.deployer.ui[driver]" ng-click="row.deployer.ui[driver] = true;">
                            <br/>
                            <div ng-bind-html="opts|object"></div>
                            <div ng-init="getDeploymentDriver(row.deployer, driver, 'docker' ,'container')"></div>
                        </tab>
                    </tabset>
                </fieldset>
                <div class="w20 f-left">&nbsp;</div>
                <fieldset class="f-left w30">
                    <legend>Coreos:</legend>
                    <div class="redFlag">Coming Soon...</div>
                </fieldset>
                <div class="w20 f-left">&nbsp;</div>
            </accordion-group>

            <div ng-init="getDeploymentMode(row.deployer, 'cloud');"></div>
            <accordion-group heading="Cloud Deployment" is-open="row.deployer.ui.cloud" ng-click="row.deployer.ui.cloud = true;">
                <div class="redFlag">Coming Soon...</div>
            </accordion-group>
        </accordion>

    </div>
</fieldset>