<section ng-controller="environmentCtrl" ng-show="grid.rows">
    <span ng-if="access.addEnvironment"><a href="#/environments/environment" class="btn btn-primary">Add New Environment</a><br/><br/></span>

    <div class="entryBoxes">
        <div ng-repeat="row in grid.rows" class="entryBox">
            <div class="header">{{row['code']}}</div>
            <div class="body">
                <div class="description">
                    <a ng-click="expand(row)" href="" ng-hide="row.showOptions===true">
                        <span class="icon icon-plus" tooltip="Expand Environment"></span>
                    </a>
                    <a ng-click="collapse(row)" href="" ng-show="row.showOptions===true">
                        <span class="icon icon-minus" tooltip="Collapse Environment"></span>
                    </a>
                    {{row['description']}}
                </div>
                <br/>
                <tabset ng-show="row.showOptions===true">
                    <tab heading="Service Configuration">
                        <br/>

                        <div ng-if="row.services">
                            <table width="99%" align="center">
                                <tr>
                                    <td width="50%" valign="top">
                                        <fieldset>
                                            <label><h3>Service Configuration</h3></label>

                                            <div class="grid">
                                                <table width="100%">
                                                    <tr ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="(key, prop) in row.services.config track by key">
                                                        <td width="15%"><b>{{key|label}}</b></td>
                                                        <td ng-bind-html="prop|object"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td width="20%">&nbsp;</td>
                                    <td width="30%" valign="top">
                                        <fieldset>
                                            <label><h3>Controller</h3></label>

                                            <div class='grid'>
                                                <table width="100%">
                                                    <tr ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="(key, prop) in row.services.controller track by key">
                                                        <td><b>{{key|label}}</b></td>
                                                        <td align="right">{{prop}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </tab>
                    <tab heading="Database Configuration">
                        <br/>

                        <div>
                            <h3>Database Prefix:</h3>

                            <form name="databasePrefixForm" class="css-form" novalidate>
                                <table width="30%">
                                    <tr ng-if="access.dbs.updatePrefix">
                                        <td>
                                            <b>Prefix</b><br/>
                                            <input type="text" name="prefix" ng-model="row.dbs.config.prefix" value="{{row.dbs.config.prefix}}" class="form-control" placeholder="soajs_" tooltip="set or remove the database prefix value then click update."/>
                                        </td>
                                        <td valign="bottom" align="left">
                                            <input type="submit" class="btn btn-sm btn-primary f-left" value="Update" style="top:-2px;" ng-click="updateDbPrefix(row['code'], row.dbs.config.prefix)"/></td>
                                    </tr>
	                                <tr ng-if="!access.dbs.updatePrefix">
		                                <td>
			                                <b>Prefix</b>: <br/>
			                                <input disabled="true" type="text" name="prefix" ng-model="row.dbs.config.prefix" value="{{row.dbs.config.prefix}}" class="form-control" placeholder="soajs_" tooltip="set or remove the database prefix value then click update."/>
		                                </td>
	                                </tr>
                                </table>
                            </form>
                            <hr/>
                        </div>
                        <br/>

                        <h3>Session Database:</h3>
                        <ul class="blueListing" ng-if="row.dbs.config.session">
                            <li class="blueLi">
                                <div class="c-both w-100">
                                    <h4 class="f-left">{{row.dbs.config.session['name']}}</h4>
                                    <span class="rightActions">
                                        <a ng-if="access.dbs.delete" href="" ng-confirm-click="Are you sure you want to remove the selected database ?" ng-click="removeDatabase(row['code'], 'session');">
                                            <span class="icon icon-cross" tooltip="Remove Database"></span>
                                        </a>&nbsp;

                                        <a ng-if="access.dbs.update" href="" ng-click="editDatabase(row['code'], 'session', row.dbs.config.session)">
                                            <span class="icon icon-pencil2" tooltip="Edit Database"></span>
                                        </a>
                                    </span>
                                </div>
                                <div class="c-both w-100">
                                    <b>Cluster:</b>&nbsp;{{row.dbs.config.session['cluster']}}<br/>
                                    <b>Collection:</b>&nbsp;{{row.dbs.config.session['collection']}}<br/>
                                    <b>Expires After:</b>&nbsp;{{row.dbs.config.session['expireAfter']|TTL}} (hours)<br/>
                                    <b>stringify:</b>&nbsp;{{row.dbs.config.session['stringify']}}<br/>
                                    <b>Store:</b>&nbsp;<span ng-bind-html="row.dbs.config.session['store']|object"></span>
                                </div>
                            </li>
                        </ul>
                        <a ng-if="!row.dbs.config.session && access.dbs.add" ng-click="addDatabase(row['code'],true)" class="btn btn-sm btn-primary">Add Session Database</a><br/><br/>
                        <hr/>
                        <a ng-if="access.dbs.add" href="" ng-click="addDatabase(row['code'],false)" class="btn btn-sm btn-primary">Add New Database</a><br/><br/>
                        <h3>Database List:</h3>
                        <div class="entryBoxes entryBoxesGrid">
                            <div ng-repeat="(dbName, dbInfo) in row.dbs.databases track by dbName" class="dbBox">
                                <div class="head">
                                    <h4>{{dbName}}</h4>
                                    <span class="rightActions">
                                        <a ng-if="access.dbs.update" href="" ng-click="editDatabase(row['code'], dbName, dbInfo);">
                                            <span class="icon icon-pencil" tooltip="Edit Database"></span>
                                        </a>
                                        <a ng-if="access.dbs.delete" href="" ng-confirm-click="Are you sure you want to remove this database?" ng-click="removeDatabase(row['code'], dbName);">
                                            <span class="icon icon-cross" tooltip="Remove Database"></span>
                                        </a>
                                    </span>
                                </div>
                                <div class="info2">
                                    <b>Cluster:</b>&nbsp;{{dbInfo['cluster']}}<br/>
                                    <b>Tenant Specific:</b>&nbsp;{{dbInfo['tenantSpecific']}}
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Mongo Cluster">
                        <br/>
                        <a ng-if="access.clusters.add" href="" ng-click="addCluster(row['code'])" class="btn btn-sm btn-primary">Add New Cluster</a><br/><br/>
                        <div class="entryBoxes entryBoxesGrid">
                            <div ng-repeat="(clusterName, clusterInfo) in row.dbs.clusters track by clusterName" class="dbBox">
                                <div class="head">
                                    <h4>{{clusterName}}</h4>
                                    <span class="rightActions">
                                        <a ng-if="access.clusters.update" href="" ng-click="editCluster(row['code'], clusterName, clusterInfo);">
                                            <span class="icon icon-pencil" tooltip="Edit Cluster"></span>
                                        </a>
                                        <a ng-if="access.clusters.delete" href="" ng-confirm-click="Are you sure you want to remove this cluster?" ng-click="removeCluster(row['code'], clusterName);">
                                            <span class="icon icon-cross" tooltip="Remove Cluster"></span>
                                        </a>
                                    </span>
                                </div>
                                <div class="info2" ng-bind-html="clusterInfo|object"></div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Services Hosts" ng-click="listHosts(row['code'])">
                        <script type="text/ng-template" id="serviceInfoBox.html">
                            <div class="modal-header">
                                <h3 class="modal-title">{{title}}</h3>
                            </div>
                            <div class="modal-body"><pre><code class="javascript">{{data}}</code></pre></div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">OK</button>
                            </div>
                        </script>
                        <div class="entryBoxes entryBoxesGrid" ng-init="">
                            <div ng-repeat="(serviceName, serviceInfo) in row.hosts track by serviceName">
                                <div ng-if="serviceName ==='controller'" style="width: 100%; display:table;">
                                    <div style="width: 100%;" class="{{serviceInfo.color}}"><span class="icon" ng-class="serviceInfo.healthy===true? 'icon-smile2': 'icon-sad2'"></span>&nbsp;{{serviceName}}
                                    </div>
                                    <div ng-repeat="oneIp in serviceInfo.ips" style="float:left;">
                                        <table border="1" cellpadding="2" cellspacing="1">
                                            <tr>
                                                <td><span class="icon {{oneIp.color}}" ng-class="oneIp.heartbeat === true? 'icon-smile' : 'icon-sad'"></span></td>
                                                <td><span class="{{oneIp.color}}">{{oneIp.ip}}:{{serviceInfo.port}}</span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <a href="" ng-click="executeHeartbeatTest(row['code'], oneIp)" title="Execute Heartbeat Operation"><span class="icon icon-heart"></span>&nbsp;</a>

                                                    <a href="" ng-if="oneIp.heartbeat === true" ng-click="executeAwarenessTest(row['code'], oneIp)" title="Execute Awareness Operation"><span class="icon icon-connection"></span>&nbsp;
                                                    </a>

                                                    <a href="" ng-if="oneIp.heartbeat === true" ng-click="reloadRegistry(row['code'], oneIp)" title="Reload Registry Operation"><span class="icon icon-undo"></span>&nbsp;
                                                    </a>

                                                    <a href="" ng-if="!oneIp.heartbeat || oneIp.heartbeat === false" ng-confirm-click="Are you sure you want to remove this host?" ng-click="removeHost(row['code'], oneIp)"><span class="icon icon-cross" title="Remove Host IP"></span></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div ng-if="serviceName !== 'controller'">
                                    <div style="width: 100%;" class="{{serviceInfo.color}}"><span class="icon" ng-class="serviceInfo.healthy===true? 'icon-smile2': 'icon-sad2'"></span>&nbsp;{{serviceName}}
                                    </div>
                                    <div ng-repeat="oneIp in serviceInfo.ips">
                                        <table border="0" width="100%" cellpadding="2" cellspacing="1">
                                            <tr>
                                                <td width="25%" valign="top">
                                                    <table width="100%" border="1" cellpadding="2" cellspacing="1">
                                                        <thead>
                                                            <tr>
                                                                <th>Actions</th>
                                                                <th>Host IP</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <td valign="top">
                                                                <a href="" ng-click="executeHeartbeatTest(row['code'], oneIp)" title="Execute Heartbeat Operation"><span class="icon icon-heart"></span>&nbsp;</a>
                                                                <a href="" ng-if="oneIp.healthy === true" ng-click="reloadRegistry(row['code'], oneIp)" title="Reload Registry Operation"><span class="icon icon-undo"></span>&nbsp;
                                                                </a>

                                                                <a href="" ng-if="oneIp.healthy === true" ng-click="loadProvisioning(row['code'], oneIp)" title="Load Provisioning Operation"><span class="icon icon-download3"></span>&nbsp;
                                                                </a>

                                                                <a href="" ng-if="!oneIp.healthy || oneIp.healthy === false" ng-confirm-click="Are you sure you want to remove this host?" ng-click="removeHost(row['code'], oneIp)"><span class="icon icon-cross" title="Remove Host IP"></span></a>
                                                            </td>
                                                            <td valign="top"><span class="{{oneIp.color}}">{{oneIp.ip}}:{{serviceInfo.port}}</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="75%">
                                                    <table width="100%" border="1" cellpadding="2" cellspacing="1">
                                                        <thead>
                                                            <tr>
                                                                <th width="15%">Controller</th>
                                                                <th width="15%">Status</th>
                                                                <th width="15%">Last Check</th>
                                                                <th width="40%">Down Since</th>
                                                                <th width="15%">Down Count</th>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="oneController in oneIp.controllers" ng-class="{'first': $first, 'last': $last}" ng-class-odd="'odd'" ng-class-even="'even'">
                                                            <td><span class="{{oneController.color}}">{{oneController.ip}}</span></td>
                                                            <td><span class="{{oneController.color}}">{{oneController.color === 'green' ? 'Healthy': 'Not Healthy'}}</span></td>
                                                            <td><span>{{oneIp.lastCheck}}</span></td>
                                                            <td><span>{{oneIp.downSince}}</span></td>
                                                            <td><span>{{oneIp.downCount}}</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <br/>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </tab>
                </tabset>
                <div class="entryAction">

                    <a ng-if="access.editEnvironment" href="" ng-click="updateEnvironment(row);">
                        <span class="icon icon-pencil2" tooltip="Edit Environment"></span>
                    </a>

                    <a  ng-if="access.deleteEnvironment" href="" ng-confirm-click="Are you sure you want to remove this environment?" ng-click="removeEnvironment(row);">
                        <span class="icon icon-cross" tooltip="Remove Environment"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>