<br/>
<div ng-if="row.services">
    <fieldset>
        <div class="grid">
            <h3>Reload Registry</h3>
            <p>The following configuration is modified every time a reloadRegistry maintenance operation is executed on a service.</p>
            <table width="100%">
                <tr class="first odd">
                    <td width="6%" valign="top"><b>Awareness</b></td>
                    <td width="44%" valign="top" ng-bind-html="row.services.config.awareness|object"></td>
                    <td width="6%" valign="top"><b>Cors</b></td>
                    <td width="44%" valign="top" ng-bind-html="row.services.config.cors|object"></td>
                </tr>
                <tr class="even">
                    <td valign="top"><b>Key</b></td>
                    <td valign="top" ng-bind-html="row.services.config.key|object"></td>
                    <td valign="top"><b></b></td>
                    <td valign="top"></td>
                </tr>
            </table>
        </div>
    </fieldset>
    <br/>
    <fieldset>
        <div class="grid">
            <h3>Restart Service</h3>
            <p>The following configuration is not affected by reloadRegistry maintenance operation and requires a service restart so that its content is modified.</p>
            <table width="100%">
                <tr class="first odd">
                    <td width="6%" valign="top"><b>Cookie</b></td>
                    <td width="44%" valign="top" ng-bind-html="row.services.config.cookie|object"></td>
                    <td width="6%" valign="top"><b>oAuth</b></td>
                    <td width="44%" valign="top" ng-bind-html="row.services.config.oauth|object"></td>
                </tr>
                <tr class="even">
                    <td valign="top"><b>Logger</b></td>
                    <td valign="top" ng-bind-html="row.services.config.logger|object"></td>
                    <td valign="top"><b>Ports</b></td>
                    <td valign="top" ng-bind-html="row.services.config.ports|object"></td>
                </tr>
                <tr class="odd">
                    <td valign="top"><b>Session</b></td>
                    <td valign="top" ng-bind-html="row.services.config.session|object"></td>
                    <td valign="top"><b>Controller</b></td>
                    <td valign="top" ng-bind-html="row.services.controller|object"></td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>