<section ng-controller="environmentCtrl" ng-show="grid.rows">
    <span ng-if="access.addEnvironment"><a href="" ng-click="addEnvironment()" class="btn btn-primary">Add New Environment</a><br/><br/></span>

    <div class="entryBoxes">
        <div ng-repeat="row in grid.rows" class="entryBox">
            <div class="header">{{row['code']}} / Profile : {{row.profileLabel}} / Port: {{row.port}}</div>
            <div class="body">
                <div class="description">
                    <a ng-click="expand(row)" href="" ng-hide="row.showOptions===true">
                        <span class="icon icon-plus" tooltip="Expand Environment"></span>
                    </a>
                    <a ng-click="collapse(row)" href="" ng-show="row.showOptions===true">
                        <span class="icon icon-minus" tooltip="Collapse Environment"></span>
                    </a>
                    {{row['description']}}
                </div>
                <br/>
                <tabset ng-show="row.showOptions===true">
                    <tab heading="Service Configuration">
                        <div ng-include="'modules/environments/directives/list-service-config.tmpl'"></div>
                    </tab>
                    <tab heading="Deployment Platforms" ng-if="access.dbs.list">
                        <div ng-include="'modules/environments/directives/list-deployment.tmpl'"></div>
                    </tab>
                    <tab heading="Database Configuration" ng-if="access.dbs.list">
                        <div ng-include="'modules/environments/directives/list-databases.tmpl'"></div>
                    </tab>
                    <tab heading="Mongo Cluster" ng-if="access.clusters.list">
                        <div ng-include="'modules/environments/directives/list-clusters.tmpl'"></div>
                    </tab>
                    <tab heading="Services Hosts" ng-if="access.listHosts" ng-click="listHosts(row.code)">
                        <div ng-include="'modules/environments/directives/list-hosts.tmpl'"></div>
                    </tab>
                </tabset>
                <div class="entryAction">

                    <a ng-if="access.editEnvironment" href="" ng-click="updateEnvironment(row);">
                        <span class="icon icon-pencil2" tooltip="Edit Environment"></span>
                    </a>

                    <a  ng-if="access.deleteEnvironment" href="" ng-confirm-click="Are you sure you want to remove this environment?" ng-click="removeEnvironment(row);">
                        <span class="icon icon-cross" tooltip="Remove Environment"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>