.greenRecipeBox{
    border: solid 1px #3c763d !important;
}

.greenRecipeBox .header{
    background-color: #dff0d8 !important;
    border-bottom-color:#3c763d !important;
}

.redRecipeBox{
    border: solid 1px #c9302c !important;
}

.redRecipeBox .header{
    background-color: #f2dede !important;
    border-bottom-color:#c9302c !important;
}

.mr-10{
    margin-right:10px;
}

.grid .table {
    margin: 2px 0;
}
.grid .table .row{
    margin: 0;
    height: 70px;
    padding: 10px;
    line-height: 22px;
}
.grid .table .row.first {
    border-top: solid 1px #cccccc;
}

.grid .table .row.last {
    border-bottom: solid 1px #cccccc;
}

.grid .table .row.even {
    background-color: #f8f8f8;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}

.grid .table .row.notread,
.grid .table .row:hover {
    background-color: lightgoldenrodyellow;
}

.grid .table .row.updateError,
.grid .table .row.updateError:hover {
    background-color: #f2dede;
}

.mt-5{
    margin-top:5px;
}


.customEntryBox {
    width: 100% !important;
    padding-left: 0px !important;
}

.entryBox{
    border: solid 1px #cccccc;
    position: relative;
    border-radius: 8px;
    margin-bottom: 15px;
}

.configCd .entryServiceBoxes .service-container .serviceNameHead{
    background-color: white;
    border-bottom: none;
}
.configCd .serviceNameHead .serviceName{
    width: 30%;
}
.configCd .form-control {
    display: inline;
    width: auto;
    height: auto;
    padding-bottom: 3px;
    padding-top: 4px;
}

.configCd .entryServiceBoxes {
    margin-top: 10px;
}

.configCd label,
.configCd .entryServiceBoxes .service-container label {
    font-weight: bold;
    padding-bottom: 2px;
}

.configCd select.form-control {
    margin-top: 3px;
    margin-bottom: 5px;
    min-width: 120px;
}

.configCd .thirdPage {
    float: left;
    width: 30%;
}

.configCd .halfPage {
    float: left;
    width: 35%;
}
.configCd .branchLabel{
    padding-top: 8px;
}

.font-16{
    font-size:16px;
}

.font-14{
    font-size:14px;
}

a.readBox{
    height: 40px;
    display: block;
    width: 30px;
    float: left;
}