.greenRecipeBox{
    border: solid 1px #3c763d !important;
}

.greenRecipeBox .header{
    background-color: #dff0d8 !important;
    border-bottom-color:#3c763d !important;
}

.redRecipeBox{
    border: solid 1px #c9302c !important;
}

.redRecipeBox .header{
    background-color: #f2dede !important;
    border-bottom-color:#c9302c !important;
}

.mr-10{
    margin-right:10px;
}

.grid .table {
    margin: 2px 0;
}
.grid .table .row{
    margin: 0;
    height:55px;
    padding:10px;
}
.grid .table .row.first {
    border-top: solid 1px #cccccc;
}

.grid .table .row.last {
    border-bottom: solid 1px #cccccc;
}

.grid .table .row.even {
    background-color: #f8f8f8;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}

.grid .table .row.notread,
.grid .table .row:hover {
    background-color: lightgoldenrodyellow;
}

.mt-5{
    margin-top:5px;
}

.configCd .entryServiceBoxes .service-container .serviceNameHead{
    background-color: white;
    border-bottom: none;
}
.configCd .serviceNameHead .serviceName{
    width: 30%;
}
.configCd .form-control {
    display: inline;
    width: auto;
    height: auto;
    padding-bottom: 3px;
    padding-top: 4px;
}

.configCd .entryServiceBoxes {
    margin-top: 10px;
}

.configCd label,
.configCd .entryServiceBoxes .service-container label {
    font-weight: bold;
    padding-bottom: 2px;
}

.configCd select.form-control {
    margin-top: 3px;
    margin-bottom: 5px;
    min-width: 120px;
}

.configCd .halfPage {
    float: left;
    width: 35%;
}
.configCd .branchLabel{
    padding-top: 8px;
}