<label>{{entry.label}}</label>

<div ng-repeat="i in [] | range: (entry.limit> 0)? entry.limit : 1" class="table c-both w100" ng-class-odd="'file-odd'" ng-class-even="'file-even'">
    <div ng-if="entry.value[i]" class="f-left file-actions">
        <b>{{entry.value[i].filename}}</b>&nbsp;
        <a href="" ng-click="form.downloadFile(entry.value[i],'document')" target="_blank" title="Click to Download {{entry.value[i].filename}}">
            <span class="icon icon-download3" title="Download {{entry.value[i].filename}}"></span>
        </a>&nbsp;
        <a href="" ng-confirm-click="Are you sure you want to remove this file ?" ng-click="form.removeFile(entry, i)"
           target="_blank" title="Remove File">
            <span class="icon icon-cross" title="Remove File"></span>
        </a>&nbsp;
        <!--<audio controls>-->
            <!--<source src="{{entry.value[i].f}}" type="audio/mp3">-->
            <!--Your browser does not support the audio tag.-->
        <!--</audio>-->
    </div>
    <input type="file" class="form-control" id="{{entry.name}}_{{i}}" name="{{entry.name}}_{{i}}"
           file-model="form.formData[entry.name+'_'+i]" tooltip="{{entry.tooltip}}" multiple="multiple" ng-if="entry.disabled" disabled/>
	<input type="file" class="form-control" id="{{entry.name}}_{{i}}" name="{{entry.name}}_{{i}}"
           file-model="form.formData[entry.name+'_'+i]" tooltip="{{entry.tooltip}}" multiple="multiple" ng-if="!entry.disabled"/>
</div>
<div ng-show="entry.fieldMsg" class="fieldMsg hint" ng-bind-html="entry.fieldMsg|toTrustedHtml"></div>
<div ng-if="entry.addMore">
    <input type="button" ng-click="form.addNewInput(entry);" value="Add Another" class="btn btn-sm btn-success" ng-if="entry.disabled" disabled/>
    <input type="button" ng-click="form.addNewInput(entry);" value="Add Another" class="btn btn-sm btn-success" ng-if="!entry.disabled"/>
</div>