<label>{{entry.label}}</label>

<div ng-repeat="i in [] | range: (entry.limit> 0)? entry.limit : 1" class="table c-both w100" ng-class-odd="'file-odd'" ng-class-even="'file-even'">
    <div ng-if="entry.value[i]" class="f-left file-actions">
        <b>{{entry.value[i].n}}</b>&nbsp;
        <a href="{{entry.value[i].f}}" target="_blank" title="Click to Open File">
            <span class="icon icon-file-text" title="Click to Open File"></span>
        </a>&nbsp;
        <a href="" ng-confirm-click="Are you sure you want to remove this file ?" ng-click="form.removeFile(entry, i)"
           target="_blank" title="Remove File">
            <span class="icon icon-cross" title="Remove File"></span>
        </a>&nbsp;
    </div>
    <input type="file" class="form-control" id="{{entry.name}}_{{i}}" name="{{entry.name}}_{{i}}"
           file-model="form.formData[entry.name+'_'+i]" tooltip="{{entry.tooltip}}" multiple="multiple"/>
</div>
<div ng-show="entry.fieldMsg" class="fieldMsg hint" ng-bind-html="entry.fieldMsg|toTrustedHtml"></div>
<div ng-if="entry.addMore">
    <input type="button" ng-click="form.addNewInput(entry);" value="Add Another" class="btn btn-sm btn-success"/>
</div>