<label>{{entry.label}}</label>
<div ng-if="entry.value">
	<div text-angular ng-model="form.formData[entry.name]" ng-required="entry.required">{{entry.value}}</div>
</div>
<div ng-if="!entry.value">
	<div text-angular ng-model="form.formData[entry.name]" ng-required="entry.required"></div>
</div>
<div ng-show="entry.fieldMsg" class="fieldMsg hint" ng-bind-html="entry.fieldMsg|toTrustedHtml"></div>