<label class="f-left">{{entry.label}}</label>
<div id="{{entry.name}}" ui-ace="{maxLines: Infinity, useWrapMode : true, showGutter: true, mode: 'json', firstLineNumber: 1, onLoad: entry.onLoad}" ng-model="entry.ngModel"></div>
<div ng-if="entry.fieldMsg" class="fieldMsg hint" ng-bind-html="entry.fieldMsg|toTrustedHtml"></div>
