<label>{{entry.label}}</label>
<textarea id="{{entry.name}}" name="{{entry.name}}" rows="{{entry.rows}}" ng-model="form.formData[entry.name]" class="form-control" placeholder="{{entry.placeholder}}" tooltip="{{entry.tooltip}}" ng-required="entry.required" ng-click="form.call(entry.onAction, entry.name , form.formData[entry.name], form )">
	{{entry.value}}
</textarea>
<div ng-show="entry.fieldMsg" class="fieldMsg hint" ng-bind-html="entry.fieldMsg|toTrustedHtml"></div>