<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body table">
    <div ng-bind-html="data|object"></div>
    <hr/>
    <div ng-if="files" ng-repeat="(fieldName, info) in files">
        <div class="c-both w100 wrapper-{{info.type}}" ng-if="info.info && info.info.length > 0">
            <b ng-if="info.info.length > 0">{{info.label}}</b><br/>
            <ul id="preview">
                <li ng-repeat="oneFile in info.info" ng-switch="info.type">
                    <div ng-switch-when="document">
                        <a href="" ng-click="downloadFile(oneFile, 'document')" title="{{translation.clickOpenFile[LANG]}}">{{oneFile.filename}}</a>&nbsp;[ {{oneFile.length}} ]
                    </div>
                    <div ng-switch-when="image" class="f-left imageBox">
                        <a href="" ng-click="downloadFile(oneFile, 'document')" target="_blank" title="{{translation.clickOpenImage[LANG]}}">
                            <div ng-init="downloadFile(oneFile, 'image')"></div>
                            <img ng-src="{{oneFile.src}}" width="100"/>
                        </a><br />
                        <a href="" ng-click="downloadFile(oneFile, 'document')" target="_blank" title="{{translation.clickOpenImage[LANG]}}">{{oneFile.filename}}</a>&nbsp;[ {{oneFile.length}} ]
                    </div>
                    <div ng-switch-when="audio" class="f-left audioBox">
                        <div ng-init="downloadFile(oneFile, 'audio')" id="aud_{{oneFile.id}}" ng-bind-html="oneFile.print | toTrustedHtml"></div>
                        <a href="" ng-click="downloadFile(oneFile, 'document')" target="_blank" title="{{translation.clickDownloadAudioTrack[LANG]}}">{{oneFile.filename}}</a>&nbsp;[ {{oneFile.length}} ]
                    </div>
                    <div ng-switch-when="video">
                        <div ng-init="downloadFile(oneFile, 'video')" id="vid_{{oneFile.id}}" ng-bind-html="oneFile.print | toTrustedHtml"></div>
                        <a href="" ng-click="downloadFile(oneFile, 'document')" target="_blank" title="{{translation.clickDownloadVideo[LANG]}}">{{oneFile.filename}}</a>&nbsp;[ {{oneFile.length}} ]
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="f-left t-left">
        <p>
            <b>{{translation.author[LANG]}}:&nbsp;</b>{{author}}<br/>
            <b>{{translation.createdOn[LANG]}}:</b>&nbsp;{{created|date}}<br/>
            <span ng-if="modified"><b>{{translation.lastModified[LANG]}}:</b>&nbsp;{{modified|date}}<br/></span>
        </p>
    </div>
    <button class="btn btn-primary f-right" ng-click="ok()">Close</button>
</div>