<!doctype html>
<html lang="en" ng-app="soajsApp">
<head>
	<meta charset="utf-8">
	<title>SOAJS: {{query}}</title>
	<link rel="icon" type="image/png" href="images/favicon.png">

	<link rel="stylesheet" href="app/css/bootstrap.min.css">
	<link rel="stylesheet" href="app/css/highlight.min.css">
	<link rel='stylesheet prefetch' href='app/css/font-awesome.min.css'>
	<link rel='stylesheet' href='lib/form/scripts/textAngular.css'>
	<link rel="stylesheet" href="app/css/datetimepicker.css"/>
	<link rel="stylesheet" href="app/scripts/jsoneditor/dist/jsoneditor.min.css"></link>

	<script src="app/scripts/jquery.min.js"></script>
	<script src="app/scripts/jquery.cookie.min.js"></script>
	<script src="app/translation.js"></script>

	<script src="app/scripts/angular.min.js"></script>
	<script src="app/scripts/ui-bootstrap-tpls-0.13.4.min.js"></script>
	<script src="app/scripts/bootstrap.min.js"></script>
	<script src="app/scripts/angular-route.min.js"></script>
	<script src="app/scripts/angular-cookies.min.js"></script>
	<script src="app/scripts/ngStorage.js"></script>
	<script src="app/scripts/angular-sanitize.min.js"></script>
	<script src="app/scripts/ng-file-upload-shim.min.js"></script>
	<script src="app/scripts/ng-file-upload.min.js"></script>
	<script src="app/scripts/moment.min.js"></script>
	<script src="app/scripts/moment-timezone-with-data.js"></script>
	<script src="app/scripts/datetimepicker.js"></script>
	<script src="app/scripts/datetimepicker.templates.js"></script>
	<script src="app/scripts/scrollglue.js"></script>
	<script src="app/scripts/angular-sortable-view.min.js"></script>

	<script src="app/scripts/jsoneditor/dist/jsoneditor.min.js"></script>
	<script src="app/scripts/ng-jsoneditor.js"></script>

	<script src='lib/form/scripts/textAngular-rangy.min.js'></script>
	<script src='lib/form/scripts/textAngular-sanitize.min.js'></script>
	<script src='lib/form/scripts/textAngular.min.js'></script>

	<script src="app/scripts/highlight.min.js"></script>
	<script src="app/scripts/require.js"></script>

	<script src="config.js"></script>
	<script src="app/navigation.js"></script>

	<script src="app/controller.js"></script>
	<script src="app/services.js"></script>
	<script src="app/filters.js"></script>

	<link rel="stylesheet" href="lib/grid/grid.css">
	<script src="lib/grid/grid.js"></script>

	<link rel="stylesheet" href="lib/form/form.css">
	<script src="lib/form/form.js"></script>

	<script src="modules/common.js"></script>
</head>
<body ng-controller="soajsAppController as soajsAppCtrl">
	<overlay></overlay>
	<header></header>
	<content></content>
	<footer></footer>
</body>
</html>
